In [ ]:
import signals.futures_signals as fs
import signals.utils as su
signals_output = fs.get_futures_butterfly_signals(ticker_list=['LNJ2016','LNN2016','LNV2016'],date_to=20160217)

price_ratio = signals_output['price_ratio']
price_ratio

In [1]:
import opportunity_constructs.utilities as ocu
aligned_output = ocu.get_aligned_futures_data(contract_list=['NGU2016','NGX2016','NGF2017'],aggregation_method=12,contracts_back=10,date_to=20160218)
#aligned_output = ocu.get_aligned_futures_data(contract_list=['HOV2007','HOX2007'],aggregation_method=12,contracts_back=10,date_to=20070420)
aligned_data = aligned_output['aligned_data']
bf_price = aligned_data['c1']['close_price']+aligned_data['c3']['close_price']-2*aligned_data['c2']['close_price']
#bf_price = aligned_data['c1']['close_price']-aligned_data['c2']['close_price']
#bf_price_recent = bf_price[1:]
#aligned_data_recent = aligned_data[1:]
import matplotlib.pyplot as plt
plt.plot(bf_price)
plt.grid()         
         
plt.show()

In [4]:
aligned_data[bf_price<0.1]

                  c1                                                      \
              ticker ticker_head ticker_month ticker_year cal_dte tr_dte
settle_date
2006-12-06   NGU2007          NG            9        2007     266    183
2006-12-08   NGU2007          NG            9        2007     264    181
2006-12-12   NGU2007          NG            9        2007     260    179
2006-12-27   NGU2007          NG            9        2007     245    169
2006-12-29   NGU2007          NG            9        2007     243    167
2007-01-04   NGU2007          NG            9        2007     237    164
2007-01-24   NGU2007          NG            9        2007     217    151
2007-02-27   NGU2007          NG            9        2007     183    128
2009-12-03   NGU2010          NG            9        2010     267    184
2009-12-04   NGU2010          NG            9        2010     266    183
2009-12-07   NGU2010          NG            9        2010     263    182
2009-12-08   NGU2010          NG            9        2010     262    181
2009-12-09   NGU2010          NG            9        2010     261    180
2009-12-10   NGU2010          NG            9        2010     260    179
2009-12-11   NGU2010          NG            9        2010     259    178
2009-12-14   NGU2010          NG            9        2010     256    177

                                                     ...            c3  \
            close_price volume cont_indx change1     ...     cont_indx
settle_date                                          ...
2006-12-06        7.893    201    200709   0.027     ...        200801
2006-12-08        7.996     92    200709  -0.060     ...        200801
2006-12-12        7.790    106    200709   0.075     ...        200801
2006-12-27        6.918      0    200709   0.048     ...        200801
2006-12-29        7.018    245    200709  -0.092     ...        200801
2007-01-04        7.039    188    200709   0.133     ...        200801
2007-01-24        7.554    330    200709   0.066     ...        200801
2007-02-27        7.890    416    200709   0.090     ...        200801
2009-12-03        5.016   5143    201009   0.344     ...        201101
2009-12-04        5.128   6947    201009   0.073     ...        201101
2009-12-07        5.472   1632    201009  -0.165     ...        201101
2009-12-08        5.545   1434    201009   0.331     ...        201101
2009-12-09        5.380   3213    201009  -0.104     ...        201101
2009-12-10        5.711   1804    201009   0.150     ...        201101
2009-12-11        5.607   2091    201009   0.116     ...        201101
2009-12-14        5.757   1347    201009  -0.073     ...        201101

                                                                         \
            change1 change2 change5 change10 change20 change_5 change_1
settle_date
2006-12-06    0.016  -0.087   0.031   -0.309   -0.629      NaN    0.149
2006-12-08    0.098   0.120  -0.142   -0.622   -0.347   -0.195    0.016
2006-12-12   -0.002  -0.118  -0.347   -0.802   -0.600    0.239    0.098
2006-12-27    0.168   0.053   0.037    0.202    0.252   -0.507   -0.095
2006-12-29    0.014  -0.018   0.212      NaN    0.518   -0.292    0.168
2007-01-04    0.103   0.228   0.165    0.353    0.503    0.070   -0.032
2007-01-24    0.246   0.182   0.480    0.784    0.828      NaN   -0.170
2007-02-27    0.024   0.009   0.125    0.005    0.470   -0.118   -0.176
2009-12-03    0.314   0.345   0.349    0.543      NaN   -0.545   -0.093
2009-12-04    0.031  -0.126   0.158    0.132    0.252   -0.440    0.107
2009-12-07   -0.157   0.082   0.198    0.122    0.130    0.080    0.314
2009-12-08    0.239   0.161   0.282    0.343    0.275    0.178    0.031
2009-12-09   -0.078   0.045   0.132    0.053   -0.136    0.202   -0.157
2009-12-10    0.123   0.194   0.194    0.270    0.009    0.534    0.239
2009-12-11    0.071  -0.002  -0.026    0.046    0.000    0.349   -0.078
2009-12-14   -0.073   0.016  -0.076   -0.104   -0.151    0.158    0.123

            tr_dte_match settle_date

settle_date
2006-12-06            49  2006-12-06
2006-12-08            47  2006-12-08
2006-12-12            45  2006-12-12
2006-12-27            35  2006-12-27
2006-12-29            33  2006-12-29
2007-01-04            30  2007-01-04
2007-01-24            17  2007-01-24
2007-02-27             6  2007-02-27
2009-12-03            50  2009-12-03
2009-12-04            49  2009-12-04
2009-12-07            48  2009-12-07
2009-12-08            47  2009-12-08
2009-12-09            46  2009-12-09
2009-12-10            45  2009-12-10
2009-12-11            44  2009-12-11
2009-12-14            43  2009-12-14

[16 rows x 50 columns]

In [21]:
import opportunity_constructs.spread_carry as sc

#spread_carry_output = sc.generate_spread_carry_sheet_4date(report_date=20160225)
#spread_report = spread_carry_output['spread_report']
#ticker_head_list = list(spread_report['tickerHead'].unique())
# Compare BO and S sizing

spread_report[spread_report['tickerHead']==ticker_head_list[19]]
spread_report[spread_report['tickerHead']=='CC']

,ticker1,ticker2,tickerHead,front_tr_dte,carry,q_carry,reward_risk,price,q,upside,downside,change5,change10,change20
0,CCH2016,CCK2016,CC,13,NaN,NaN,NaN,-8,62,305.00,-195.00,NaN,NaN,NaN
1,CCK2016,CCN2016,CC,55,-120,-14,-0.20,4,76,70.00,-169.25,NaN,NaN,NaN
2,CCN2016,CCU2016,CC,97,-90,-6,-0.11,13,82,94.25,-205.00,NaN,NaN,NaN
3,CCU2016,CCZ2016,CC,141,-210,-10,-0.21,34,92,115.00,-144.25,NaN,NaN,NaN
4,CCZ2016,CCH2017,CC,204,60,2,0.05,28,90,114.25,-100.00,NaN,NaN,NaN

In [2]:
import contract_utilities.expiration as exp
exp.get_futures_expiration('GCZ2021')

datetime.datetime(2021, 12, 28, 0, 0)

In [1]:
import my_sql_routines.futures_price_loader as fpl
import shared.calendar_utilities as cu
fpl.update_futures_price_database_from_cme_file()

In [3]:
import read_exchange_files.process_cme_futures as pcf
import read_exchange_files.read_cme_files as rcf
cme_output = pcf.process_cme_futures_4tickerhead(ticker_head='RB', report_date=20160225)
#data_read_out = rcf.read_cme_future_settle_csv_files(file_name='nymex_futures', report_date=20160224)
#title_frame = data_read_out['title_frame']
#title_frame
#title_frame[title_frame['ticker_head']=='LN']

#data_read_out[data_read_out['ticker_head']=='CL']

#data_read_out['month_strike_list'][68]
cme_output['settle_frame']

,ticker_head,ticker_year,ticker_month,settle,open,high,low,volume,interest,ticker
10594,RB,2016,3,1.0560,1.0173,1.0650,0.9955,18457,17517,RBH2016
10595,RB,2016,4,1.3122,1.2786,1.3209,1.2592,58991,110435,RBJ2016
10596,RB,2016,5,1.3363,1.3036,1.3454,1.2836,28986,60415,RBK2016
10597,RB,2016,6,1.3415,1.3092,1.3504,1.2887,26397,39739,RBM2016
10598,RB,2016,7,1.3345,1.3056,1.3415,1.2858,12400,30659,RBN2016
10599,RB,2016,8,1.3180,1.2897,1.3266,1.2686,10616,26916,RBQ2016
10600,RB,2016,9,1.2914,1.2569,1.3020,1.2435,11797,30299,RBU2016
10601,RB,2016,10,1.1566,1.1188,1.1599,1.1136,4227,17696,RBV2016
10602,RB,2016,11,1.1288,1.0923,1.1312,1.0873,2517,12269,RBX2016
10603,RB,2016,12,1.1145,1.0900,1.1211,1.0697,5448,32398,RBZ2016
10604,RB,2017,1,1.1194,1.0894,1.1216,1.0815,641,4686,RBF2017
10605,RB,2017,2,1.1368,1.1136,1.1271,1.1035,400,1711,RBG2017
10606,RB,2017,3,1.1628,1.1200,1.1559,1.1200,402,1687,RBH2017
10607,RB,2017,4,1.3834,1.3633,1.3783,1.3514,55,1651,RBJ2017
10608,RB,2017,5,1.3987,1.3786,1.3888,1.3668,96,1817,RBK2017
10609,RB,2017,6,1.3977,1.3703,1.3978,1.3592,262,3359,RBM2017
10610,RB,2017,7,1.3870,1.3618,1.3811,1.3535,52,1487,RBN2017
10611,RB,2017,8,1.3679,1.3430,1.3744,1.3372,66,874,RBQ2017
10612,RB,2017,9,1.3408,1.3142,1.3280,1.3091,66,1187,RBU2017
10613,RB,2017,10,1.2033,1.1762,1.1940,1.1739,64,588,RBV2017
10614,RB,2017,11,1.1741,1.1530,1.1645,1.1457,81,616,RBX2017
10615,RB,2017,12,1.1561,1.1424,1.1580,1.1207,732,9191,RBZ2017
10616,RB,2018,1,1.1609,NaN,1.1522,1.1337,2,570,RBF2018
10617,RB,2018,2,1.1779,NaN,1.1713,1.1509,0,209,RBG2018
10618,RB,2018,3,1.2104,NaN,NaN,1.1931,0,212,RBH2018
10619,RB,2018,4,1.4324,NaN,NaN,1.4151,0,375,RBJ2018
10620,RB,2018,5,1.4474,NaN,NaN,1.4301,0,104,RBK2018
10621,RB,2018,6,1.4499,NaN,NaN,1.4326,0,399,RBM2018
10622,RB,2018,7,1.4359,NaN,NaN,NaN,0,106,RBN2018
10623,RB,2018,8,1.4144,NaN,NaN,NaN,0,63,RBQ2018
10624,RB,2018,9,1.3849,NaN,NaN,NaN,0,62,RBU2018
10625,RB,2018,10,1.2434,NaN,NaN,NaN,0,68,RBV2018
10626,RB,2018,11,1.2114,NaN,NaN,NaN,0,62,RBX2018
10627,RB,2018,12,1.1884,1.1872,1.1872,1.1598,3,1523,RBZ2018
10628,RB,2019,1,1.1934,NaN,NaN,NaN,0,6,RBF2019
10629,RB,2019,2,1.2064,NaN,NaN,NaN,0,0,RBG2019
10630,RB,2019,3,1.2259,NaN,NaN,NaN,0,0,RBH2019
10631,RB,2019,4,1.4389,NaN,NaN,NaN,0,0,RBJ2019
10632,RB,2019,5,1.4424,NaN,NaN,NaN,0,0,RBK2019
10633,RB,2019,6,1.4359,NaN,NaN,NaN,0,0,RBM2019
10634,RB,2019,7,1.4259,NaN,NaN,NaN,0,1,RBN2019
10635,RB,2019,8,1.4099,NaN,NaN,NaN,0,0,RBQ2019
10636,RB,2019,9,1.3939,NaN,NaN,NaN,0,0,RBU2019
10637,RB,2019,10,1.2824,NaN,NaN,NaN,0,0,RBV2019
10638,RB,2019,11,1.2619,NaN,NaN,NaN,0,0,RBX2019
10639,RB,2019,12,1.2519,NaN,NaN,NaN,0,0,RBZ2019
10640,RB,2020,1,1.2569,NaN,NaN,NaN,0,0,RBF2020

In [22]:
import get_price.get_futures_price as gfp
import shared.calendar_utilities as cu
import contract_utilities.expiration as exp
price_frame = gfp.get_futures_price_preloaded(ticker_head='ED',settle_date=20160225)
price_frame.sort('tr_dte',ascending=True,inplace=True)


exp_date = 20170225


exp_datetime = cu.convert_doubledate_2datetime(exp_date)

price_frame['exp_date'] = [exp.get_futures_expiration(x) for x in price_frame['ticker']]
price_frame = price_frame[price_frame['exp_date']<exp_datetime]

price_frame['implied_rate'] = 100-price_frame['close_price']

price_frame[['implied_rate','exp_date','cal_dte']]

        implied_rate   exp_date  cal_dte
236467         0.665 2016-03-14       18
236503         0.680 2016-04-18       53
236539         0.690 2016-05-16       81
236575         0.700 2016-06-13      109
236598         0.705 2016-07-18      144
236602         0.710 2016-08-15      172
236638         0.720 2016-09-19      207
236674         0.750 2016-12-19      298

In [38]:
[1+(price_frame['implied_rate'].iloc[x]*(price_frame['cal_dte'].iloc[x+1]-price_frame['cal_dte'].iloc[x])/36500) for x in range(len(price_frame.index)-1)]

1+(price_frame['implied_rate'].iloc[0]*price_frame['cal_dte'].iloc[0]/365000)


1+((price_frame['implied_rate'].iloc[-1]*((exp_datetime-price_frame['exp_date'].iloc[-1].to_datetime()).days))/365000)

1.0001397260273972

In [6]:
import interest_curve.get_rate_from_stir as grfs
wuhu = grfs.get_simple_rate(as_of_date=20160225,date_from=20180318,date_to=20190318)
print(wuhu['rate_output'])

wuhu['price_frame']

0.0108141121511

         exp_date  implied_rate  cal_dte
236467 2016-03-14         0.665       18
236503 2016-04-18         0.680       53
236539 2016-05-16         0.690       81
236575 2016-06-13         0.700      109
236598 2016-07-18         0.705      144
236602 2016-08-15         0.710      172
236638 2016-09-19         0.720      207
236674 2016-12-19         0.750      298
236710 2017-03-13         0.770      382
236746 2017-06-19         0.805      480
236782 2017-09-18         0.850      571
236818 2017-12-18         0.915      662
236854 2018-03-19         0.970      753
236890 2018-06-18         1.040      844
236926 2018-09-17         1.110      935
236962 2018-12-17         1.190     1026
236998 2019-03-18         1.255     1117
237034 2019-06-17         1.325     1208
237070 2019-09-16         1.390     1299
237106 2019-12-16         1.465     1390

In [12]:
import numpy as np
print(wuhu['middle_discount'])

print(wuhu['total_discount'])

print(wuhu['first_rate'])
print(wuhu['first_period'])

print(wuhu['last_rate'])
print(wuhu['last_period'])

print(wuhu['total_period'])

print(np.prod(np.array(wuhu['middle_discount'])))


print((1+(wuhu['first_rate']*wuhu['first_period']/36500)))
print((1+(wuhu['last_rate']*wuhu['last_period']/36500)))


print((1+(wuhu['first_rate']*wuhu['first_period']/36500))*
      (1+(wuhu['last_rate']*wuhu['last_period']/36500))*
     np.prod(np.array(wuhu['middle_discount'])))

[1.0006712328767122]
1.0017036981
0.69
28
0.705
26
54.0
1.00067123288
1.00052931507
1.00050219178
1.0017036981

In [6]:
wuhu['price_frame']


# april 30 is a saturday

         exp_date  implied_rate  cal_dte
236467 2016-03-14         0.665       18
236503 2016-04-18         0.680       53
236539 2016-05-16         0.690       81
236575 2016-06-13         0.700      109
236598 2016-07-18         0.705      144
236602 2016-08-15         0.710      172
236638 2016-09-19         0.720      207
236674 2016-12-19         0.750      298
236710 2017-03-13         0.770      382
236746 2017-06-19         0.805      480
236782 2017-09-18         0.850      571
236818 2017-12-18         0.915      662
236854 2018-03-19         0.970      753
236890 2018-06-18         1.040      844
236926 2018-09-17         1.110      935
236962 2018-12-17         1.190     1026
236998 2019-03-18         1.255     1117
237034 2019-06-17         1.325     1208
237070 2019-09-16         1.390     1299
237106 2019-12-16         1.465     1390

In [2]:

import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()
import futures_charts.futures_curve as fc
bf_signals_output = fc.get_butterfly_scatter_plot(report_date=report_date,id=195)

In [ ]:
aligned_output = bf_signals_output['aligned_output']
aligned_data = aligned_output['aligned_data']
bf_price = aligned_data['c1']['close_price']+aligned_data['c3']['close_price']-2*aligned_data['c2']['close_price']

In [ ]:
import matplotlib.pyplot as plt
plt.plot(bf_price)
plt.grid()         
         
plt.show()

In [ ]:
bad_data = aligned_data[bf_price<-0.004]   #<-0.03
bad_data

# HOV2007,HOX2007, HOZ2007 20070213 to 20070413

In [ ]:
aligned_data.iloc[1047]

In [ ]:
import shared.directory_names as dn
options_data_dir = dn.get_dated_directory_extension(folder_date=20160208,ext='comex_options_csv_address')
options_data_dir

In [ ]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()
report_date

In [ ]:
import scheduled_jobs.options_data_load_job as odlj
import shared.downloads as sd
sd.download_csv_from_web(web_address=odlj.comex_options_csv_address)

In [ ]:
import scheduled_jobs.options_data_load_job

In [ ]:
with open(r'C:\Research\data\options_data_raw\2016\201602\20160208\interest_rate.pkl','rb') as handle:
    wuhu = pickle.load(handle)

In [ ]:
scatter_matrix = np.zeros((3,3))

for i in range(all_samples.shape[1]):
    scatter_matrix +=(all_samples[:,i].reshape(3,1)).dot(
    (all_samples[:,i].reshape(3,1)-mean_vector).T)
print('Scatter Matrix\n',scatter_matrix)

In [ ]:
cov_mat = np.cov([all_samples[0,:], all_samples[1,:],all_samples[2,:]])
print('Covariance Matrix:\n', cov_mat)

In [ ]:
for i in range(len(eig_val_sc)):
    eigv = eig_vec_sc[:,i].reshape(1,3).T
    np.testing.assert_array_almost_equal(scatter_matrix.dot(eigv),
                                         eig_val_sc[i] * eigv,
                                         decimal=6, err_msg='', verbose=True)

In [ ]:
transformed = matrix_w.T.dot(all_samples)
assert transformed.shape == (2,40), "The matrix is not 2x40 dimensional."
transformed
matrix_w

In [ ]:
import matplotlib.pyplot as plt
plt.plot(merged_dataframe.index,(merged_dataframe['BOH2016']['close_price']+merged_dataframe['BON2016']['close_price'])/2-
         merged_dataframe['BOK2016']['close_price'])
         
         
plt.show()

In [ ]:
(merged_dataframe['BOH2016']['close_price']+merged_dataframe['BON2016']['close_price'])/2-merged_dataframe['BOK2016']['close_price']

In [ ]:


import matplotlib.pyplot as plt
plt.plot(range(len(aligned_dataframe.index)),aligned_dataframe['c1']['tr_dte'],
         range(len(aligned_dataframe.index)),aligned_dataframe['c2']['tr_dte'],
         range(len(aligned_dataframe.index)),aligned_dataframe['c3']['tr_dte'])
plt.grid()         
         
plt.show()

In [ ]:
merged_dataframe['c1']['tr_dte'].isnull().sum()
merged_dataframe['c3']['tr_dte'].isnull().sum()

In [ ]:
futures_dataframe

In [ ]:
print(trDte1)
print(trDte2)
print(trDte3)

In [ ]:
bf_price = (aligned_dataframe['c1']['close_price']+aligned_dataframe['c3']['close_price'])/2-aligned_dataframe['c2']['close_price']

In [ ]:
plt.plot(range(len(aligned_dataframe.index)),bf_price)
plt.grid()         
         
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.plot(price_ratio)
plt.grid()
plt.show()

In [ ]:
import numpy as np
nan_matrix = np.empty((2,2))
nan_matrix[:] = np.NAN
nan_matrix