In [2]:
import contract_utilities.expiration as exp
report_date = exp.doubledate_shift_bus_days()

In [10]:


import futures_charts.futures_curve as fc
#fc.get_futures_curve_chart_4date(ticker_head='HO',settle_date=report_date,tr_dte_limit=600)  # 600


#aggregation_method, contracts_back

bf_signals_output = fc.get_butterfly_panel_plot(report_date=report_date,id=288)
#bf_signals_output = fc.get_butterfly_scatter_plot(report_date=report_date,id=253)

In [18]:
print('Q:' + str(bf_signals_output['q']))
print('QF:' + str(bf_signals_output['qf']))
print('zscore1:' + str(bf_signals_output['zscore1']))
print('zscore2:' + str(bf_signals_output['zscore2']))
print('zscore3:' + str(bf_signals_output['zscore3']))
print('zscore4:' + str(bf_signals_output['zscore4']))
print('theo_pnl:' + str(bf_signals_output['theo_pnl']))

Q:3
QF:31
zscore1:-1.04323495457
zscore2:-1.26610649983
zscore3:-0.506728147879
zscore4:-0.143199336858
theo_pnl:53.7866329952

In [4]:
print('Q:' + str(bf_signals_output['q']))
print('QF:' + str(bf_signals_output['qf']))
print('zscore1:' + str(bf_signals_output['zscore1']))
print('zscore2:' + str(bf_signals_output['zscore2']))
print('theo_pnl:' + str(bf_signals_output['theo_pnl']))

Q:10
QF:3
zscore1:-1.67605472697
zscore2:-2.58212265375
theo_pnl:103.880611985

In [50]:
aligned_data = bf_signals_output['aligned_output']['aligned_data']


grouped = aligned_data.groupby(aligned_data['c1']['cont_indx'])

aligned_data['shifted_residuals'] = grouped['residuals'].shift(-5)

aligned_data['residual_change'] = aligned_data['shifted_residuals']-aligned_data['residuals']

import statsmodels.api as sm

results = sm.OLS(aligned_data['residual_change'].values, aligned_data['residuals'].values, hasconst=True).fit()
results.params

import numpy as np

x=aligned_data['residuals'] 
y=aligned_data['residual_change'] 

nan_indx_x = np.isnan(x)
nan_indx_y = np.isnan(y)

clean_y = [y[i] for i in range(len(y)) if not nan_indx_x[i] and not nan_indx_y[i]]
clean_x = [x[i] for i in range(len(y)) if not nan_indx_x[i] and not nan_indx_y[i]]


results = sm.OLS(clean_y, sm.add_constant(clean_x), hasconst=True).fit()
results.conf_int()

array([[-0.00467772,  0.03873896],
       [-0.25729764, -0.19520576]])

In [25]:
import get_price.get_futures_price as gfp
data4_tickerhead = gfp.get_futures_price_4ticker(ticker_head='CL')

In [22]:
data4_tickerhead

,settle_date,ticker,ticker_head,ticker_month,ticker_year,cal_dte,tr_dte,close_price,volume
0,1983-03-30,CLM1983,CL,6,1983,51,36,29.4000,949
1,1983-03-30,CLN1983,CL,7,1983,83,57,29.3500,471
2,1983-03-30,CLQ1983,CL,8,1983,112,77,29.2000,216
3,1983-03-30,CLU1983,CL,9,1983,145,100,28.9500,160
4,1983-03-30,CLV1983,CL,10,1983,174,120,28.9500,18
5,1983-03-30,CLX1983,CL,11,1983,204,142,28.9000,32
6,1983-03-30,CLZ1983,CL,12,1983,236,164,28.7500,38
7,1983-03-31,CLM1983,CL,6,1983,50,35,29.2900,521
8,1983-03-31,CLN1983,CL,7,1983,82,56,29.2400,399
9,1983-03-31,CLQ1983,CL,8,1983,111,76,29.0500,300
10,1983-03-31,CLU1983,CL,9,1983,144,99,28.8500,218
11,1983-03-31,CLV1983,CL,10,1983,173,119,28.7500,3
12,1983-03-31,CLX1983,CL,11,1983,203,141,28.7000,9
13,1983-03-31,CLZ1983,CL,12,1983,235,163,28.6000,28
14,1983-04-04,CLM1983,CL,6,1983,46,34,29.4400,156
15,1983-04-04,CLN1983,CL,7,1983,78,55,29.2500,185
16,1983-04-04,CLQ1983,CL,8,1983,107,75,29.1000,123
17,1983-04-04,CLU1983,CL,9,1983,140,98,29.0500,9
18,1983-04-04,CLV1983,CL,10,1983,169,118,28.9500,0
19,1983-04-04,CLX1983,CL,11,1983,199,140,28.9500,2
20,1983-04-04,CLZ1983,CL,12,1983,231,162,28.8500,3
21,1983-04-05,CLM1983,CL,6,1983,45,33,29.7100,175
22,1983-04-05,CLN1983,CL,7,1983,77,54,29.5400,164
23,1983-04-05,CLQ1983,CL,8,1983,106,74,29.3500,61
24,1983-04-05,CLU1983,CL,9,1983,139,97,29.2000,69
25,1983-04-05,CLV1983,CL,10,1983,168,117,29.1000,5
26,1983-04-05,CLX1983,CL,11,1983,198,139,29.0000,2
27,1983-04-05,CLZ1983,CL,12,1983,230,161,29.0000,2
28,1983-04-06,CLM1983,CL,6,1983,44,32,29.9000,392
29,1983-04-06,CLN1983,CL,7,1983,76,53,29.6800,257
...,...,...,...,...,...,...,...,...,...
315447,2016-01-12,CLQ2017,CL,8,2017,555,383,41.0000,33
315448,2016-01-12,CLU2017,CL,9,2017,588,406,41.2900,38
315449,2016-01-12,CLV2017,CL,10,2017,617,426,41.5900,4
315450,2016-01-12,CLX2017,CL,11,2017,647,448,41.8900,43
315451,2016-01-12,CLZ2017,CL,12,2017,678,469,42.2000,13045
315452,2016-01-12,CLF2018,CL,1,2018,707,489,42.4100,45
315453,2016-01-13,CLG2016,CL,2,2016,7,4,30.4800,623300
315454,2016-01-13,CLH2016,CL,3,2016,40,26,31.3900,344899
315455,2016-01-13,CLJ2016,CL,4,2016,68,46,32.3500,114017
315456,2016-01-13,CLK2016,CL,5,2016,98,67,33.2800,61497
315457,2016-01-13,CLM2016,CL,6,2016,128,89,34.1200,63419
315458,2016-01-13,CLN2016,CL,7,2016,160,110,34.8300,21212
315459,2016-01-13,CLQ2016,CL,8,2016,189,130,35.4200,8788
315460,2016-01-13,CLU2016,CL,9,2016,222,153,35.9400,13638
315461,2016-01-13,CLV2016,CL,10,2016,251,173,36.4100,4882
315462,2016-01-13,CLX2016,CL,11,2016,281,195,36.9000,3106
315463,2016-01-13,CLZ2016,CL,12,2016,313,217,37.4100,42047
315464,2016-01-13,CLF2017,CL,1,2017,342,237,37.8200,2317
315465,2016-01-13,CLG2017,CL,2,2017,373,257,38.2200,1121
315466,2016-01-13,CLH2017,CL,3,2017,405,278,38.6000,1232
315467,2016-01-13,CLJ2017,CL,4,2017,433,298,38.9600,220
315468,2016-01-13,CLK2017,CL,5,2017,463,319,39.2900,224
315469,2016-01-13,CLM2017,CL,6,2017,495,341,39.6100,10917
315470,2016-01-13,CLN2017,CL,7,2017,524,361,39.8800,91
315471,2016-01-13,CLQ2017,CL,8,2017,554,382,40.1500,45
315472,2016-01-13,CLU2017,CL,9,2017,587,405,40.4400,118
315473,2016-01-13,CLV2017,CL,10,2017,616,425,40.7400,84
315474,2016-01-13,CLX2017,CL,11,2017,646,447,41.0300,178
315475,2016-01-13,CLZ2017,CL,12,2017,677,468,41.3300,16406
315476,2016-01-13,CLF2018,CL,1,2018,706,488,41.5300,145

In [28]:
import datetime as dt
import pandas as pd
dirty_data = pd.DataFrame.from_items([('ticker', ['CLG2008','CLH2008']), ('settle_date', [dt.date(2007,5,31),dt.date(2007,5,31)])])
data4_tickerhead
dirty_data

    ticker settle_date
0  CLG2008  2007-05-31
1  CLH2008  2007-05-31

In [30]:
import get_price.presave_price as psp
psp.generate_and_update_futures_data_file_4tickerhead(ticker_head='CL')

In [26]:
import pandas as pd
import numpy as np
import get_price.presave_price as psp
dirty_data_points = psp.dirty_data_points
data4_tickerhead = pd.merge(data4_tickerhead, dirty_data_points, on=['settle_date', 'ticker'],how='left')
data4_tickerhead_filtered = data4_tickerhead[data4_tickerhead['discard'] !=True]

In [29]:
data4_tickerhead_filtered[(data4_tickerhead_filtered['settle_date']==dirty_data_points['settle_date'][0])&
                 (data4_tickerhead_filtered['ticker']==dirty_data_points['ticker'][0])]

Empty DataFrame
Columns: [settle_date, ticker, ticker_head, ticker_month, ticker_year, cal_dte, tr_dte, close_price, volume, discard]
Index: []

In [18]:
data4_tickerhead

,settle_date,ticker,ticker_head,ticker_month,ticker_year,cal_dte,tr_dte,close_price,volume,discard
0,1983-03-30,CLM1983,CL,6,1983,51,36,29.4000,949,NaN
1,1983-03-30,CLN1983,CL,7,1983,83,57,29.3500,471,NaN
2,1983-03-30,CLQ1983,CL,8,1983,112,77,29.2000,216,NaN
3,1983-03-30,CLU1983,CL,9,1983,145,100,28.9500,160,NaN
4,1983-03-30,CLV1983,CL,10,1983,174,120,28.9500,18,NaN
5,1983-03-30,CLX1983,CL,11,1983,204,142,28.9000,32,NaN
6,1983-03-30,CLZ1983,CL,12,1983,236,164,28.7500,38,NaN
7,1983-03-31,CLM1983,CL,6,1983,50,35,29.2900,521,NaN
8,1983-03-31,CLN1983,CL,7,1983,82,56,29.2400,399,NaN
9,1983-03-31,CLQ1983,CL,8,1983,111,76,29.0500,300,NaN
10,1983-03-31,CLU1983,CL,9,1983,144,99,28.8500,218,NaN
11,1983-03-31,CLV1983,CL,10,1983,173,119,28.7500,3,NaN
12,1983-03-31,CLX1983,CL,11,1983,203,141,28.7000,9,NaN
13,1983-03-31,CLZ1983,CL,12,1983,235,163,28.6000,28,NaN
14,1983-04-04,CLM1983,CL,6,1983,46,34,29.4400,156,NaN
15,1983-04-04,CLN1983,CL,7,1983,78,55,29.2500,185,NaN
16,1983-04-04,CLQ1983,CL,8,1983,107,75,29.1000,123,NaN
17,1983-04-04,CLU1983,CL,9,1983,140,98,29.0500,9,NaN
18,1983-04-04,CLV1983,CL,10,1983,169,118,28.9500,0,NaN
19,1983-04-04,CLX1983,CL,11,1983,199,140,28.9500,2,NaN
20,1983-04-04,CLZ1983,CL,12,1983,231,162,28.8500,3,NaN
21,1983-04-05,CLM1983,CL,6,1983,45,33,29.7100,175,NaN
22,1983-04-05,CLN1983,CL,7,1983,77,54,29.5400,164,NaN
23,1983-04-05,CLQ1983,CL,8,1983,106,74,29.3500,61,NaN
24,1983-04-05,CLU1983,CL,9,1983,139,97,29.2000,69,NaN
25,1983-04-05,CLV1983,CL,10,1983,168,117,29.1000,5,NaN
26,1983-04-05,CLX1983,CL,11,1983,198,139,29.0000,2,NaN
27,1983-04-05,CLZ1983,CL,12,1983,230,161,29.0000,2,NaN
28,1983-04-06,CLM1983,CL,6,1983,44,32,29.9000,392,NaN
29,1983-04-06,CLN1983,CL,7,1983,76,53,29.6800,257,NaN
...,...,...,...,...,...,...,...,...,...,...
315447,2016-01-12,CLQ2017,CL,8,2017,555,383,41.0000,33,NaN
315448,2016-01-12,CLU2017,CL,9,2017,588,406,41.2900,38,NaN
315449,2016-01-12,CLV2017,CL,10,2017,617,426,41.5900,4,NaN
315450,2016-01-12,CLX2017,CL,11,2017,647,448,41.8900,43,NaN
315451,2016-01-12,CLZ2017,CL,12,2017,678,469,42.2000,13045,NaN
315452,2016-01-12,CLF2018,CL,1,2018,707,489,42.4100,45,NaN
315453,2016-01-13,CLG2016,CL,2,2016,7,4,30.4800,623300,NaN
315454,2016-01-13,CLH2016,CL,3,2016,40,26,31.3900,344899,NaN
315455,2016-01-13,CLJ2016,CL,4,2016,68,46,32.3500,114017,NaN
315456,2016-01-13,CLK2016,CL,5,2016,98,67,33.2800,61497,NaN
315457,2016-01-13,CLM2016,CL,6,2016,128,89,34.1200,63419,NaN
315458,2016-01-13,CLN2016,CL,7,2016,160,110,34.8300,21212,NaN
315459,2016-01-13,CLQ2016,CL,8,2016,189,130,35.4200,8788,NaN
315460,2016-01-13,CLU2016,CL,9,2016,222,153,35.9400,13638,NaN
315461,2016-01-13,CLV2016,CL,10,2016,251,173,36.4100,4882,NaN
315462,2016-01-13,CLX2016,CL,11,2016,281,195,36.9000,3106,NaN
315463,2016-01-13,CLZ2016,CL,12,2016,313,217,37.4100,42047,NaN
315464,2016-01-13,CLF2017,CL,1,2017,342,237,37.8200,2317,NaN
315465,2016-01-13,CLG2017,CL,2,2017,373,257,38.2200,1121,NaN
315466,2016-01-13,CLH2017,CL,3,2017,405,278,38.6000,1232,NaN
315467,2016-01-13,CLJ2017,CL,4,2017,433,298,38.9600,220,NaN
315468,2016-01-13,CLK2017,CL,5,2017,463,319,39.2900,224,NaN
315469,2016-01-13,CLM2017,CL,6,2017,495,341,39.6100,10917,NaN
315470,2016-01-13,CLN2017,CL,7,2017,524,361,39.8800,91,NaN
315471,2016-01-13,CLQ2017,CL,8,2017,554,382,40.1500,45,NaN
315472,2016-01-13,CLU2017,CL,9,2017,587,405,40.4400,118,NaN
315473,2016-01-13,CLV2017,CL,10,2017,616,425,40.7400,84,NaN
315474,2016-01-13,CLX2017,CL,11,2017,646,447,41.0300,178,NaN
315475,2016-01-13,CLZ2017,CL,12,2017,677,468,41.3300,16406,NaN
315476,2016-01-13,CLF2018,CL,1,2018,706,488,41.5300,145,NaN