In [9]:
import formats.futures_strategy_formats as fsf
import formats.strategy_followup_formats as sff
import formats.risk_pnl_formats as rpf
import my_sql_routines.futures_price_loader as fpl
import my_sql_routines.my_sql_utilities as msu
import get_price.presave_price as pp
import opportunity_constructs.futures_butterfly as fb
import contract_utilities.expiration as exp
import ta.prepare_daily as prep
import ta.email_reports as er

con = msu.get_my_sql_connection()
report_date = exp.doubledate_shift_bus_days()

writer_out = sff.generate_futures_butterfly_followup_report(as_of_date=report_date, con=con)
writer_out = sff.generate_spread_carry_followup_report(as_of_date=report_date, con=con, writer=writer_out)
sff.generate_vcs_followup_report(as_of_date=report_date, con=con, writer=writer_out)
prep.move_from_dated_folder_2daily_folder(ext='ta', file_name='followup', folder_date=report_date)

In [8]:
osf.generate_vcs_formatted_output(report_date=folder_date)
prep.prepare_strategy_daily(strategy_class='vcs', report_date=folder_date)
osf.generate_scv_formatted_output(report_date=folder_date)
prep.prepare_strategy_daily(strategy_class='scv', report_date=folder_date)
ifsf.generate_ibo_formatted_output(report_date=folder_date)
con.close()

In [1]:
import ta.pnl as tapnl
tapnl.get_strategy_pnl_4day(alias='SIU16Z17VCS',pnl_date=20160826)

{'intraday_pnl': 7,
 'pnl_per_ticker':          pnl_position  pnl_intraday     pnl_total
 ticker
 SIH2017  5.975000e+02         7.161  6.046610e+02
 SIU2016  9.094947e-13         0.000  9.094947e-13,
 'pnl_per_tickerhead':              pnl_position  pnl_intraday  pnl_total
 ticker_head
 SI                  597.5         7.161    604.661,
 'position_pnl': 597,
 't_cost': 0,
 'total_pnl': 604}

In [9]:
import ta.strategy as ts
#trades_frame = ts.get_trades_4strategy_alias(alias='SIU16Z17VCS',con=con)
trades_frame['ticker_aux'] = trades_frame.apply(lambda x: x['ticker']+ '_' + x['instrument'],axis=1)
trades_frame

,id,ticker,option_type,strike_price,trade_price,trade_quantity,trade_date,instrument,real_tradeQ,ticker_aux
0,1675,SIH2017,C,16.50,1.4670,-4.00,2016-05-27,O,1,SIH2017_O
1,1676,SIH2017,P,16.50,1.5810,-4.00,2016-05-27,O,1,SIH2017_O
2,1677,SIU2016,C,16.25,0.8170,4.00,2016-05-27,O,1,SIU2016_O
3,1678,SIU2016,P,16.25,0.8220,4.00,2016-05-27,O,1,SIU2016_O
4,1768,SIH2017,None,NaN,16.1750,0.09,2016-05-31,F,1,SIH2017_F
5,1769,SIU2016,None,NaN,16.0400,0.14,2016-05-31,F,1,SIU2016_F
6,1815,SIH2017,None,NaN,16.1750,0.00,2016-05-31,F,1,SIH2017_F
7,1816,SIU2016,None,NaN,16.0400,0.00,2016-05-31,F,1,SIU2016_F
8,1853,SIH2017,None,NaN,16.1150,-0.05,2016-06-01,F,1,SIH2017_F
9,1854,SIU2016,None,NaN,15.9800,0.10,2016-06-01,F,1,SIU2016_F
10,1887,SIH2017,None,NaN,16.1150,0.00,2016-06-01,F,1,SIH2017_F
11,1888,SIU2016,None,NaN,15.9800,0.00,2016-06-01,F,1,SIU2016_F
12,1936,SIH2017,None,NaN,16.2025,0.07,2016-06-02,F,1,SIH2017_F
13,1937,SIU2016,None,NaN,16.0700,-0.13,2016-06-02,F,1,SIU2016_F
14,1986,SIH2017,None,NaN,16.5400,0.29,2016-06-03,F,1,SIH2017_F
15,1987,SIU2016,None,NaN,16.4100,-0.56,2016-06-03,F,1,SIU2016_F
16,2036,SIH2017,None,NaN,16.6100,0.05,2016-06-06,F,1,SIH2017_F
17,2037,SIU2016,None,NaN,16.4750,-0.11,2016-06-06,F,1,SIU2016_F
18,2078,SIH2017,None,NaN,16.5950,-0.01,2016-06-07,F,1,SIH2017_F
19,2079,SIU2016,None,NaN,16.4650,0.02,2016-06-07,F,1,SIU2016_F
20,2129,SIH2017,None,NaN,17.2250,0.51,2016-06-08,F,1,SIH2017_F
21,2130,SIU2016,None,NaN,17.0925,-0.99,2016-06-08,F,1,SIU2016_F
22,2179,SIH2017,None,NaN,17.4525,0.16,2016-06-09,F,1,SIH2017_F
23,2180,SIU2016,None,NaN,17.3150,-0.27,2016-06-09,F,1,SIU2016_F
24,2225,SIH2017,None,NaN,17.5025,0.03,2016-06-10,F,1,SIH2017_F
25,2226,SIU2016,None,NaN,17.3625,0.01,2016-06-10,F,1,SIU2016_F
26,2271,SIH2017,None,NaN,17.6150,0.08,2016-06-13,F,1,SIH2017_F
27,2272,SIU2016,None,NaN,17.4800,-0.18,2016-06-13,F,1,SIU2016_F
28,2316,SIH2017,None,NaN,17.6100,-0.01,2016-06-14,F,1,SIH2017_F
29,2317,SIU2016,None,NaN,17.4750,0.05,2016-06-14,F,1,SIU2016_F
...,...,...,...,...,...,...,...,...,...,...
105,4650,SIU2016,None,NaN,19.8025,-0.08,2016-08-08,F,1,SIU2016_F
106,4708,SIH2017,None,NaN,20.0775,0.05,2016-08-09,F,1,SIH2017_F
107,4709,SIU2016,None,NaN,19.8475,0.00,2016-08-09,F,1,SIU2016_F
108,4779,SIH2017,None,NaN,20.4350,0.16,2016-08-10,F,1,SIH2017_F
109,4780,SIU2016,None,NaN,20.2025,-0.01,2016-08-10,F,1,SIU2016_F
110,4938,SIH2017,None,NaN,20.3050,-0.07,2016-08-11,F,1,SIH2017_F
111,4939,SIU2016,None,NaN,20.0675,0.02,2016-08-11,F,1,SIU2016_F
112,5001,SIH2017,None,NaN,19.9800,-0.13,2016-08-12,F,1,SIH2017_F
113,5002,SIU2016,None,NaN,19.7475,-0.01,2016-08-12,F,1,SIU2016_F
114,5105,SIH2017,None,NaN,20.0875,0.11,2016-08-15,F,1,SIH2017_F
115,5106,SIU2016,None,NaN,19.8625,-0.02,2016-08-15,F,1,SIU2016_F
116,5173,SIH2017,None,NaN,20.0975,0.02,2016-08-16,F,1,SIH2017_F
117,5174,SIU2016,None,NaN,19.8700,0.00,2016-08-16,F,1,SIU2016_F
118,5246,SIH2017,None,NaN,19.8450,-0.11,2016-08-17,F,1,SIH2017_F
119,5247,SIU2016,None,NaN,19.6175,0.02,2016-08-17,F,1,SIU2016_F
120,5304,SIH2017,None,NaN,19.9750,0.09,2016-08-18,F,1,SIH2017_F
121,5305,SIU2016,None,NaN,19.7350,-0.02,2016-08-18,F,1,SIU2016_F
122,5418,SIH2017,None,NaN,19.5850,-0.19,2016-08-19,F,1,SIH2017_F
123,5419,SIU2016,None,NaN,19.3375,0.02,2016-08-19,F,1,SIU2016_F
124,5567,SIH2017,None,NaN,19.1200,-0.25,2016-08-22,F,1,SIH2017_F
125,5568,SIU2016,None,NaN,18.8625,-0.03,2016-08-22,F,1,SIU2016_F
126,5631,SIH2017,None,NaN,19.1625,0.03,2016-08-23,F,1,SIH2017_F
127,5632,SIU2016,None,NaN,18.8975,0.00,2016-08-23,F,1,SIU2016_F
128,5704,SIH2017,None,NaN,18.7800,-0.24,2016-08-24,F,1,SIH2017_F
129,5705,SIU2016,None,NaN,18.5325,0.00,2016-08-24,F,1,SIU2016_F
130,5762,SIU2016,None,NaN,16.2500,4.00,2016-08-25,F,1,SIU2016_F
131,5763,SIU2016,C,16.25,0.0000,-4.00,2016-08-25,O,1,SIU2016_O
132,5764,SIU2016,P,16.25,0.0000,-4.00,2016-08-25,O,1,SIU2016_O
133,5771,SIH2017,None,NaN,18.7400,-0.05,2016-08-25,F,1,SIH2017_F
134,5844,SIH2017,None,NaN,18.8300,0.06,2016-08-26,F,1,SIH2017_F

In [1]:
import get_price.get_options_price as gop
gop.get_options_price_from_db(ticker='SIU2016',strike=16.25,option_type='C',
                              settle_date=20160826,return_nan_if_emptyQ = True)

   id option_type  strike  cal_dte  tr_dte  close_price  volume  open_interest
0 NaN           C   16.25      NaN     NaN          NaN     NaN            NaN

In [29]:
import opportunity_constructs.spread_carry as sc

#Carry Spread Bet Size: 994
spread_carry_output = sc.generate_spread_carry_sheet_4date(report_date=20160830)
spread_report = spread_carry_output['spread_report']
ticker_head_list = list(spread_report['tickerHead'].unique())
# Compare BO and S sizing

spread_report[spread_report['tickerHead']==ticker_head_list[19]]
#spread_report[spread_report['tickerHead']=='KW']

# there's a possible replacement for BO K-N

,ticker1,ticker2,tickerHead,front_tr_dte,carry,q_carry,reward_risk,price,q,upside,downside,change5,change10,change20
0,KWU2016,KWZ2016,KW,10,NaN,NaN,NaN,-29.00,1,432.00,-245.25,NaN,NaN,NaN
1,KWZ2016,KWH2017,KW,74,-600.0,-8,-0.30,-17.00,9,156.25,-166.63,NaN,NaN,NaN
2,KWH2017,KWK2017,KW,134,-312.5,5,-0.11,-10.75,4,241.06,-187.50,NaN,NaN,NaN
3,KWK2017,KWN2017,KW,176,-37.5,0,0.00,-10.00,4,1039.56,-497.69,NaN,NaN,NaN
4,KWN2017,KWU2017,KW,219,312.5,3,0.18,-16.25,1,183.25,-206.50,NaN,NaN,NaN

In [23]:
import signals.intraday_futures_signals as ifs
import ta.trade_fill_loader as tfl
import shared.statistics as stats

ticker_list = ['CZ2016','WZ2016']
#ticker_list = ['RBZ2016','CLZ2016']
#ticker_list = ['HOZ2016','CLZ2016']
#ticker_list = ['SX2016','BOZ2016','SMZ2016']
#ticker_list = ['CLZ2016','BZ2016']
#ticker_list = ['CLK2017','BJ2017']
ticker_list = ['SF2017','BOF2017','SMF2017']
ticker_list = ['CLZ2016','BZ2016']

num_days_back_4intraday = 5
signals_output = ifs.get_intraday_spread_signals(ticker_list=ticker_list,date_to=20160817,
                                                 num_days_back_4intraday=num_days_back_4intraday)
print(signals_output['z'])
print(signals_output['recent_trend'])

#stats.get_regression_results({'y':aligned_data['spread_pnl1'],'x':aligned_data['spread_pnl_1']})

-2.3292808912
-93.0671347082

In [24]:
import matplotlib.pyplot as plt
intraday_data = signals_output['intraday_data']
plt.plot(intraday_data['spread'])
plt.grid()         
         
plt.show()

In [27]:
intraday_data = signals_output['intraday_data']
print(intraday_data['spread'].mean())
print(intraday_data['spread'].std())
print(intraday_data['spread'].mean()+intraday_data['spread'].std())
print(intraday_data['spread'].mean()-intraday_data['spread'].std())

# -90 buy back

intraday_data.index[-1]

-0.8289177624713037
0.06424072940828894
-0.7646770330630147
-0.8931584918795926

Timestamp('2016-08-03 17:03:00')

In [12]:
import matplotlib.pyplot as plt
plt.plot(wuhu.index,wuhu['mid_p'])
plt.grid()         
         
plt.show()

In [30]:

import formats.futures_strategy_formats as fsf
fsf.generate_ifs_formatted_output()

In [2]:
import my_sql_routines.my_sql_utilities as msu
import my_sql_routines.futures_price_loader as fpl
con = msu.get_my_sql_connection()
fpl.update_futures_price_database_from_cme_file(con=con, settle_date=20160829)

       0
1  0.475
2  1.865

In [36]:
import signals.intraday_futures_signals as ifs
signal_out = ifs.get_intraday_trend_signals(ticker='JYU2016',date_to = 20160826)
intraday_data = signal_out['intraday_data']
intraday_data.shift(5)
#intraday_data

             c1                                           time_stamp  \
     best_bid_p best_bid_q best_ask_p best_ask_q
0           NaN        NaN        NaN        NaN                 NaT
1           NaN        NaN        NaN        NaN                 NaT
2           NaN        NaN        NaN        NaN                 NaT
3           NaN        NaN        NaN        NaN                 NaT
4           NaN        NaN        NaN        NaN                 NaT
5         99620         11      99630          7 2016-08-25 00:45:00
6         99595         10      99605         20 2016-08-25 00:46:00
7         99605         30      99615          2 2016-08-25 00:47:00
8         99610         19      99620          4 2016-08-25 00:48:00
9         99605          5      99610          2 2016-08-25 00:49:00
10        99595         10      99605         12 2016-08-25 00:50:00
11        99600         11      99610          9 2016-08-25 00:51:00
12        99600          4      99605          2 2016-08-25 00:52:00
13        99590         30      99600          6 2016-08-25 00:53:00
14        99610         18      99620          9 2016-08-25 00:54:00
15        99615         13      99625          9 2016-08-25 00:55:00
16        99615         12      99625         11 2016-08-25 00:56:00
17        99590          9      99600         20 2016-08-25 00:57:00
18        99595         10      99605          9 2016-08-25 00:58:00
19        99590          7      99600         11 2016-08-25 00:59:00
20        99595          7      99605          8 2016-08-25 01:00:00
21        99600          4      99610         11 2016-08-25 01:01:00
22        99615          3      99620          5 2016-08-25 01:02:00
23        99610         26      99620          3 2016-08-25 01:03:00
24        99620         14      99630          9 2016-08-25 01:04:00
25        99620          4      99625         13 2016-08-25 01:05:00
26        99635         26      99645         12 2016-08-25 01:06:00
27        99625         13      99635         10 2016-08-25 01:07:00
28        99620          6      99625          2 2016-08-25 01:08:00
29        99615         14      99620          1 2016-08-25 01:09:00
...         ...        ...        ...        ...                 ...
1616      98170         14      98180         16 2016-08-26 13:53:00
1617      98155          3      98160          5 2016-08-26 13:54:00
1618      98200          9      98205          2 2016-08-26 13:55:00
1619      98195          1      98200         12 2016-08-26 13:56:00
1620      98175          2      98180          4 2016-08-26 13:57:00
1621      98175          4      98180          9 2016-08-26 13:58:00
1622      98195          1      98200          5 2016-08-26 13:59:00
1623      98185          4      98190          1 2016-08-26 14:00:00
1624      98240         18      98250         10 2016-08-26 14:01:00
1625      98265          9      98275         11 2016-08-26 14:02:00
1626      98220          4      98225          5 2016-08-26 14:03:00
1627      98205          3      98210          5 2016-08-26 14:04:00
1628      98230         11      98240         19 2016-08-26 14:05:00
1629      98230          6      98240         20 2016-08-26 14:06:00
1630      98255          1      98260          8 2016-08-26 14:07:00
1631      98250          3      98255         12 2016-08-26 14:08:00
1632      98230         18      98240         12 2016-08-26 14:09:00
1633      98285          6      98295          7 2016-08-26 14:10:00
1634      98280          8      98285          4 2016-08-26 14:11:00
1635      98275          2      98280          3 2016-08-26 14:12:00
1636      98260          4      98265          1 2016-08-26 14:13:00
1637      98275         18      98285          8 2016-08-26 14:14:00
1638      98250          3      98255         15 2016-08-26 14:15:00
1639      98255          9      98265          8 2016-08-26 14:16:00
1640      98300          2      98305          3 2016-08-26 14:17:00
1641      98295          8      98305          8 2016-08-26 14:18:00
1642      98270          4      98275          4 2016-08-26 14:19:00
1643      98280          7      98285          1 2016-08-26 14:20:00
1644      98295          9      98305          7 2016-08-26 14:21:00
1645      98300          1      98305          6 2016-08-26 14:22:00

     hour_minute    mid_p       ewma100        ewma25

0            NaN      NaN           NaN           NaN
1            NaN      NaN           NaN           NaN
2            NaN      NaN           NaN           NaN
3            NaN      NaN           NaN           NaN
4            NaN      NaN           NaN           NaN
5             45  99625.0  99625.000000  99625.000000
6             46  99600.0  99612.375000  99612.000000
7             47  99610.0  99611.567448  99611.279318
8             48  99615.0  99612.451500  99612.323962
9             49  99607.5  99611.421196  99611.198892
10            50  99600.0  99609.421231  99608.940084
11            51  99605.0  99608.751105  99608.233533
12            52  99602.5  99607.913937  99607.300878
13            53  99595.0  99606.361615  99605.457954
14            54  99615.0  99607.305250  99606.790415
15            55  99620.0  99608.578149  99608.526154
16            56  99620.0  99609.638121  99609.955927
17            57  99595.0  99608.372092  99608.177077
18            58  99600.0  99607.693271  99607.243716
19            59  99595.0  99606.723509  99605.896326
20           100  99600.0  99606.237350  99605.268254
21           101  99605.0  99606.152344  99605.240501
22           102  99617.5  99606.895587  99606.476051
23           103  99615.0  99607.403209  99607.315100
24           104  99625.0  99608.460118  99609.019244
25           105  99622.5  99609.270754  99610.293501
26           106  99640.0  99610.980153  99613.052913
27           107  99630.0  99612.001590  99614.602375
28           108  99622.5  99612.546907  99615.314125
29           109  99617.5  99612.796173  99615.508555
...          ...      ...           ...           ...
1616        1353  98175.0  98464.930293  98275.062826
1617        1354  98157.5  98458.842565  98266.019532
1618        1355  98202.5  98453.766474  98261.133414
1619        1356  98197.5  98448.691891  98256.238536
1620        1357  98177.5  98443.321754  98250.181726
1621        1358  98177.5  98438.057957  98244.590824
1622        1359  98197.5  98433.294433  98240.968453
1623        1400  98187.5  98428.427217  98236.855495
1624        1401  98245.0  98424.794994  98237.481995
1625        1402  98270.0  98421.729747  98239.983380
1626        1403  98222.5  98417.784604  98238.638505
1627        1404  98207.5  98413.620552  98236.243235
1628        1405  98235.0  98410.083511  98236.147602
1629        1406  98235.0  98406.616511  98236.059325
1630        1407  98257.5  98403.663709  98237.708607
1631        1408  98252.5  98400.670368  98238.846407
1632        1409  98235.0  98397.389767  98238.550529
1633        1410  98290.0  98395.263237  98242.508181
1634        1411  98282.5  98393.030301  98245.584475
1635        1412  98277.5  98390.742573  98248.039515
1636        1413  98262.5  98388.203116  98249.151860
1637        1414  98280.0  98386.060480  98251.524794
1638        1415  98252.5  98383.415718  98251.599810
1639        1416  98260.0  98380.971842  98252.245978
1640        1417  98302.5  98379.417944  98256.111672
1641        1418  98300.0  98377.845312  98259.487697
1642        1419  98272.5  98375.759266  98260.488644
1643        1420  98282.5  98373.912548  98262.181825
1644        1421  98300.0  98372.448933  98265.090915
1645        1422  98302.5  98371.063806  98267.968537

[1646 rows x 9 columns]

In [8]:
start_date

datetime.datetime(2016, 8, 24, 8, 30, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>)

In [1]:
import contract_utilities.contract_meta_info as cmi
cmi.last_trade_hour_minute2

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [4]:
import contract_utilities.expiration as exp
full_dates = exp.get_bus_day_list(date_from=20100101,date_to=20160821)
full_dates[:5]

[20100104, 20100105, 20100106, 20100107, 20100108]

In [9]:
len(full_dates[0::6])

279

In [9]:
liquid_options.drop_duplicates('expiration_date',inplace=True)
liquid_options = liquid_options[['expiration_date']]
liquid_options['settle_date'] =

        id   ticker expiration_date
0    20291  LNG2017      2017-02-14
1    20292  LNG2018      2018-02-14
2    20410  LNJ2017      2017-04-17
3    20411  LNJ2018      2018-04-13
4    20529  LNK2017      2017-05-12
5    20530  LNK2018      2018-05-14
6    20648  LNM2017      2017-06-14
7    20649  LNM2018      2018-06-14
8    20767  LNN2017      2017-07-17
9    20768  LNN2018      2018-07-16
10   20886  LNQ2017      2017-08-14
11   21004  LNV2016      2016-10-14
12   21005  LNV2017      2017-10-13
13   21123  LNZ2016      2016-12-14
14   21124  LNZ2017      2017-12-14
15   21243  LCF2017      2017-01-06
16   21244  LCF2018      2018-01-05
17   21362  LCG2017      2017-02-03
18   21363  LCG2018      2018-02-02
19   21481  LCH2017      2017-03-03
20   21482  LCH2018      2018-03-02
21   21600  LCJ2017      2017-04-07
22   21601  LCJ2018      2018-04-06
23   21719  LCK2017      2017-05-05
24   21720  LCK2018      2018-05-04
25   21838  LCM2017      2017-06-02
26   21839  LCM2018      2018-06-01
27   21957  LCN2017      2017-07-07
28   21958  LCN2018      2018-07-06
29   22076  LCQ2017      2017-08-04
..     ...      ...             ...
664  57420  E5K2018      2018-05-11
665  57421  E5K2019      2019-05-10
666  57422  E5K2020      2020-05-15
667  57538  E5M2017      2017-06-16
668  57539  E5M2018      2018-06-15
669  57540  E5M2019      2019-06-14
670  57541  E5M2020      2020-06-12
671  57657  E5N2017      2017-07-14
672  57658  E5N2018      2018-07-13
673  57659  E5N2019      2019-07-12
674  57660  E5N2020      2020-07-10
675  57776  E5Q2017      2017-08-11
676  57777  E5Q2018      2018-08-10
677  57778  E5Q2019      2019-08-16
678  57894  E5U2016      2016-09-16
679  57895  E5U2017      2017-09-15
680  57896  E5U2018      2018-09-14
681  57897  E5U2019      2019-09-13
682  58013  E5V2016      2016-10-14
683  58014  E5V2017      2017-10-13
684  58015  E5V2018      2018-10-12
685  58016  E5V2019      2019-10-11
686  58132  E5X2016      2016-11-11
687  58133  E5X2017      2017-11-10
688  58134  E5X2018      2018-11-16
689  58135  E5X2019      2019-11-15
690  58251  E5Z2016      2016-12-16
691  58252  E5Z2017      2017-12-15
692  58253  E5Z2018      2018-12-14
693  58254  E5Z2019      2019-12-13

[694 rows x 3 columns]

In [5]:
import formats.intraday_futures_strategy_formats as ifsf
ifsf.generate_ibo_formatted_output()

In [1]:
import ta.email_reports as er
er.send_hrsn_report(report_date=20160808)

In [35]:
list(range(5))

[0, 1, 2, 3, 4]

In [1]:
import ta.strategy_hedger as sh
sh.get_hedge_4strategy(alias='SIU16Z16VCS')

,ticker,option_type,strike_price,instrument,qty,imp_vol,underlying_ticker,cme_code,bid_price,ask_price,ticker_head,mid_price,exercise_type
0,SIU2016,C,16.00,O,4,0.405437,SIU2016,1|G|XCEC:F:SI:201609,19.745,19.75,SI,19.7475,A
1,SIU2016,P,16.00,O,4,0.405437,SIU2016,1|G|XCEC:F:SI:201609,19.745,19.75,SI,19.7475,A
2,SIZ2016,C,16.25,O,-4,0.274463,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A
3,SIZ2016,C,20.00,O,2,0.266623,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A
4,SIZ2016,P,16.25,O,-4,0.274463,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A
5,SIZ2016,P,20.00,O,2,0.266623,SIZ2016,1|G|XCEC:F:SI:201612,19.860,19.87,SI,19.8650,A

In [37]:
import numpy as np
intraday_noise

2016-07-07 09:00:00   -0.00090
2016-07-07 09:30:00   -0.00050
2016-07-07 10:00:00   -0.00150
2016-07-07 10:30:00   -0.00010
2016-07-07 11:00:00   -0.00030
2016-07-07 11:30:00   -0.00020
2016-07-08 09:00:00    0.00020
2016-07-08 09:30:00    0.00140
2016-07-08 10:00:00    0.00040
2016-07-08 10:30:00    0.00070
2016-07-08 11:00:00   -0.00030
2016-07-08 11:30:00    0.00050
2016-07-11 09:00:00   -0.00100
2016-07-11 09:30:00    0.00100
2016-07-11 10:00:00   -0.00020
2016-07-11 10:30:00   -0.00025
2016-07-11 11:00:00    0.00025
2016-07-11 11:30:00   -0.00035
2016-07-12 09:00:00   -0.00045
2016-07-12 09:30:00   -0.00010
2016-07-12 10:00:00    0.00055
2016-07-12 10:30:00    0.00005
2016-07-12 11:00:00    0.00150
2016-07-12 11:30:00    0.00050
2016-07-13 09:00:00    0.00165
2016-07-13 09:30:00   -0.00085
2016-07-13 10:00:00   -0.00020
2016-07-13 10:30:00   -0.00010
2016-07-13 11:00:00   -0.00020
2016-07-13 11:30:00   -0.00010
                        ...
2016-07-28 09:00:00   -0.00030
2016-07-28 09:30:00   -0.00080
2016-07-28 10:00:00   -0.00060
2016-07-28 10:30:00    0.00020
2016-07-28 11:00:00   -0.00040
2016-07-28 11:30:00    0.00030
2016-07-29 09:00:00    0.00200
2016-07-29 09:30:00    0.00060
2016-07-29 10:00:00    0.00050
2016-07-29 10:30:00    0.00070
2016-07-29 11:00:00   -0.00080
2016-07-29 11:30:00   -0.00065
2016-08-01 09:00:00   -0.00010
2016-08-01 09:30:00   -0.00115
2016-08-01 10:00:00    0.00105
2016-08-01 10:30:00    0.00030
2016-08-01 11:00:00   -0.00030
2016-08-01 11:30:00    0.00010
2016-08-02 09:00:00   -0.00110
2016-08-02 09:30:00   -0.00070
2016-08-02 10:00:00    0.00030
2016-08-02 10:30:00   -0.00020
2016-08-02 11:00:00    0.00000
2016-08-02 11:30:00   -0.00090
2016-08-03 09:00:00    0.00020
2016-08-03 09:30:00    0.00000
2016-08-03 10:00:00    0.00120
2016-08-03 10:30:00   -0.00020
2016-08-03 11:00:00    0.00000
2016-08-03 11:30:00    0.00020
dtype: float64

In [34]:
import matplotlib.pyplot as plt
plt.plot(intraday_noise)
plt.grid()         
         
plt.show()

In [4]:
import signals.intraday_futures_signals as ifs
ifs.get_intraday_trend_signals(ticker='LCV2016',date_to=20160707)

LCV2016
20160707

{'daily_pnl': -260.00000000000227,
 'intraday_data':                   index         c1                                   \
                         best_bid_p best_bid_q best_ask_p best_ask_q
 0   2016-07-07 08:31:00    112.950          1    112.950          2
 1   2016-07-07 08:32:00    112.950          1    112.950          2
 2   2016-07-07 08:33:00    112.675          4    112.750          5
 3   2016-07-07 08:34:00    112.450          3    112.525          2
 4   2016-07-07 08:35:00    112.450          1    112.475          1
 5   2016-07-07 08:36:00    112.425          2    112.475          1
 6   2016-07-07 08:37:00    112.325          5    112.400          5
 7   2016-07-07 08:38:00    112.350          1    112.400          1
 8   2016-07-07 08:39:00    112.525          2    112.600         16
 9   2016-07-07 08:40:00    112.625          2    112.650          1
 10  2016-07-07 08:41:00    112.775          1    112.825          4
 11  2016-07-07 08:42:00    112.825          1    112.900          2
 12  2016-07-07 08:43:00    112.850          7    112.900          2
 13  2016-07-07 08:44:00    112.875          4    112.950          3
 14  2016-07-07 08:45:00    112.850          3    112.925          3
 15  2016-07-07 08:46:00    112.875          6    112.950          4
 16  2016-07-07 08:47:00    113.025          4    113.075          7
 17  2016-07-07 08:48:00    112.950          1    113.025          4
 18  2016-07-07 08:49:00    112.875          4    112.900          2
 19  2016-07-07 08:50:00    112.750          1    112.825          2
 20  2016-07-07 08:51:00    112.775          4    112.850          4
 21  2016-07-07 08:52:00    112.750          3    112.800          6
 22  2016-07-07 08:53:00    112.825          4    112.900          1
 23  2016-07-07 08:54:00    112.775         11    112.850         10
 24  2016-07-07 08:55:00    112.675          1    112.725          1
 25  2016-07-07 08:56:00    112.700          2    112.725          2
 26  2016-07-07 08:57:00    112.625         20    112.675          4
 27  2016-07-07 08:58:00    112.550          1    112.600          6
 28  2016-07-07 08:59:00    112.550          7    112.650          3
 29  2016-07-07 09:00:00    112.550          4    112.625          2
 ..                  ...        ...        ...        ...        ...
 259 2016-07-07 12:50:00    112.075          2    112.100          6
 260 2016-07-07 12:51:00    112.075          2    112.100          5
 261 2016-07-07 12:52:00    112.100          6    112.150          9
 262 2016-07-07 12:53:00    112.125          4    112.175          9
 263 2016-07-07 12:54:00    112.100          2    112.150         17
 264 2016-07-07 12:55:00    112.075          5    112.100         11
 265 2016-07-07 12:56:00    112.100          1    112.150         11
 266 2016-07-07 12:57:00    112.250          5    112.300          5
 267 2016-07-07 12:58:00    112.175          5    112.250          5
 268 2016-07-07 12:59:00    112.250          1    112.275          2
 269 2016-07-07 13:00:00    112.200          5    112.275          4
 270 2016-07-07 13:01:00    112.025          2    112.075          3
 271 2016-07-07 13:02:00    112.175          3    112.225          5
 272 2016-07-07 13:03:00    112.000          4    112.050          2
 273 2016-07-07 13:04:00    111.950          4    112.000         10
 274 2016-07-07 13:05:00    111.950         15    111.975          8
 275 2016-07-07 13:06:00    111.925          3    111.950          1
 276 2016-07-07 13:07:00    111.900          6    111.925          1
 277 2016-07-07 13:08:00    111.900          1    112.225          4
 278 2016-07-07 13:09:00    111.900          1    112.225          4
 279 2016-07-07 13:10:00    111.900          1    112.225          4
 280 2016-07-07 13:11:00    111.900          1    112.225          4
 281 2016-07-07 13:12:00    111.900          1    112.225          4
 282 2016-07-07 13:13:00    111.900          1    112.225          4
 283 2016-07-07 13:14:00    111.900          1    112.225          4
 284 2016-07-07 13:15:00    111.900          1    112.225          4
 285 2016-07-07 13:16:00    111.900          1    112.225          4
 286 2016-07-07 13:17:00    111.900          1    112.225          4
 287 2016-07-07 13:18:00    111.900          1    112.225          4
 288 2016-07-07 13:19:00    111.900          1    112.225          4

              time_stamp hour_minute     mid_p     ewma100      ewma25

 0   2016-07-07 08:31:00         831  112.9500  113.366909  113.190738
 1   2016-07-07 08:32:00         832  112.9500  113.358628  113.172219
 2   2016-07-07 08:33:00         833  112.7125  113.345796  113.136856
 3   2016-07-07 08:34:00         834  112.4875  113.328752  113.086906
 4   2016-07-07 08:35:00         835  112.4625  113.311550  113.038875
 5   2016-07-07 08:36:00         836  112.4500  113.294443  112.993577
 6   2016-07-07 08:37:00         837  112.3625  113.275939  112.945032
 7   2016-07-07 08:38:00         838  112.3750  113.258052  112.901184
 8   2016-07-07 08:39:00         839  112.5625  113.244243  112.875131
 9   2016-07-07 08:40:00         840  112.6375  113.232198  112.856852
 10  2016-07-07 08:41:00         841  112.8000  113.223618  112.852479
 11  2016-07-07 08:42:00         842  112.8625  113.216450  112.853249
 12  2016-07-07 08:43:00         843  112.8750  113.209672  112.854923
 13  2016-07-07 08:44:00         844  112.9125  113.203774  112.859352
 14  2016-07-07 08:45:00         845  112.8875  113.197497  112.861517
 15  2016-07-07 08:46:00         846  112.9125  113.191840  112.865439
 16  2016-07-07 08:47:00         847  113.0500  113.189025  112.879636
 17  2016-07-07 08:48:00         848  112.9875  113.185026  112.887933
 18  2016-07-07 08:49:00         849  112.8875  113.179122  112.887900
 19  2016-07-07 08:50:00         850  112.7875  113.171351  112.880177
 20  2016-07-07 08:51:00         851  112.8125  113.164231  112.874971
 21  2016-07-07 08:52:00         852  112.7750  113.156508  112.867281
 22  2016-07-07 08:53:00         853  112.8625  113.150675  112.866913
 23  2016-07-07 08:54:00         854  112.8125  113.143965  112.862727
 24  2016-07-07 08:55:00         855  112.7000  113.135157  112.850210
 25  2016-07-07 08:56:00         856  112.7125  113.126772  112.839617
 26  2016-07-07 08:57:00         857  112.6500  113.117314  112.825031
 27  2016-07-07 08:58:00         858  112.5750  113.106557  112.805798
 28  2016-07-07 08:59:00         859  112.6000  113.096508  112.789967
 29  2016-07-07 09:00:00         900  112.5875  113.086412  112.774393
 ..                  ...         ...       ...         ...         ...
 259 2016-07-07 12:50:00        1250  112.0875  112.569697  112.314219
 260 2016-07-07 12:51:00        1251  112.0875  112.560149  112.296779
 261 2016-07-07 12:52:00        1252  112.1250  112.551532  112.283566
 262 2016-07-07 12:53:00        1253  112.1500  112.543580  112.273291
 263 2016-07-07 12:54:00        1254  112.1250  112.535292  112.261884
 264 2016-07-07 12:55:00        1255  112.0875  112.526424  112.248470
 265 2016-07-07 12:56:00        1256  112.1250  112.518475  112.238972
 266 2016-07-07 12:57:00        1257  112.2750  112.513654  112.241744
 267 2016-07-07 12:58:00        1258  112.2125  112.507690  112.239494
 268 2016-07-07 12:59:00        1259  112.2625  112.502835  112.241264
 269 2016-07-07 13:00:00        1300  112.2375  112.497581  112.240974
 270 2016-07-07 13:01:00        1301  112.0500  112.488718  112.226284
 271 2016-07-07 13:02:00        1302  112.2000  112.483000  112.224262
 272 2016-07-07 13:03:00        1303  112.0250  112.473931  112.208934
 273 2016-07-07 13:04:00        1304  111.9750  112.464051  112.190939
 274 2016-07-07 13:05:00        1305  111.9625  112.454119  112.173367
 275 2016-07-07 13:06:00        1306  111.9375  112.443889  112.155223
 276 2016-07-07 13:07:00        1307  111.9125  112.433366  112.136552
 277 2016-07-07 13:08:00        1308  112.0625  112.426022  112.130856
 278 2016-07-07 13:09:00        1309  112.0625  112.418824  112.125598
 279 2016-07-07 13:10:00        1310  112.0625  112.411768  112.120744
 280 2016-07-07 13:11:00        1311  112.0625  112.404851  112.116264
 281 2016-07-07 13:12:00        1312  112.0625  112.398072  112.112128
 282 2016-07-07 13:13:00        1313  112.0625  112.391427  112.108311
 283 2016-07-07 13:14:00        1314  112.0625  112.384914  112.104787
 284 2016-07-07 13:15:00        1315  112.0625  112.378529  112.101534
 285 2016-07-07 13:16:00        1316  112.0625  112.372271  112.098531
 286 2016-07-07 13:17:00        1317  112.0625  112.366137  112.095760
 287 2016-07-07 13:18:00        1318  112.0625  112.360124  112.093201
 288 2016-07-07 13:19:00        1319  112.0625  112.354231  112.090840

 [289 rows x 10 columns],
 'range_max': 113.05000000000001,
 'range_min': 112.36250000000001,
 'stop_loss': 275.0}

In [9]:


import signals.intraday_futures_signals as ifs
signals_output = ifs.get_intraday_trend_signals(ticker='LCV2016',date_to=20160630)
intraday_data = signals_output['intraday_data']

import matplotlib.pyplot as plt
plt.plot(range(len(intraday_data.index)),intraday_data['mid_p'],
         range(len(intraday_data.index)),intraday_data['ewma25'],
        range(len(intraday_data.index)),intraday_data['ewma100']
        )
plt.grid()         
         
plt.show()

LCV2016
20160630

In [13]:
import matplotlib.pyplot as plt
plt.plot(range(len(aligned_data.index)),aligned_data['c1']['close_price'],
        range(len(aligned_data.index)),aligned_data['c2']['close_price'])
plt.grid()         
         
plt.show()

-85.82285102420849
4.199943026208985
-81.6229079979995
-90.02279405041747

Timestamp('2016-07-14 14:32:00')

In [2]:
import matplotlib.pyplot as plt
plt.scatter(intraday_data['c1']['mid_p'],intraday_data['c2']['mid_p'])
plt.grid()         
         
plt.show()

In [5]:
import shared.statistics as stats

#yield_regress_output = stats.get_regression_results({'x':yield2, 'y':yield1,'x_current': yield2_current, 'y_current': yield1_current,
#                                                         'clean_num_obs': max(100, round(3*len(yield1.values)/4))})

stats.get_regression_results({'y':intraday_data['c1']['mid_p'].values,'x':intraday_data['c2']['mid_p'].values})

{'alpha': 1.1850901654380999,
 'beta': 0.98643764580320514,
 'conf_int': array([[ 1.10675436,  1.26342598],
        [ 0.98488015,  0.98799514]]),
 'residualstd': 0.043767005836800189,
 'rsquared': 99.838955405787345,
 'zscore': -0.77307191646706896}

In [5]:
import matplotlib.pyplot as plt
plt.plot(aligned_data['spread'])
plt.grid()         
         
plt.show()

In [4]:
import opportunity_constructs.utilities as opUtil
import contract_utilities.contract_meta_info as cmi
ticker_list = ['CLZ2016','HOZ2016']
amcb_output = [opUtil.get_aggregation_method_contracts_back(cmi.get_contract_specs(x)) for x in ticker_list]

[x['aggregation_method'] for x in amcb_output]

[1, 12]

In [1]:
import contract_utilities.expiration as exp
exp.doubledate_shift_bus_days(double_date=20160629,shift_in_days=4)

20160623

In [8]:
import matplotlib.pyplot as plt
plt.scatter(aligned_data['c1']['close_price'],aligned_data['c2']['close_price'])
plt.grid()         
         
plt.show()

In [41]:
import opportunity_constructs.utilities as oput
aligned_output = oput.get_aligned_futures_data(contract_list=['CZ2016','WZ2016'],
                              aggregation_method=12,
                             contracts_back=10,
                             date_to=20160628)

aligned_data = aligned_output['aligned_data']
p1 = aligned_data['c1']['close_price']
p2 = aligned_data['c2']['close_price']


import matplotlib.pyplot as plt
plt.plot(p1/p2)
plt.grid()         
         
plt.show()

In [45]:
import contract_utilities.expiration as exp
exp.get_days2_expiration(ticker='CLZ2017',date_to=20160629,instrument='futures')

{'cal_dte': 509,
 'expiration_datetime': datetime.date(2017, 11, 20),
 'tr_dte': 352}

In [21]:


import opportunity_constructs.intraday_future_spreads as ifs
import opportunity_constructs.utilities as opput
#wuhu = ifs.get_spreads_4date(date_to=20160628)

indx = 4
contract1 = wuhu['contract1'].iloc[indx]
contract2 = wuhu['contract2'].iloc[indx]

contract1

aligned_output = opput.get_aligned_futures_data_intraday(contract_list = [contract1,contract2],
                                       date_list=[20160623,20160624,20160627,20160628])

mid_1 = (aligned_output['c1']['best_bid_p']+aligned_output['c1']['best_ask_p'])/2
mid_2 = (aligned_output['c2']['best_bid_p']+aligned_output['c2']['best_ask_p'])/2

resid = 0.42*mid_1-mid_2

In [23]:
import matplotlib.pyplot as plt
plt.plot(resid)
plt.grid()         
         
plt.show()

In [24]:
import matplotlib.pyplot as plt
plt.scatter(mid_2,resid)
plt.grid()         
         
plt.show()

In [6]:
print(resid.mean())
print(resid.std())

-1483.3707493061981
6.542279100352497

In [5]:
import opportunity_constructs.utilities as opu
aligned_frame = opu.get_aligned_futures_data_intraday(contract_list=['CLZ2016','HOZ2016'],date_list=[20160622,20160623,20160624])

mid1 = (aligned_frame['c1']['best_bid_p']+aligned_frame['c1']['best_ask_p'])/2
mid2 = (aligned_frame['c2']['best_bid_p']+aligned_frame['c2']['best_ask_p'])/2

resid = mid1-0.42*mid2

import matplotlib.pyplot as plt
plt.plot(resid)
plt.grid()         
         
plt.show()

In [54]:
import matplotlib.pyplot as plt
plt.scatter(mid_p,mid_p2)
plt.grid()         
         
plt.show()

In [86]:
import opportunity_constructs.utilities as ocu
data_out = ocu.get_aligned_futures_data(contract_list=['CLZ2016','HOZ2016'],aggregation_method=12,contracts_back=2,date_to=20160622)
aligned_data = data_out['aligned_data']

In [92]:
aligned_data['c1']['close_price']

import matplotlib.pyplot as plt
import shared.statistics as stats
#plt.scatter(aligned_data['c1']['close_price'],aligned_data['c2']['close_price'])
#plt.grid()         
         
#plt.show()

regress_output = stats.get_regression_results({'y':aligned_data['c1']['close_price'],'x':aligned_data['c2']['close_price']})

resid = aligned_data['c1']['close_price']-42*aligned_data['c2']['close_price']


import matplotlib.pyplot as plt
plt.plot(resid)
plt.grid()         
         
plt.show()

In [78]:
plt.scatter(aligned_data['c1']['close_price'],aligned_data['c2']['close_price'])
plt.grid()         
         
plt.show()

In [81]:
regress_output['beta']

28.411566512349935

In [1]:
import ta.strategy as ts
import shared.directory_names as dn
import shared.calendar_utilities as cu
import os.path
import pandas as pd
import numpy as np
import shared.converters as conv
import datetime as dt
import my_sql_routines.my_sql_utilities as msu
import contract_utilities.expiration as exp
import get_price.get_futures_price as gfp
import time as tm

In [3]:
con = msu.get_my_sql_connection()
strategy_from = 'spreadCarryJul16'
as_of_date = exp.doubledate_shift_bus_days()
kwargs = {}
kwargs['as_of_date'] = as_of_date
kwargs['con'] = con
net_position_frame = ts.get_net_position_4strategy_alias(alias=strategy_from, **kwargs)

In [4]:
net_position_frame

     ticker option_type  strike_price instrument  qty
3   CLF2017        None           NaN          F    4
4   CLZ2016        None           NaN          F   -4
7   KCH2017        None           NaN          F    7
8   KCZ2016        None           NaN          F   -7
9   KWH2017        None           NaN          F    6
10  KWZ2016        None           NaN          F   -6
13  LNG2017        None           NaN          F   -1
14  LNZ2016        None           NaN          F    1
15  NGH2017        None           NaN          F   -2
16  NGJ2017        None           NaN          F    2
17  RBV2016        None           NaN          F    1
18  RBX2016        None           NaN          F   -1
19  SBH2017        None           NaN          F   -2
20  SBK2017        None           NaN          F    2
21  SMV2016        None           NaN          F   -3
22  SMZ2016        None           NaN          F    3
24   WK2017        None           NaN          F   -1
25   WN2017        None           NaN          F    1

In [5]:
net_position_frame['trade_price'] = \
        [float(gfp.get_futures_price_4ticker(ticker=x,date_from=as_of_date,date_to=as_of_date,con=con)['close_price'][0]) for x in net_position_frame['ticker']]

In [6]:
net_position_frame

     ticker option_type  strike_price instrument  qty  trade_price
3   CLF2017        None           NaN          F    4      44.6900
4   CLZ2016        None           NaN          F   -4      44.0000
7   KCH2017        None           NaN          F    7     145.5500
8   KCZ2016        None           NaN          F   -7     142.3500
9   KWH2017        None           NaN          F    6     454.2500
10  KWZ2016        None           NaN          F   -6     437.7500
13  LNG2017        None           NaN          F   -1      59.9250
14  LNZ2016        None           NaN          F    1      55.3500
15  NGH2017        None           NaN          F   -2       3.1540
16  NGJ2017        None           NaN          F    2       2.9400
17  RBV2016        None           NaN          F    1       1.2304
18  RBX2016        None           NaN          F   -1       1.2254
19  SBH2017        None           NaN          F   -2      20.1100
20  SBK2017        None           NaN          F    2      19.5700
21  SMV2016        None           NaN          F   -3     331.9000
22  SMZ2016        None           NaN          F    3     330.1000
24   WK2017        None           NaN          F   -1     474.5000
25   WN2017        None           NaN          F    1     480.5000

In [11]:
column_names = net_position_frame.columns.tolist()
import numpy as np
strategy_to = 'spreadCarryAug16'
now_time = dt.datetime.now()
target_strategy_id = ts.get_strategy_id_from_alias(alias=strategy_to, **kwargs)
ticker_indx = column_names.index('ticker')
option_type_indx = column_names.index('option_type')
strike_price_indx = column_names.index('strike_price')
trade_price_indx = column_names.index('trade_price')
trade_quantity_indx = column_names.index('qty')
instrument_indx = column_names.index('instrument')

column_str = "ticker, option_type, strike_price, strategy_id, trade_price, trade_quantity, trade_date, instrument, real_tradeQ, created_date, last_updated_date"
insert_str = ("%s, " * 11)[:-2]

final_str = "INSERT INTO trades (%s) VALUES (%s)" % (column_str, insert_str)

tuples_target = [tuple([x[ticker_indx],x[option_type_indx], 
                        None if np.isnan(x[strike_price_indx]) else x[strike_price_indx], 
                        target_strategy_id,
              x[trade_price_indx], x[trade_quantity_indx],
              as_of_date,x[instrument_indx], True,now_time,now_time]) for x in net_position_frame.values]

msu.sql_execute_many_wrapper(final_str=final_str, tuples=tuples_target, con=con)