In [1]:
import backtesting.backtest_ibo as bibo
merged_frame = bibo.accumulated_ibo_performance(date_to = 20160826)

20160701
20160705
20160706
20160707
20160708
20160711
20160712
20160713
20160714
20160715
20160718
20160719
20160720
20160721
20160722
20160725
20160726
20160727
20160728
20160729
20160801
20160802
20160803
20160804
20160805
20160808
20160809
20160810
20160811
20160812
20160815
20160816
20160817
20160818
20160819
20160822
20160823
20160824
20160825
20160826

In [2]:

first_trades = merged_frame[merged_frame['daily_trade_no']==1]
second_trades = merged_frame[merged_frame['daily_trade_no']==2]

import matplotlib.pyplot as plt
plt.plot(first_trades['pnl_scaled'].cumsum())
plt.grid()
plt.show()

In [3]:
import pandas as pd
grouped = first_trades.groupby('trade_date')

portfolio = pd.DataFrame()
portfolio['pnl'] = grouped['pnl_scaled'].sum()

import matplotlib.pyplot as plt
plt.plot(portfolio['pnl'].cumsum())
plt.grid()
plt.show()

In [4]:
portfolio.sort('pnl')

                  pnl
trade_date
20160816   -5326.4875
20160822   -3978.3000
20160808   -3654.5250
20160826   -3641.3000
20160725   -3591.1250
20160817   -3198.2250
20160819   -2585.8000
20160823   -2346.7500
20160803   -2156.7000
20160729   -1885.0000
20160726   -1682.5750
20160815   -1500.2000
20160809   -1354.1000
20160812   -1100.6750
20160805    -484.1500
20160804    -321.8000
20160722    -126.6000
20160824      -2.4500
20160728     345.6250
20160818     882.4500
20160810    1433.8250
20160802    2374.1000
20160825    4640.2000
20160727    5889.1250
20160801    6710.6250
20160811    6934.3250

In [4]:
import math as m
m.sqrt(252)*portfolio['pnl'].mean()/(portfolio['pnl'].std())

-2.4033492395912543

In [8]:
trades4day = first_trades[first_trades['trade_date']==20160822]
trades4day.sort('pnl_scaled')

,ticker,ticker_head,direction,entry_price,exit_price,pnl,entry_time,exit_time,exit_type,daily_trade_no,qty,pnl_scaled,trade_date
0,LNV2016,LN,1,62.625000,62.175000,-180.00,2016-08-22 09:26:00,2016-08-22 09:37:00,oso,1,7,-1260.0,20160822
0,JYU2016,JY,1,99830.000000,99765.000000,-81.25,2016-08-22 11:24:00,2016-08-22 11:28:00,oso,1,10,-812.5,20160822
0,LCV2016,LC,-1,109.312500,109.525000,-85.00,2016-08-22 09:39:00,2016-08-22 10:17:00,oso,1,7,-595.0,20160822
0,GCZ2016,GC,1,1342.750000,1341.950000,-80.00,2016-08-22 10:23:00,2016-08-22 10:46:00,oso,1,6,-480.0,20160822
0,CLV2016,CL,-1,47.645000,47.745000,-100.00,2016-08-22 11:03:00,2016-08-22 11:30:00,oso,1,4,-400.0,20160822
0,CCZ2016,CC,-1,2996.500000,2999.500000,-30.00,2016-08-22 09:52:00,2016-08-22 09:54:00,oso,1,10,-300.0,20160822
0,ADU2016,AD,1,0.762250,0.762050,-20.00,2016-08-22 10:54:00,2016-08-22 11:08:00,oso,1,14,-280.0,20160822
0,KWZ2016,KW,-1,439.875000,440.375000,-25.00,2016-08-22 11:52:00,2016-08-22 11:55:00,oso,1,9,-225.0,20160822
0,SIU2016,SI,-1,18.902500,18.907500,-25.00,2016-08-22 10:11:00,2016-08-22 10:13:00,oso,1,5,-125.0,20160822
0,NQU2016,NQ,1,4804.625000,4804.125000,-10.00,2016-08-22 13:46:00,2016-08-22 13:53:00,oso,1,7,-70.0,20160822
0,FCU2016,FC,-1,143.250000,143.275000,-12.50,2016-08-22 09:56:00,2016-08-22 10:13:00,oso,1,4,-50.0,20160822
0,FVU2016,FV,1,121.511719,121.511719,0.00,2016-08-22 11:03:00,2016-08-22 12:01:00,oso,1,29,0.0,20160822
0,OJU2016,OJ,-1,179.625000,179.525000,15.00,2016-08-22 12:35:00,2016-08-22 12:57:00,eod,1,6,90.0,20160822
0,RBV2016,RB,1,1.408700,1.412900,176.40,2016-08-22 09:33:00,2016-08-22 10:27:00,oso,1,3,529.2,20160822

In [9]:

import futures_charts.intraday_charts as ic
ic.get_intraday_breakout_chart(ticker='LNV2016',trade_date=20160822)

In [6]:
import signals.intraday_futures_signals as ifs

import matplotlib.pyplot as plt

#signal_out = ifs.get_intraday_trend_signals(ticker='CZ2016',date_to=20160825)
intraday_data = signal_out['intraday_data']

intraday_data

plt.figure(figsize=(16, 7))
plt.plot(intraday_data['time_stamp'],intraday_data['mid_p'])
plt.grid()
plt.show()

In [8]:
import shared.calendar_utilities as cu
import datetime as dt
date_to = 20160825
datetime_to = cu.convert_doubledate_2datetime(date_to)


range_start = dt.datetime.combine(datetime_to,dt.time(8,30,0,0))
intraday_data

             c1                                           time_stamp  \
     best_bid_p best_bid_q best_ask_p best_ask_q
0        336.25         30     336.50         62 2016-08-24 00:45:00
1        336.25         27     336.50         60 2016-08-24 00:46:00
2        336.25         27     336.50         61 2016-08-24 00:47:00
3        336.25         26     336.50         61 2016-08-24 00:48:00
4        336.25         24     336.50         62 2016-08-24 00:49:00
5        336.25         22     336.50         64 2016-08-24 00:50:00
6        336.25         18     336.50         62 2016-08-24 00:51:00
7        336.25         16     336.50         62 2016-08-24 00:52:00
8        336.25         13     336.50         62 2016-08-24 00:53:00
9        336.25         13     336.50         62 2016-08-24 00:54:00
10       336.25         11     336.50         63 2016-08-24 00:55:00
11       336.00         77     336.25         36 2016-08-24 00:56:00
12       336.00         83     336.25         37 2016-08-24 00:57:00
13       336.00         75     336.25         37 2016-08-24 00:58:00
14       335.75         93     336.00         96 2016-08-24 00:59:00
15       335.75         93     336.00        106 2016-08-24 01:00:00
16       335.75         93     336.00        106 2016-08-24 01:01:00
17       335.75         84     336.00        107 2016-08-24 01:02:00
18       335.75         89     336.00        105 2016-08-24 01:03:00
19       335.75         50     336.00        116 2016-08-24 01:04:00
20       335.75         53     336.00        116 2016-08-24 01:05:00
21       335.75         56     336.00        119 2016-08-24 01:06:00
22       335.75         63     336.00        123 2016-08-24 01:07:00
23       335.75         76     336.00        122 2016-08-24 01:08:00
24       335.75         66     336.00        128 2016-08-24 01:09:00
25       335.75         66     336.00        129 2016-08-24 01:10:00
26       335.75         68     336.00        130 2016-08-24 01:11:00
27       335.75         65     336.00        126 2016-08-24 01:12:00
28       335.75         68     336.00        128 2016-08-24 01:13:00
29       335.75         71     336.00        128 2016-08-24 01:14:00
...         ...        ...        ...        ...                 ...
1384     332.50        195     332.75        189 2016-08-25 12:48:00
1385     332.50        176     332.75        196 2016-08-25 12:49:00
1386     332.25        219     332.50        198 2016-08-25 12:50:00
1387     332.25        110     332.50        203 2016-08-25 12:51:00
1388     332.25         78     332.50        328 2016-08-25 12:52:00
1389     332.00         64     332.25        448 2016-08-25 12:53:00
1390     331.75        543     332.00         66 2016-08-25 12:54:00
1391     331.75        307     332.00        202 2016-08-25 12:55:00
1392     332.00        183     332.25        258 2016-08-25 12:56:00
1393     332.00        263     332.25        284 2016-08-25 12:57:00
1394     332.00        126     332.25        351 2016-08-25 12:58:00
1395     332.00        254     332.25        259 2016-08-25 12:59:00
1396     332.00        271     332.25        282 2016-08-25 13:00:00
1397     332.25         40     332.50        333 2016-08-25 13:01:00
1398     332.25         66     332.50        343 2016-08-25 13:02:00
1399     332.25         57     332.50        314 2016-08-25 13:03:00
1400     332.50        139     332.75        279 2016-08-25 13:04:00
1401     332.50         63     332.75        316 2016-08-25 13:05:00
1402     332.50         60     332.75        279 2016-08-25 13:06:00
1403     332.50        186     332.75        157 2016-08-25 13:07:00
1404     332.00         58     332.25        299 2016-08-25 13:08:00
1405     332.00        414     332.25        169 2016-08-25 13:09:00
1406     332.00        222     332.25        105 2016-08-25 13:10:00
1407     332.00        187     332.25        257 2016-08-25 13:11:00
1408     332.00        338     332.25        189 2016-08-25 13:12:00
1409     332.00        292     332.25        223 2016-08-25 13:13:00
1410     332.00        371     332.25        110 2016-08-25 13:14:00
1411     332.00        375     332.25        189 2016-08-25 13:15:00
1412     332.00        286     332.25        298 2016-08-25 13:16:00
1413     331.75        436     332.00        247 2016-08-25 13:17:00

     hour_minute    mid_p     ewma100      ewma25

0             45  336.375  336.375000  336.375000
1             46  336.375  336.375000  336.375000
2             47  336.375  336.375000  336.375000
3             48  336.375  336.375000  336.375000
4             49  336.375  336.375000  336.375000
5             50  336.375  336.375000  336.375000
6             51  336.375  336.375000  336.375000
7             52  336.375  336.375000  336.375000
8             53  336.375  336.375000  336.375000
9             54  336.375  336.375000  336.375000
10            55  336.375  336.375000  336.375000
11            56  336.125  336.351799  336.343847
12            57  336.125  336.332184  336.317818
13            58  336.125  336.315385  336.295809
14            59  335.875  336.281740  336.249500
15           100  335.875  336.252330  336.209608
16           101  335.875  336.226407  336.174991
17           102  335.875  336.203391  336.144757
18           103  335.875  336.182822  336.118203
19           104  335.875  336.164333  336.094768
20           105  335.875  336.147628  336.073995
21           106  335.875  336.132462  336.055510
22           107  335.875  336.118635  336.039006
23           108  335.875  336.105980  336.024226
24           109  335.875  336.094356  336.010952
25           110  335.875  336.083644  335.999003
26           111  335.875  336.073742  335.988223
27           112  335.875  336.064564  335.978477
28           113  335.875  336.056035  335.969651
29           114  335.875  336.048090  335.961645
...          ...      ...         ...         ...
1384        1248  332.625  332.811901  332.567013
1385        1249  332.625  332.808200  332.571473
1386        1250  332.375  332.799622  332.556360
1387        1251  332.375  332.791213  332.542409
1388        1252  332.375  332.782972  332.529531
1389        1253  332.125  332.769942  332.498414
1390        1254  331.875  332.752221  332.450459
1391        1255  331.875  332.734850  332.406193
1392        1256  332.125  332.722774  332.384562
1393        1257  332.125  332.710937  332.364596
1394        1258  332.125  332.699334  332.346166
1395        1259  332.125  332.687961  332.329153
1396        1300  332.125  332.676813  332.313449
1397        1301  332.375  332.670837  332.318184
1398        1302  332.375  332.664979  332.322554
1399        1303  332.375  332.659236  332.326588
1400        1304  332.625  332.658559  332.349543
1401        1305  332.625  332.657894  332.370732
1402        1306  332.625  332.657243  332.390291
1403        1307  332.625  332.656604  332.408346
1404        1308  332.125  332.646077  332.386550
1405        1309  332.125  332.635759  332.366431
1406        1310  332.125  332.625645  332.347859
1407        1311  332.125  332.615731  332.330716
1408        1312  332.125  332.606014  332.314892
1409        1313  332.125  332.596489  332.300285
1410        1314  332.125  332.587152  332.286801
1411        1315  332.125  332.578001  332.274355
1412        1316  332.125  332.569030  332.262866
1413        1317  331.875  332.555287  332.233030

[1414 rows x 9 columns]

In [2]:
import signals.intraday_futures_signals as ifs
signals_output = ifs.get_intraday_trend_signals(ticker='RBU2016',date_to=20160804)
signals_output['daily_pnl']

RBU2016

-989.10000000000764

In [2]:
import formats.intraday_futures_strategy_formats as ifsf
ifsf.generate_ibo_formatted_output(report_date=20160812)

In [1]:
import opportunity_constructs.intraday_breakouts as ib
wuhu = ib.generate_ibo_sheet_4date(date_to=20160812)
wuhu['sheet_4date']

     ticker ticker_head  daily_pnl
0   ADU2016          AD        NaN
1    BV2016           B        NaN
2   BOZ2016          BO        NaN
3   BPU2016          BP        NaN
4    CZ2016           C        NaN
5   CCZ2016          CC        NaN
6   CDU2016          CD        NaN
7   CLU2016          CL        NaN
8   CTZ2016          CT        NaN
9   ECU2016          EC        NaN
10  EDZ2016          ED        NaN
11  ESU2016          ES        NaN
12  FCU2016          FC        NaN
13  FVU2016          FV        NaN
14  GCZ2016          GC        NaN
15  HOU2016          HO        NaN
16  JYU2016          JY        NaN
17  KCZ2016          KC        NaN
18  KWU2016          KW        NaN
19  LCV2016          LC        NaN
20  LNV2016          LN        NaN
21  NGU2016          NG        NaN
22  NQU2016          NQ        NaN
23  OJU2016          OJ        NaN
24  RBU2016          RB        NaN
25   SX2016           S        NaN
26  SBV2016          SB        NaN
27  SIU2016          SI        NaN
28  SMZ2016          SM        NaN
29  TUU2016          TU        NaN
30  TYU2016          TY        NaN
31  USU2016          US        NaN
32   WU2016           W        NaN

In [8]:
import contract_utilities.contract_meta_info as cmi
import datetime as dt
dt.time(13,1)>cmi.last_trade_hour_minute['LN']

False

In [17]:
import opportunity_constructs.utilities as opUtil
ticker = 'LNV2016'
date_list = 20160711
intraday_data = opUtil.get_aligned_futures_data_intraday(contract_list=[ticker],
                                       date_list=[date_list])

#intraday_data.index[0].time<cmi.last_trade_hour_minute['LN'].hour

cmi.last_trade_hour_minute['LN'].hour

intraday_data.index[0].to_datetime().time()>cmi.last_trade_hour_minute['LN']

selection_indx = [x for x in range(len(intraday_data.index)) if intraday_data.index[x].to_datetime().time()<cmi.last_trade_hour_minute['LN']]

In [18]:
intraday_data.iloc[selection_indx]

                            c1
                    best_bid_p best_bid_q best_ask_p best_ask_q
2016-07-11 04:30:00        NaN        NaN        NaN        NaN
2016-07-11 04:31:00     68.300          5     69.550          8
2016-07-11 04:32:00     68.300          5     69.550          8
2016-07-11 04:33:00     68.300          5     69.550          8
2016-07-11 04:34:00     68.300          5     69.550          8
2016-07-11 04:35:00     68.300          5     69.550          8
2016-07-11 04:36:00     68.300          5     69.550          8
2016-07-11 04:37:00     68.300          5     69.550          8
2016-07-11 04:38:00     68.300          5     69.550          8
2016-07-11 04:39:00     68.300          5     69.550          8
2016-07-11 04:40:00     68.300          5     69.550          8
2016-07-11 04:41:00     68.300          5     69.550          8
2016-07-11 04:42:00     68.300          5     69.550          8
2016-07-11 04:43:00     68.300          5     69.550          8
2016-07-11 04:44:00     68.300          5     69.550          8
2016-07-11 04:45:00     68.300          5     69.550          8
2016-07-11 04:46:00     68.300          5     69.550          8
2016-07-11 04:47:00     68.300          5     69.550          8
2016-07-11 04:48:00     68.300          5     69.550          8
2016-07-11 04:49:00     68.300          5     69.550          8
2016-07-11 04:50:00     68.300          5     69.550          8
2016-07-11 04:51:00     68.300          5     69.550          8
2016-07-11 04:52:00     68.300          5     69.550          8
2016-07-11 04:53:00     68.300          5     69.550          8
2016-07-11 04:54:00     68.300          5     69.550          8
2016-07-11 04:55:00     68.300          5     69.550          8
2016-07-11 04:56:00     68.300          5     69.550          8
2016-07-11 04:57:00     68.300          5     69.550          8
2016-07-11 04:58:00     68.300          5     69.550          8
2016-07-11 04:59:00     68.300          5     69.550          8
...                        ...        ...        ...        ...
2016-07-11 12:33:00     68.025          4     68.075         12
2016-07-11 12:34:00     68.125          5     68.175          9
2016-07-11 12:35:00     68.125          4     68.150          4
2016-07-11 12:36:00     68.100          1     68.125          4
2016-07-11 12:37:00     68.075          4     68.125          8
2016-07-11 12:38:00     68.000          4     68.050         12
2016-07-11 12:39:00     67.950          2     68.000         10
2016-07-11 12:40:00     67.925          3     67.975          7
2016-07-11 12:41:00     67.850          6     67.875          1
2016-07-11 12:42:00     67.900          8     67.950          7
2016-07-11 12:43:00     68.025          1     68.075          4
2016-07-11 12:44:00     68.025          5     68.075          3
2016-07-11 12:45:00     68.050          2     68.075          3
2016-07-11 12:46:00     68.000          5     68.050          5
2016-07-11 12:47:00     68.000          9     68.050          7
2016-07-11 12:48:00     68.000          1     68.050          7
2016-07-11 12:49:00     68.025          4     68.075          6
2016-07-11 12:50:00     67.925          1     67.975          7
2016-07-11 12:51:00     67.900          1     67.950         13
2016-07-11 12:52:00     67.900          2     67.925          1
2016-07-11 12:53:00     67.875          5     67.900          1
2016-07-11 12:54:00     67.950          2     67.975          2
2016-07-11 12:55:00     67.900          8     67.950          1
2016-07-11 12:56:00     68.025          3     68.050          7
2016-07-11 12:57:00     68.000          6     68.050          8
2016-07-11 12:58:00     68.050          1     68.075          4
2016-07-11 12:59:00     68.100          3     68.150          8
2016-07-11 13:00:00     68.100         12     68.150          6
2016-07-11 13:01:00     68.025          3     68.075          6
2016-07-11 13:02:00     68.125         10     68.150          5

[513 rows x 4 columns]