In [ ]:
import get_price.presave_price as pp
pp.generate_and_update_futures_data_files(ticker_head_list='butterfly')

# probably better idea here is to check for spikes es you enter the trade
# and don't exit unless stop is triggered for 5 days consecutively

In [1]:
# Creating Date List For Backtesting
import sys
sys.path.append(r'C:\Users\kocat_000\quantFinance\PycharmProjects')
import backtesting.utilities as bu
dates_output = bu.get_backtesting_dates(date_to=20161014,years_back=10)
double_dates = sorted(dates_output['double_dates'],reverse=False)
selected_dates = double_dates
selected_dates

[20061018,
 20061025,
 20061101,
 20061108,
 20061115,
 20061122,
 20061129,
 20061206,
 20061213,
 20061220,
 20061227,
 20070103,
 20070110,
 20070117,
 20070124,
 20070131,
 20070207,
 20070214,
 20070221,
 20070228,
 20070307,
 20070314,
 20070321,
 20070328,
 20070404,
 20070411,
 20070418,
 20070425,
 20070502,
 20070509,
 20070516,
 20070523,
 20070530,
 20070606,
 20070613,
 20070620,
 20070627,
 20070711,
 20070718,
 20070725,
 20070801,
 20070808,
 20070815,
 20070822,
 20070829,
 20070905,
 20070912,
 20070919,
 20070926,
 20071003,
 20071010,
 20071017,
 20071024,
 20071031,
 20071107,
 20071114,
 20071121,
 20071128,
 20071205,
 20071212,
 20071219,
 20071226,
 20080102,
 20080109,
 20080116,
 20080123,
 20080130,
 20080206,
 20080213,
 20080220,
 20080227,
 20080305,
 20080312,
 20080319,
 20080326,
 20080402,
 20080409,
 20080416,
 20080423,
 20080430,
 20080507,
 20080514,
 20080521,
 20080528,
 20080604,
 20080611,
 20080618,
 20080625,
 20080702,
 20080709,
 20080716,
 20080723,
 20080730,
 20080806,
 20080813,
 20080820,
 20080827,
 20080903,
 20080910,
 20080917,
 20080924,
 20081001,
 20081008,
 20081015,
 20081022,
 20081029,
 20081105,
 20081112,
 20081119,
 20081126,
 20081203,
 20081210,
 20081217,
 20081224,
 20081231,
 20090107,
 20090114,
 20090121,
 20090128,
 20090204,
 20090211,
 20090218,
 20090225,
 20090304,
 20090311,
 20090318,
 20090325,
 20090401,
 20090408,
 20090415,
 20090422,
 20090429,
 20090506,
 20090513,
 20090520,
 20090527,
 20090603,
 20090610,
 20090617,
 20090624,
 20090701,
 20090708,
 20090715,
 20090722,
 20090729,
 20090805,
 20090812,
 20090819,
 20090826,
 20090902,
 20090909,
 20090916,
 20090923,
 20090930,
 20091007,
 20091014,
 20091021,
 20091028,
 20091104,
 20091111,
 20091118,
 20091125,
 20091202,
 20091209,
 20091216,
 20091223,
 20091230,
 20100106,
 20100113,
 20100120,
 20100127,
 20100203,
 20100210,
 20100217,
 20100224,
 20100303,
 20100310,
 20100317,
 20100324,
 20100331,
 20100407,
 20100414,
 20100421,
 20100428,
 20100505,
 20100512,
 20100519,
 20100526,
 20100602,
 20100609,
 20100616,
 20100623,
 20100630,
 20100707,
 20100714,
 20100721,
 20100728,
 20100804,
 20100811,
 20100818,
 20100825,
 20100901,
 20100908,
 20100915,
 20100922,
 20100929,
 20101006,
 20101013,
 20101020,
 20101027,
 20101103,
 20101110,
 20101117,
 20101124,
 20101201,
 20101208,
 20101215,
 20101222,
 20101229,
 20110105,
 20110112,
 20110119,
 20110126,
 20110202,
 20110209,
 20110216,
 20110223,
 20110302,
 20110309,
 20110316,
 20110323,
 20110330,
 20110406,
 20110413,
 20110420,
 20110427,
 20110504,
 20110511,
 20110518,
 20110525,
 20110601,
 20110608,
 20110615,
 20110622,
 20110629,
 20110706,
 20110713,
 20110720,
 20110727,
 20110803,
 20110810,
 20110817,
 20110824,
 20110831,
 20110907,
 20110914,
 20110921,
 20110928,
 20111005,
 20111012,
 20111019,
 20111026,
 20111102,
 20111109,
 20111116,
 20111123,
 20111130,
 20111207,
 20111214,
 20111221,
 20111228,
 20120104,
 20120111,
 20120118,
 20120125,
 20120201,
 20120208,
 20120215,
 20120222,
 20120229,
 20120307,
 20120314,
 20120321,
 20120328,
 20120404,
 20120411,
 20120418,
 20120425,
 20120502,
 20120509,
 20120516,
 20120523,
 20120530,
 20120606,
 20120613,
 20120620,
 20120627,
 20120711,
 20120718,
 20120725,
 20120801,
 20120808,
 20120815,
 20120822,
 20120829,
 20120905,
 20120912,
 20120919,
 20120926,
 20121003,
 20121010,
 20121017,
 20121024,
 20121031,
 20121107,
 20121114,
 20121121,
 20121128,
 20121205,
 20121212,
 20121219,
 20121226,
 20130102,
 20130109,
 20130116,
 20130123,
 20130130,
 20130206,
 20130213,
 20130220,
 20130227,
 20130306,
 20130313,
 20130320,
 20130327,
 20130403,
 20130410,
 20130417,
 20130424,
 20130501,
 20130508,
 20130515,
 20130522,
 20130529,
 20130605,
 20130612,
 20130619,
 20130626,
 20130703,
 20130710,
 20130717,
 20130724,
 20130731,
 20130807,
 20130814,
 20130821,
 20130828,
 20130904,
 20130911,
 20130918,
 20130925,
 20131002,
 20131009,
 20131016,
 20131023,
 20131030,
 20131106,
 20131113,
 20131120,
 20131127,
 20131204,
 20131211,
 20131218,
 20140108,
 20140115,
 20140122,
 20140129,
 20140205,
 20140212,
 20140219,
 20140226,
 20140305,
 20140312,
 20140319,
 20140326,
 20140402,
 20140409,
 20140416,
 20140423,
 20140430,
 20140507,
 20140514,
 20140521,
 20140528,
 20140604,
 20140611,
 20140618,
 20140625,
 20140702,
 20140709,
 20140716,
 20140723,
 20140730,
 20140806,
 20140813,
 20140820,
 20140827,
 20140903,
 20140910,
 20140917,
 20140924,
 20141001,
 20141008,
 20141015,
 20141022,
 20141029,
 20141105,
 20141112,
 20141119,
 20141126,
 20141203,
 20141210,
 20141217,
 20141224,
 20141231,
 20150107,
 20150114,
 20150121,
 20150128,
 20150204,
 20150211,
 20150218,
 20150225,
 20150304,
 20150311,
 20150318,
 20150325,
 20150401,
 20150408,
 20150415,
 20150422,
 20150429,
 20150506,
 20150513,
 20150520,
 20150527,
 20150603,
 20150610,
 20150617,
 20150624,
 20150701,
 20150708,
 20150715,
 20150722,
 20150729,
 20150805,
 20150812,
 20150819,
 20150826,
 20150902,
 20150909,
 20150916,
 20150923,
 20150930,
 20151007,
 20151014,
 20151021,
 20151028,
 20151104,
 20151111,
 20151118,
 20151125,
 20151202,
 20151209,
 20151216,
 20151223,
 20151230,
 20160106,
 20160113,
 20160120,
 20160127,
 20160203,
 20160210,
 20160217,
 20160224,
 20160302,
 20160309,
 20160316,
 20160323,
 20160330,
 20160406,
 20160413,
 20160420,
 20160427,
 20160504,
 20160511,
 20160518,
 20160525,
 20160601,
 20160608,
 20160615,
 20160622,
 20160629,
 20160706,
 20160713,
 20160720,
 20160727,
 20160803,
 20160810,
 20160817,
 20160824,
 20160831,
 20160907,
 20160914,
 20160921,
 20160928,
 20161005,
 20161012]

In [3]:
# Historical Butterfly Report Run:

import opportunity_constructs.futures_butterfly as fb

for date_to in selected_dates:
    fb.generate_futures_butterfly_sheet_4date(date_to=date_to)

In [ ]:
import backtesting.backtest_futures_with_paths as bfp
butterfly_output = bfp.get_backtest_summary(date_list = selected_dates,
                                            use_existing_filesQ=True)

big_data = butterfly_output['big_data']
backtest_output = butterfly_output['backtest_output']
big_data['mom5'] = big_data['recent_5day_pnl']/(abs(big_data['downside'])+big_data['upside'])

In [2]:
# Calculate Backtesting Results With A Variety of Stoploss Choices:

import backtesting.backtest_futures_butterfly as bfb

backtest_results_list = []

for i in range(len(selected_dates)):
    print(selected_dates[i])
    backtest_results_list.append(bfb.save_trade_paths(report_date=selected_dates[i],use_existing_filesQ=False))

20061018
20061025
20061101
20061108
20061115
20061122
20061129
20061206
20061213
20061220
20061227
20070103
20070110
20070117
20070124
20070131
20070207
20070214
20070221
20070228
20070307
20070314
20070321
20070328
20070404
20070411
20070418
20070425
20070502
20070509
20070516
20070523
20070530
20070606
20070613
20070620
20070627
20070711
20070718
20070725
20070801
20070808
20070815
20070822
20070829
20070905
20070912
20070919
20070926
20071003
20071010
20071017
20071024
20071031
20071107
20071114
20071121
20071128
20071205
20071212
20071219
20071226
20080102
20080109
20080116
20080123
20080130
20080206
20080213
20080220
20080227
20080305
20080312
20080319
20080326
20080402
20080409
20080416
20080423
20080430
20080507
20080514
20080521
20080528
20080604
20080611
20080618
20080625
20080702
20080709
20080716
20080723
20080730
20080806
20080813
20080820
20080827
20080903
20080910
20080917
20080924
20081001
20081008
20081015
20081022
20081029
20081105
20081112
20081119
20081126
20081203
20081210
20081217
20081224
20081231
20090107
20090114
20090121
20090128
20090204
20090211
20090218
20090225
20090304
20090311
20090318
20090325
20090401
20090408
20090415
20090422
20090429
20090506
20090513
20090520
20090527
20090603
20090610
20090617
20090624
20090701
20090708
20090715
20090722
20090729
20090805
20090812
20090819
20090826
20090902
20090909
20090916
20090923
20090930
20091007
20091014
20091021
20091028
20091104
20091111
20091118
20091125
20091202
20091209
20091216
20091223
20091230
20100106
20100113
20100120
20100127
20100203
20100210
20100217
20100224
20100303
20100310
20100317
20100324
20100331
20100407
20100414
20100421
20100428
20100505
20100512
20100519
20100526
20100602
20100609
20100616
20100623
20100630
20100707
20100714
20100721
20100728
20100804
20100811
20100818
20100825
20100901
20100908
20100915
20100922
20100929
20101006
20101013
20101020
20101027
20101103
20101110
20101117
20101124
20101201
20101208
20101215
20101222
20101229
20110105
20110112
20110119
20110126
20110202
20110209
20110216
20110223
20110302
20110309
20110316
20110323
20110330
20110406
20110413
20110420
20110427
20110504
20110511
20110518
20110525
20110601
20110608
20110615
20110622
20110629
20110706
20110713
20110720
20110727
20110803
20110810
20110817
20110824
20110831
20110907
20110914
20110921
20110928
20111005
20111012
20111019
20111026
20111102
20111109
20111116
20111123
20111130
20111207
20111214
20111221
20111228
20120104
20120111
20120118
20120125
20120201
20120208
20120215
20120222
20120229
20120307
20120314
20120321
20120328
20120404
20120411
20120418
20120425
20120502
20120509
20120516
20120523
20120530
20120606
20120613
20120620
20120627
20120711
20120718
20120725
20120801
20120808
20120815
20120822
20120829
20120905
20120912
20120919
20120926
20121003
20121010
20121017
20121024
20121031
20121107
20121114
20121121
20121128
20121205
20121212
20121219
20121226
20130102
20130109
20130116
20130123
20130130
20130206
20130213
20130220
20130227
20130306
20130313
20130320
20130327
20130403
20130410
20130417
20130424
20130501
20130508
20130515
20130522
20130529
20130605
20130612
20130619
20130626
20130703
20130710
20130717
20130724
20130731
20130807
20130814
20130821
20130828
20130904
20130911
20130918
20130925
20131002
20131009
20131016
20131023
20131030
20131106
20131113
20131120
20131127
20131204
20131211
20131218
20140108
20140115
20140122
20140129
20140205
20140212
20140219
20140226
20140305
20140312
20140319
20140326
20140402
20140409
20140416
20140423
20140430
20140507
20140514
20140521
20140528
20140604
20140611
20140618
20140625
20140702
20140709
20140716
20140723
20140730
20140806
20140813
20140820
20140827
20140903
20140910
20140917
20140924
20141001
20141008
20141015
20141022
20141029
20141105
20141112
20141119
20141126
20141203
20141210
20141217
20141224
20141231
20150107
20150114
20150121
20150128
20150204
20150211
20150218
20150225
20150304
20150311
20150318
20150325
20150401
20150408
20150415
20150422
20150429
20150506
20150513
20150520
20150527
20150603
20150610
20150617
20150624
20150701
20150708
20150715
20150722
20150729
20150805
20150812
20150819
20150826
20150902
20150909
20150916
20150923
20150930
20151007
20151014
20151021
20151028
20151104
20151111
20151118
20151125
20151202
20151209
20151216
20151223
20151230
20160106
20160113
20160120
20160127
20160203
20160210
20160217
20160224
20160302
20160309
20160316
20160323
20160330
20160406
20160413
20160420
20160427
20160504
20160511
20160518
20160525
20160601
20160608
20160615
20160622
20160629
20160706
20160713
20160720
20160727
20160803
20160810
20160817
20160824
20160831
20160907
20160914
20160921
20160928
20161005
20161012

In [4]:
import pandas as pd
big_data = pd.concat(backtest_results_list)
big_data

,ticker1,ticker2,ticker3,tickerHead,tickerClass,trDte1,trDte2,trDte3,multiplier,agg,...,short_stop_days1,short_stop_days2,short_stop_days3,long_pnl20,long_pnl40,long_pnl60,short_pnl20,short_pnl40,short_pnl60,report_date
0,LNZ2006,LNG2007,LNJ2007,LN,Livestock,40,81,122,400,12,...,NaN,NaN,NaN,-3114.000,NaN,NaN,3114.000,NaN,NaN,20061018
1,LNG2007,LNJ2007,LNM2007,LN,Livestock,81,122,164,400,12,...,NaN,NaN,NaN,-3468.000,-4896.000,5888.80,3876.000,5472.000,-6581.60,20061018
2,LNJ2007,LNM2007,LNN2007,LN,Livestock,122,164,185,400,12,...,8,8,8,-593.880,-10716.720,-28407.12,537.320,9696.080,25701.68,20061018
3,LNM2007,LNN2007,LNQ2007,LN,Livestock,164,185,206,400,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20061018
4,LNZ2006,LNJ2007,LNN2007,LN,Livestock,40,122,185,400,12,...,NaN,NaN,NaN,-6040.000,NaN,NaN,8456.000,NaN,NaN,20061018
5,LNG2007,LNM2007,LNQ2007,LN,Livestock,81,164,206,400,12,...,8,8,8,-3043.560,-13637.520,-28340.52,3277.680,14686.560,30520.56,20061018
6,LCZ2006,LCG2007,LCJ2007,LC,Livestock,50,90,132,400,12,...,NaN,NaN,NaN,2328.000,NaN,NaN,-2095.200,NaN,NaN,20061018
7,LCG2007,LCJ2007,LCM2007,LC,Livestock,90,132,175,400,12,...,5,5,5,-9263.000,-18751.000,-12683.00,6669.360,13500.720,9131.76,20061018
8,LCJ2007,LCM2007,LCQ2007,LC,Livestock,132,175,219,400,12,...,52,52,52,-288.000,-3123.840,-1363.20,336.000,3644.480,1590.40,20061018
9,LCZ2006,LCJ2007,LCQ2007,LC,Livestock,50,132,219,400,12,...,NaN,NaN,NaN,-4518.640,NaN,NaN,3873.120,NaN,NaN,20061018
10,CZ2006,CH2007,CK2007,C,Ag,40,100,142,50,12,...,NaN,NaN,NaN,-23426.000,NaN,NaN,21849.250,NaN,NaN,20061018
11,CH2007,CK2007,CN2007,C,Ag,100,142,184,50,12,...,NaN,NaN,NaN,-13182.750,-4158.000,-30665.25,13252.500,4180.000,30827.50,20061018
12,CK2007,CN2007,CU2007,C,Ag,142,184,228,50,12,...,NaN,NaN,NaN,2576.000,-39330.000,-52992.00,-2142.000,32703.750,44064.00,20061018
13,CN2007,CU2007,CZ2007,C,Ag,184,228,292,50,12,...,34,34,34,-21204.000,4246.500,-14976.75,30876.000,-6183.500,21808.25,20061018
14,CU2007,CZ2007,CZ2008,C,Ag,228,292,543,50,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20061018
15,CZ2006,CK2007,CU2007,C,Ag,40,142,228,50,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20061018
16,CH2007,CN2007,CZ2007,C,Ag,100,184,292,50,12,...,NaN,NaN,NaN,-18326.000,-48373.500,-91451.50,15554.000,41056.500,77618.50,20061018
17,CK2007,CU2007,CZ2008,C,Ag,142,228,543,50,12,...,NaN,NaN,NaN,-10990.500,-5278.500,-7114.50,11206.000,5382.000,7254.00,20061018
18,CZ2006,CN2007,CZ2008,C,Ag,40,184,543,50,12,...,NaN,NaN,NaN,-38171.250,NaN,NaN,28746.250,NaN,NaN,20061018
19,SF2007,SH2007,SK2007,S,Ag,59,100,142,50,12,...,NaN,NaN,NaN,-9486.375,-8984.125,NaN,12725.625,12051.875,NaN,20061018
20,SH2007,SK2007,SN2007,S,Ag,100,142,184,50,12,...,NaN,NaN,NaN,-7323.750,-10683.750,-4095.00,7742.250,11294.250,4329.00,20061018
21,SK2007,SN2007,SX2007,S,Ag,142,184,271,50,12,...,6,6,6,2463.500,305.500,-8203.00,-3126.750,-387.750,10411.50,20061018
22,SF2007,SK2007,SX2007,S,Ag,59,142,271,50,12,...,NaN,NaN,NaN,-9093.875,-13340.375,NaN,12922.875,18957.375,NaN,20061018
23,SMZ2006,SMF2007,SMH2007,SM,Ag,40,59,100,100,12,...,NaN,NaN,NaN,-4187.000,NaN,NaN,3763.000,NaN,NaN,20061018
24,BOZ2006,BOF2007,BOH2007,BO,Ag,40,59,100,600,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20061018
25,BOF2007,BOH2007,BOK2007,BO,Ag,59,100,142,600,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20061018
26,BOH2007,BOK2007,BON2007,BO,Ag,100,142,184,600,12,...,9,9,9,-4213.440,123.120,-2585.52,4398.240,-128.520,2698.92,20061018
27,BOK2007,BON2007,BOZ2007,BO,Ag,142,184,292,600,12,...,NaN,NaN,NaN,1069.320,-9085.200,-4036.08,-1125.180,9559.800,4246.92,20061018
28,BOZ2006,BOH2007,BON2007,BO,Ag,40,100,184,600,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20061018
29,BOF2007,BOK2007,BOZ2007,BO,Ag,59,142,292,600,12,...,NaN,NaN,NaN,-7584.480,-10913.040,NaN,8683.680,12494.640,NaN,20061018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,EDM2018,EDU2018,EDZ2018,ED,STIR,426,489,553,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
312,EDU2018,EDZ2018,EDH2019,ED,STIR,489,553,616,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
313,EDZ2018,EDH2019,EDM2019,ED,STIR,553,616,679,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
314,EDH2019,EDM2019,EDU2019,ED,STIR,616,679,742,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
315,EDM2019,EDU2019,EDZ2019,ED,STIR,679,742,806,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
316,EDU2019,EDZ2019,EDH2020,ED,STIR,742,806,869,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
317,EDZ2019,EDH2020,EDM2020,ED,STIR,806,869,932,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
318,EDH2020,EDM2020,EDU2020,ED,STIR,869,932,995,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
319,EDZ2016,EDM2017,EDZ2017,ED,STIR,47,173,300,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
320,EDH2017,EDU2017,EDH2018,ED,STIR,105,236,363,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
321,EDM2017,EDZ2017,EDM2018,ED,STIR,173,300,426,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
322,EDU2017,EDH2018,EDU2018,ED,STIR,236,363,489,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
323,EDZ2017,EDM2018,EDZ2018,ED,STIR,300,426,553,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
324,EDH2018,EDU2018,EDH2019,ED,STIR,363,489,616,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
325,EDM2018,EDZ2018,EDM2019,ED,STIR,426,553,679,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
326,EDU2018,EDH2019,EDU2019,ED,STIR,489,616,742,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
327,EDZ2018,EDM2019,EDZ2019,ED,STIR,553,679,806,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
328,EDH2019,EDU2019,EDH2020,ED,STIR,616,742,869,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
329,EDM2019,EDZ2019,EDM2020,ED,STIR,679,806,932,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
330,EDU2019,EDH2020,EDU2020,ED,STIR,742,869,995,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
331,EDZ2016,EDU2017,EDM2018,ED,STIR,47,236,426,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
332,EDH2017,EDZ2017,EDU2018,ED,STIR,105,300,489,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
333,EDM2017,EDH2018,EDZ2018,ED,STIR,173,363,553,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
334,EDU2017,EDM2018,EDH2019,ED,STIR,236,426,616,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
335,EDZ2017,EDU2018,EDM2019,ED,STIR,300,489,679,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
336,EDH2018,EDZ2018,EDU2019,ED,STIR,363,553,742,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
337,EDM2018,EDH2019,EDZ2019,ED,STIR,426,616,806,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
338,EDU2018,EDM2019,EDH2020,ED,STIR,489,679,869,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
339,EDZ2018,EDU2019,EDM2020,ED,STIR,553,742,932,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012
340,EDH2019,EDZ2019,EDU2020,ED,STIR,616,806,995,2500,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20161012

In [4]:
import backtesting.backtest_futures_butterfly as bfb

total_pnl_frame_1 = bfb.construct_futures_butterfly_portfolio(rule_no=1,
                                          backtest_output=backtest_output,
                                          date_list = selected_dates,
                                          pnl_field='hold_pnl5')

total_pnl_frame_2 = bfb.construct_futures_butterfly_portfolio(rule_no=2,
                                          backtest_output=backtest_output,
                                          date_list = selected_dates,
                                          pnl_field='hold_pnl5')

In [5]:
import matplotlib.pyplot as plt
#trade_data=big_data
plt.plot(total_pnl_frame_1.index,total_pnl_frame_1['portfolio'].cumsum(),
         total_pnl_frame_2.index,total_pnl_frame_2['portfolio'].cumsum())
plt.grid()
plt.legend([1,2])
plt.show()

In [8]:
import math as m
sharp_1 = m.sqrt(52)*total_pnl_frame_1['portfolio'].mean()/total_pnl_frame_1['portfolio'].std()
sharp_2 = m.sqrt(52)*total_pnl_frame_2['portfolio'].mean()/total_pnl_frame_2['portfolio'].std()

print(sharp_1)
print(sharp_2)

4.17845018843885
3.8992354929493005

In [64]:
# All tickerheads are consistently profitable when long-short rules are combined

import matplotlib.pyplot as plt
#trade_data=big_data
tickerHeadList = big_data['tickerHead'].unique()
no=19
plt.plot(total_pnl_frame_1.index,total_pnl_frame_1[tickerHeadList[no]].cumsum())
plt.grid()
plt.title(tickerHeadList[no])
plt.show()

In [ ]:
# Unproportionate Contract Weights

In [7]:
import backtesting.backtest_futures_butterfly as bfb
portfolio_contributors_output = bfb.analyze_portfolio_contributors(date_list=selected_dates,
                                   backtest_output=backtest_output,
                                  rule_no=1,
                                  date_from=20160127,
                                  date_to=20160224)

portfolio_contributors_output['ticker_head_total_pnls']

portfolio_contributors_output['total_pnl_frame']

portfolio_contributors_output['ticker_head_total_pnls']

    abs_pnl    pnl ticker_head
CL    12563  12563          CL
HO    10190  10190          HO
NG     8833  -8833          NG
B      8711   8711           B
CC     4898  -4898          CC
FC     4805   4805          FC
RB     3795  -3795          RB
KC     3487   3487          KC
SB     2216   2216          SB
LN     1516   1516          LN
ED     1499   1499          ED
S      1350   1350           S
KW     1042   1042          KW
LC      999    999          LC
C       944    944           C
BO      838   -838          BO
CT      390   -390          CT
SM      219   -219          SM
OJ        0      0          OJ
W         0      0           W

In [15]:
import math as m
m.sqrt(52)*total_pnl_frame['portfolio'].mean()/total_pnl_frame['portfolio'].std()

# Rule 1 Sharp: 4.5

4.534496285051776

In [4]:
import backtesting.backtest_stats as bs
import pandas as pd
from IPython.display import display
rank_indicators_output = bs.rank_indicators(trade_data=big_data,
                                            indicator_list = ['Q', 'QF', 'z1', 'z2', 'z3', 'z4','z5','z6','z7'],
                                            long_pnl_field='hold_pnl5long',
                                            short_pnl_field='hold_pnl5short',
                                            strategy_class='futures_butterfly',
                                            granular_ranking_type='ticker_head')
indicator_ranking_total = rank_indicators_output['indicator_ranking_total']
indicator_ranking_granular_total = rank_indicators_output['indicator_ranking_granular_total']
display(indicator_ranking_total)
display(indicator_ranking_granular_total)

# Z1,QF combo seems to provide the best results

   indicator  ranking
26  [z1, QF]      159
66  [z6, QF]      153
34  [z2, QF]      153
74  [z7, QF]      153
37  [z2, z4]      148
70  [z6, z4]      147
52  [z4, z2]      145
78  [z7, z4]      143
29  [z1, z4]      141
58  [z5, QF]      138
42  [z3, QF]      136
62  [z5, z4]      134
19  [QF, z2]      134
56  [z4, z7]      131
45  [z3, z4]      131
24  [QF, z7]      130
9    [Q, QF]      124
50  [z4, QF]      122
53  [z4, z3]      122
20  [QF, z3]      121
54  [z4, z5]      119
22  [QF, z5]      119
68  [z6, z2]      118
55  [z4, z6]      117
51  [z4, z1]      116
3         z2      111
23  [QF, z6]      105
27  [z1, z2]      102
76  [z7, z2]      102
18  [QF, z1]      101
..       ...      ...
4         z3       63
8         z7       63
30  [z1, z5]       59
28  [z1, z3]       57
11   [Q, z2]       56
46  [z3, z5]       55
61  [z5, z3]       55
33   [z2, Q]       54
16   [Q, z7]       44
63  [z5, z6]       37
47  [z3, z6]       35
35  [z2, z1]       34
75  [z7, z1]       31
80  [z7, z6]       31
65   [z6, Q]       27
12   [Q, z3]       27
59  [z5, z1]       25
67  [z6, z1]       24
31  [z1, z6]       24
14   [Q, z5]       24
43  [z3, z1]       22
25   [z1, Q]       22
7         z6       22
73   [z7, Q]       20
57   [z5, Q]       17
41   [z3, Q]       17
2         z1       16
0          Q       11
15   [Q, z6]        8
10   [Q, z1]        0

[81 rows x 2 columns]

   indicator  ranking
26  [z1, QF]     2207
34  [z2, QF]     2132
66  [z6, QF]     2101
13   [Q, z4]     2096
74  [z7, QF]     2051
29  [z1, z4]     2044
42  [z3, QF]     2025
58  [z5, QF]     2014
19  [QF, z2]     1990
24  [QF, z7]     1974
49   [z4, Q]     1973
37  [z2, z4]     1962
52  [z4, z2]     1946
22  [QF, z5]     1942
50  [z4, QF]     1941
23  [QF, z6]     1938
70  [z6, z4]     1936
20  [QF, z3]     1932
9    [Q, QF]     1927
18  [QF, z1]     1922
56  [z4, z7]     1857
78  [z7, z4]     1838
55  [z4, z6]     1836
62  [z5, z4]     1829
53  [z4, z3]     1814
54  [z4, z5]     1809
45  [z3, z4]     1806
51  [z4, z1]     1806
68  [z6, z2]     1787
27  [z1, z2]     1768
..       ...      ...
77  [z7, z3]     1419
48  [z3, z7]     1405
8         z7     1396
6         z5     1383
61  [z5, z3]     1369
39  [z2, z6]     1369
16   [Q, z7]     1366
46  [z3, z5]     1364
12   [Q, z3]     1353
7         z6     1344
4         z3     1338
14   [Q, z5]     1331
2         z1     1325
31  [z1, z6]     1319
25   [z1, Q]     1310
80  [z7, z6]     1286
67  [z6, z1]     1274
35  [z2, z1]     1266
75  [z7, z1]     1258
63  [z5, z6]     1245
65   [z6, Q]     1235
47  [z3, z6]     1226
59  [z5, z1]     1204
43  [z3, z1]     1184
73   [z7, Q]     1150
41   [z3, Q]     1138
57   [z5, Q]     1092
0          Q     1074
15   [Q, z6]     1062
10   [Q, z1]     1029

[81 rows x 2 columns]

In [3]:
import backtesting.backtest_stats as bs
import pandas as pd
from IPython.display import display


selected_data = big_data[big_data['tickerHead'] == 'B']

rank_indicators_output = bs.rank_indicators(trade_data=selected_data,
                                            indicator_list = ['Q', 'QF', 'z1', 'z2', 'z3', 'z4','z5','z6','z7'],
                                            long_pnl_field='hold_pnl5long',
                                            short_pnl_field='hold_pnl5short',
                                            strategy_class='futures_butterfly',
                                            granular_ranking_type='ticker_head')
indicator_ranking_total = rank_indicators_output['indicator_ranking_total']
indicator_ranking_granular_total = rank_indicators_output['indicator_ranking_granular_total']
display(indicator_ranking_total)
display(indicator_ranking_granular_total)

   indicator  ranking
52  [z4, z2]      154
26  [z1, QF]      153
34  [z2, QF]      143
19  [QF, z2]      142
76  [z7, z2]      139
51  [z4, z1]      138
66  [z6, QF]      134
54  [z4, z5]      133
53  [z4, z3]      133
58  [z5, QF]      133
68  [z6, z2]      132
42  [z3, QF]      131
50  [z4, QF]      128
74  [z7, QF]      127
56  [z4, z7]      120
55  [z4, z6]      117
27  [z1, z2]      111
3         z2      108
18  [QF, z1]      108
44  [z3, z2]      103
60  [z5, z2]      103
79  [z7, z5]      101
77  [z7, z3]      100
39  [z2, z6]       99
38  [z2, z5]       99
30  [z1, z5]       96
11   [Q, z2]       92
72  [z6, z7]       91
35  [z2, z1]       88
36  [z2, z3]       88
..       ...      ...
1         QF       71
12   [Q, z3]       69
14   [Q, z5]       69
25   [z1, Q]       67
32  [z1, z7]       63
47  [z3, z6]       63
63  [z5, z6]       61
45  [z3, z4]       60
62  [z5, z4]       58
48  [z3, z7]       55
64  [z5, z7]       55
7         z6       54
33   [z2, Q]       53
80  [z7, z6]       52
78  [z7, z4]       48
37  [z2, z4]       47
70  [z6, z4]       47
31  [z1, z6]       44
17   [QF, Q]       34
73   [z7, Q]       31
16   [Q, z7]       20
65   [z6, Q]       19
15   [Q, z6]       18
57   [z5, Q]       16
13   [Q, z4]       15
41   [z3, Q]       14
9    [Q, QF]       14
21  [QF, z4]       13
5         z4       11
0          Q        5

[81 rows x 2 columns]

   indicator  ranking
52  [z4, z2]      154
26  [z1, QF]      153
34  [z2, QF]      143
19  [QF, z2]      142
76  [z7, z2]      139
51  [z4, z1]      138
66  [z6, QF]      134
54  [z4, z5]      133
53  [z4, z3]      133
58  [z5, QF]      133
68  [z6, z2]      132
42  [z3, QF]      131
50  [z4, QF]      128
74  [z7, QF]      127
56  [z4, z7]      120
55  [z4, z6]      117
27  [z1, z2]      111
3         z2      108
18  [QF, z1]      108
44  [z3, z2]      103
60  [z5, z2]      103
79  [z7, z5]      101
77  [z7, z3]      100
39  [z2, z6]       99
38  [z2, z5]       99
30  [z1, z5]       96
11   [Q, z2]       92
72  [z6, z7]       91
35  [z2, z1]       88
36  [z2, z3]       88
..       ...      ...
1         QF       71
12   [Q, z3]       69
14   [Q, z5]       69
25   [z1, Q]       67
32  [z1, z7]       63
47  [z3, z6]       63
63  [z5, z6]       61
45  [z3, z4]       60
62  [z5, z4]       58
48  [z3, z7]       55
64  [z5, z7]       55
7         z6       54
33   [z2, Q]       53
80  [z7, z6]       52
78  [z7, z4]       48
37  [z2, z4]       47
70  [z6, z4]       47
31  [z1, z6]       44
17   [QF, Q]       34
73   [z7, Q]       31
16   [Q, z7]       20
65   [z6, Q]       19
15   [Q, z6]       18
57   [z5, Q]       16
13   [Q, z4]       15
41   [z3, Q]       14
9    [Q, QF]       14
21  [QF, z4]       13
5         z4       11
0          Q        5

[81 rows x 2 columns]

In [29]:
selected_data = big_data[big_data['tickerHead'] == 'CL'] 
selected_data = big_data
bs.get_indicator_rr_table(trade_data=selected_data,indicator_name='z1',
                                 strategy_class='futures_butterfly',
                                 long_pnl_field='hold_pnl5long',
                                            short_pnl_field='hold_pnl5short')

   indicator_ulimit    mean_pnl  reward_risk
0             -1.09  683.358583     0.230078
1             -0.63  279.327149     0.100574
2             -0.33  125.669351     0.046079
3             -0.08   27.877612     0.010051
4              0.14  -66.936700    -0.022964
5              0.37  152.614454     0.053610
6              0.67  429.253142     0.148988
7              1.16  532.752797     0.187186
8               NaN  796.308065     0.269843

In [37]:
selected_data = big_data[(big_data['z7'] <0)] 
selected_data = big_data 
bs.get_indicator_rr_table(trade_data=selected_data,indicator_name='z1',
                                 strategy_class='futures_butterfly',
                                 long_pnl_field='hold_pnl5long',
                                            short_pnl_field='hold_pnl5short')

   indicator_ulimit    mean_pnl  reward_risk
0             -1.09  683.358583     0.230078
1             -0.63  279.327149     0.100574
2             -0.33  125.669351     0.046079
3             -0.08   27.877612     0.010051
4              0.14  -66.936700    -0.022964
5              0.37  152.614454     0.053610
6              0.67  429.253142     0.148988
7              1.16  532.752797     0.187186
8               NaN  796.308065     0.269843

In [43]:
selected_data = big_data[(big_data['z1'] <-1.09)] 
print(selected_data['hold_pnl5long'].mean())
print(len(selected_data['hold_pnl5long']))

selected_data = big_data[(big_data['z1'] <-1.09)&(big_data['z7']<-1)] 
print(selected_data['hold_pnl5long'].mean())
print(len(selected_data['hold_pnl5long']))

689.1073932680755
19979
965.2595494610299
12150

In [21]:
selected_data = big_data[big_data['tickerHead'] == 'CL']
bs.get_indicator_rr_table(trade_data=selected_data,indicator_name='z6',
                                 strategy_class='futures_butterfly',
                                 long_pnl_field='hold_pnl5long',
                                            short_pnl_field='hold_pnl5short')

   indicator_ulimit     mean_pnl  reward_risk
0             -1.00  1382.932433     0.385648
1             -0.57   453.584165     0.126608
2             -0.27   -23.147689    -0.006337
3             -0.04   -60.149856    -0.017051
4              0.16  -256.562493    -0.071857
5              0.37   385.870620     0.125330
6              0.62   417.644916     0.127393
7              1.01   808.313675     0.259075
8               NaN  1403.266237     0.437179

In [22]:
selected_data = big_data[big_data['tickerHead'] == 'CL']
bs.get_indicator_rr_table(trade_data=selected_data,indicator_name='z7',
                                 strategy_class='futures_butterfly',
                                 long_pnl_field='hold_pnl5long',
                                            short_pnl_field='hold_pnl5short')

   indicator_ulimit     mean_pnl  reward_risk
0             -0.99  1356.025236     0.379541
1             -0.55   396.119573     0.109960
2             -0.24   -31.871966    -0.008778
3             -0.02     9.509402     0.002751
4              0.19  -317.944748    -0.089190
5              0.39   312.093239     0.102892
6              0.65   432.325998     0.132453
7              1.03   711.264618     0.223584
8               NaN  1477.046228     0.464357

In [8]:
import backtesting.backtest_stats as bs
selected_data = big_data[(big_data['tickerHead'] == 'CL')&(big_data['z7'] <0)]
selected_data = big_data
bs.get_indicator_rr_double_table(trade_data=selected_data,indicator_list=['z1','QF'],
                                 strategy_class='futures_butterfly',
                                 long_pnl_field='long_pnl_ws3',
                                            short_pnl_field='short_pnl_ws3')

   indicator1_ulimit  indicator2_ulimit       mean_pnl  reward_risk
0              -0.21                 10 -154277.722703    -2.851870
1              -0.21                 42 -156105.503443    -2.798739
2              -0.21                NaN -111740.683120    -1.938704
3               0.56                 30 -121380.738139    -2.794428
4               0.56                 70 -135005.000496    -3.048926
5               0.56                NaN  -97979.353126    -2.109227
6                NaN                 54  -40112.355805    -0.946086
7                NaN                 87  -40049.070473    -0.914735
8                NaN                NaN  -41666.042185    -0.888070

In [6]:
selected_data = big_data
bs.get_indicator_rr_double_table(trade_data=selected_data,indicator_list=['z1','QF'],
                                 strategy_class='futures_butterfly',
                                 long_pnl_field='long_pnl20',
                                            short_pnl_field='short_pnl20')

   indicator1_ulimit  indicator2_ulimit     mean_pnl  reward_risk
0              -0.34                 13  1319.331228     0.300907
1              -0.34                 48   642.908351     0.135953
2              -0.34                NaN  -105.100797    -0.019360
3               0.37                 28   331.306475     0.071836
4               0.37                 67  -301.701946    -0.059021
5               0.37                NaN  -649.913315    -0.120762
6                NaN                 50   584.972357     0.106401
7                NaN                 85  1137.348948     0.253841
8                NaN                NaN  2425.662114     0.662668

In [6]:
import backtesting.backtest_stats as bs
selected_data = big_data[big_data['tickerHead'] == 'CL']
selected_data = big_data
bs.get_indicator_rr_double_table(trade_data=selected_data,indicator_list=['z1','QF'],
                                 strategy_class='futures_butterfly',
                                 long_pnl_field='long_pnl20',
                                            short_pnl_field='short_pnl20')

   indicator1_ulimit  indicator2_ulimit     mean_pnl  reward_risk
0              -0.34                 13  1319.331228     0.300907
1              -0.34                 48   642.908351     0.135953
2              -0.34                NaN  -105.100797    -0.019360
3               0.37                 28   331.306475     0.071836
4               0.37                 67  -301.701946    -0.059021
5               0.37                NaN  -649.913315    -0.120762
6                NaN                 50   584.972357     0.106401
7                NaN                 85  1137.348948     0.253841
8                NaN                NaN  2425.662114     0.662668

In [6]:
selected_data = big_data
long_data = selected_data[(selected_data['z1']<-1.2)&(selected_data['QF']<13)]

print(long_data['long_pnl20'].mean()/long_data['long_pnl20'].std())
print(long_data['long_pnl40'].mean()/long_data['long_pnl40'].std())
print(long_data['long_pnl60'].mean()/long_data['long_pnl60'].std())
print(long_data['long_pnl_ws1'].mean()/long_data['long_pnl_ws1'].std())
print(long_data['long_pnl_ws2'].mean()/long_data['long_pnl_ws2'].std())
print(long_data['long_pnl_ws3'].mean()/long_data['long_pnl_ws3'].std())

0.23048797003322014
0.2932597839513357
0.2507936234511511
0.37117197485724723
0.5359296990032697
0.6931755779396542

In [7]:
selected_data = big_data
short_data = selected_data[(selected_data['z1']>0.6)&(selected_data['QF']>85)]

print(short_data['short_pnl20'].mean()/short_data['short_pnl20'].std())
print(short_data['short_pnl40'].mean()/short_data['short_pnl40'].std())
print(short_data['short_pnl60'].mean()/short_data['short_pnl60'].std())
print(short_data['short_pnl_ws1'].mean()/short_data['short_pnl_ws1'].std())
print(short_data['short_pnl_ws2'].mean()/short_data['short_pnl_ws2'].std())
print(short_data['short_pnl_ws3'].mean()/short_data['short_pnl_ws3'].std())

0.2456404898628928
0.28700719110643425
0.3294311383350736
-1.2763544070534736
-1.2762887061626706
-1.2762887061626706

In [5]:
import matplotlib.pyplot as plt
#trade_data=big_data
plt.scatter(long_data['long_pnl20'],long_data['long_pnl_ws1'])
plt.grid()
plt.show()

In [11]:
list(range(1,7))

[1, 2, 3, 4, 5, 6]

In [6]:
long_data['long_pnl_ws1'].min()

-70618.49999999999

In [26]:
wuhu=long_data[long_data['long_pnl_ws1']<long_data['long_pnl20']-10000]
wuhu['trDte1']
wuhu['long_stop_days3']
wuhu['bf_price']
wuhu['short_pnl_ws3']
wuhu.columns
wuhu['second_spread_weight_1']

#wuhu['long_pnl_ws3']
#wuhu['report_date']
# continue with 5
selected_trade = wuhu.iloc[2]
selected_trade

ticker1                      LNN2007
ticker2                      LNQ2007
ticker3                      LNV2007
tickerHead                        LN
tickerClass                Livestock
trDte1                           133
trDte2                           154
trDte3                           196
multiplier                       400
agg                               12
cBack                             20
Q                                 13
QF                                10
z1                             -1.21
z2                             -1.88
z3                             -1.23
z4                             -0.48
z5                             -1.23
z6                             -1.21
z7                             -1.23
r1                             37.96
r2                              1.89
RC                              0.01
seasonality                        0
yield1                         1.366
yield2                         9.614
bf_price                       -5.15
bf_sell_limit                    NaN
bf_buy_limit                   -5.15
noise_ratio                    0.402
                             ...
theo_pnl25                  193.5396
ratio_target5               1.470379
ratio_target10              1.471805
ratio_target15              1.472688
ratio_target20              1.473646
ratio_target25              1.474109
price1                          70.5
price2                         69.55
price3                         63.45
mean_reversion_rsquared         7.77
mean_reversion_signif           True
long_pnl_ws1               -13565.88
long_pnl_ws2                     NaN
long_pnl_ws3                     NaN
short_pnl_ws1                    NaN
short_pnl_ws2                    NaN
short_pnl_ws3                    NaN
long_stop_days1                   56
long_stop_days2                  NaN
long_stop_days3                  NaN
short_stop_days1                 NaN
short_stop_days2                 NaN
short_stop_days3                 NaN
long_pnl20                    196.56
long_pnl40                 -10622.88
long_pnl60                 -12080.88
short_pnl20                  -211.12
short_pnl40                 11409.76
short_pnl60                 12975.76
report_date                 20070103
Name: 2, dtype: object

In [27]:
import opportunity_constructs.utilities as opu
aligned_data_output = opu.get_aligned_futures_data(contract_list=['LNN2007','LNQ2007','LNV2007'],
                                                   aggregation_method=12,
                                                   contracts_back=2,
                                                   date_to=20070403)

aligned_data = aligned_data_output['aligned_data']
bf_price = aligned_data['c1']['close_price']-2*aligned_data['c2']['close_price']+aligned_data['c3']['close_price']
bf_price


import matplotlib.pyplot as plt
#trade_data=big_data
plt.plot(bf_price)
plt.grid()
plt.show()
aligned_data['c1']

,ticker,ticker_head,ticker_month,ticker_year,cal_dte,tr_dte,open_price,high_price,low_price,close_price,volume,cont_indx,change1,change1_instant,change2,change5,change10,change20,change_5,change_1
settle_date,,,,,,,,,,,,,,,,,,,,
2006-01-23,LNN2006,LN,7,2006,175,121,67.95,67.95,66.80,67.450,867,200607,-0.420,-0.980,-0.070,0.730,0.250,1.680,-0.200,-0.450
2006-01-24,LNN2006,LN,7,2006,174,120,67.40,67.40,66.30,66.470,524,200607,0.350,-0.420,0.650,0.800,1.200,2.420,-1.600,-0.980
2006-01-25,LNN2006,LN,7,2006,173,119,66.40,66.40,65.40,66.050,636,200607,0.300,0.350,0.670,-0.750,1.000,1.770,-0.800,-0.420
2006-01-26,LNN2006,LN,7,2006,172,118,65.75,66.45,65.70,66.400,368,200607,0.370,0.300,0.500,-0.330,1.270,1.800,-1.170,0.350
2006-01-27,LNN2006,LN,7,2006,171,117,66.40,66.80,66.15,66.700,1042,200607,0.130,0.370,-0.220,-0.400,0.780,1.250,-1.200,0.300
2006-01-30,LNN2006,LN,7,2006,168,116,66.45,67.07,66.45,67.070,714,200607,-0.350,0.130,-1.550,-0.480,0.920,2.020,-0.380,0.370
2006-01-31,LNN2006,LN,7,2006,167,115,67.10,67.35,66.80,67.200,463,200607,-1.200,-0.350,-0.480,0.400,0.320,2.070,0.730,0.130
2006-02-01,LNN2006,LN,7,2006,166,114,67.10,67.45,66.80,66.850,502,200607,0.720,-1.200,1.020,1.750,2.250,3.570,0.800,-0.350
2006-02-02,LNN2006,LN,7,2006,165,113,66.25,66.45,65.05,65.650,640,200607,0.300,0.720,0.350,1.600,2.100,2.250,-0.750,-1.200
2006-02-03,LNN2006,LN,7,2006,164,112,65.10,66.50,65.10,66.370,697,200607,0.050,0.300,0.580,1.180,1.650,1.180,-0.330,0.720
2006-02-06,LNN2006,LN,7,2006,161,111,66.25,66.70,66.25,66.670,442,200607,0.530,0.050,0.680,1.400,1.430,0.600,-0.400,0.300
2006-02-07,LNN2006,LN,7,2006,160,110,66.70,66.90,66.40,66.720,1194,200607,0.150,0.530,0.720,-0.080,1.220,-0.280,-0.480,0.050
2006-02-08,LNN2006,LN,7,2006,159,109,66.90,67.25,66.80,67.250,1255,200607,0.570,0.150,0.450,0.500,0.770,0.250,0.400,0.530
2006-02-09,LNN2006,LN,7,2006,158,108,67.25,67.40,66.82,67.400,1138,200607,-0.120,0.570,0.150,0.500,0.530,0.150,1.750,0.150
2006-02-10,LNN2006,LN,7,2006,157,107,67.50,68.00,67.50,67.970,588,200607,0.270,-0.120,-0.680,0.470,0.470,-1.700,1.600,0.570
2006-02-13,LNN2006,LN,7,2006,154,106,67.97,68.00,67.60,67.850,466,200607,-0.950,0.270,-0.220,0.030,1.100,-1.970,1.180,-0.120
2006-02-14,LNN2006,LN,7,2006,153,105,67.75,68.20,67.75,68.120,988,200607,0.730,-0.950,1.300,1.300,1.750,-0.970,1.400,0.270
2006-02-15,LNN2006,LN,7,2006,152,104,68.05,68.30,66.12,67.170,764,200607,0.570,0.730,0.420,0.270,1.320,-1.330,-0.080,-0.950
2006-02-16,LNN2006,LN,7,2006,151,103,67.30,68.10,66.50,67.900,637,200607,-0.150,0.570,-0.320,0.030,0.150,-2.650,0.500,0.730
2006-02-17,LNN2006,LN,7,2006,150,102,67.80,68.60,67.80,68.470,776,200607,-0.170,-0.150,0.150,0.000,-0.470,-2.720,0.500,0.570
2006-02-21,LNN2006,LN,7,2006,146,101,68.75,68.80,67.95,68.320,2018,200607,0.320,-0.170,0.020,1.070,-0.830,-2.950,0.470,-0.150
2006-02-22,LNN2006,LN,7,2006,145,100,68.20,68.20,66.55,68.150,1178,200607,-0.300,0.320,0.030,0.450,-1.500,-1.950,0.030,-0.170
2006-02-23,LNN2006,LN,7,2006,144,99,68.25,68.65,67.95,68.470,2037,200607,0.330,-0.300,0.150,1.050,-0.520,-1.300,1.300,0.320
2006-02-24,LNN2006,LN,7,2006,143,98,68.45,68.55,67.70,68.170,1529,200607,-0.180,0.330,0.720,0.120,-0.380,-2.280,0.270,-0.300
2006-02-27,LNN2006,LN,7,2006,140,97,68.10,68.55,67.95,68.500,965,200607,0.900,-0.180,0.600,-0.470,-2.170,-2.120,0.030,0.330
2006-02-28,LNN2006,LN,7,2006,139,96,68.20,68.40,67.85,68.320,1242,200607,-0.300,0.900,0.000,-1.900,-3.070,-2.870,0.000,-0.180
2006-03-01,LNN2006,LN,7,2006,138,95,68.40,69.37,68.40,69.220,2833,200607,0.300,-0.300,-0.300,-1.950,-2.720,-2.550,1.070,0.900
2006-03-02,LNN2006,LN,7,2006,137,94,69.30,69.75,68.75,68.920,2298,200607,-0.600,0.300,-1.370,-1.570,-2.650,-3.570,0.450,-0.300
2006-03-03,LNN2006,LN,7,2006,136,93,69.10,69.30,68.60,69.220,2124,200607,-0.770,-0.600,-1.300,-0.500,-2.800,-2.400,1.050,0.300
2006-03-06,LNN2006,LN,7,2006,133,92,69.15,69.37,68.35,68.620,2055,200607,-0.530,-0.770,-0.880,-1.700,-2.250,-3.500,0.120,-0.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-02-21,LNN2007,LN,7,2007,145,100,76.45,77.40,76.20,77.300,2461,200707,-0.550,-0.280,0.080,-0.320,1.150,-1.700,0.730,0.550
2007-02-22,LNN2007,LN,7,2007,144,99,77.00,77.35,76.50,77.020,3452,200707,0.630,-0.550,0.950,0.480,2.300,-1.620,-0.680,-0.280
2007-02-23,LNN2007,LN,7,2007,143,98,76.65,76.70,75.80,76.470,2853,200707,0.320,0.630,1.000,-1.450,1.450,-2.130,-1.200,-0.550
2007-02-26,LNN2007,LN,7,2007,140,97,76.15,77.25,76.15,77.100,3340,200707,0.680,0.320,-0.720,-1.550,1.080,-2.820,-0.720,0.630
2007-02-27,LNN2007,LN,7,2007,139,96,76.80,77.60,76.30,77.420,1840,200707,-1.400,0.680,-1.150,-1.430,-1.700,-3.250,0.670,0.320
2007-02-28,LNN2007,LN,7,2007,138,95,77.25,78.30,77.20,78.100,2134,200707,0.250,-1.400,-1.050,1.470,-0.350,-1.650,0.800,0.680
2007-03-01,LNN2007,LN,7,2007,137,94,77.55,77.60,76.50,76.700,1481,200707,-1.300,0.250,-1.080,1.820,-1.780,-1.700,-0.320,-1.400
2007-03-02,LNN2007,LN,7,2007,136,93,76.50,77.37,75.90,76.950,1699,200707,0.220,-1.300,1.020,2.900,-0.050,0.000,0.480,0.250
2007-03-05,LNN2007,LN,7,2007,133,92,76.50,76.50,75.40,75.650,2318,200707,0.800,0.220,2.300,2.630,-0.570,0.455,-1.450,-1.300
2007-03-06,LNN2007,LN,7,2007,132,91,75.90,76.00,75.65,75.870,2147,200707,1.500,0.800,2.100,-0.270,-1.800,-0.245,-1.550,0.220
2007-03-07,LNN2007,LN,7,2007,131,90,75.65,76.95,75.62,76.670,3057,200707,0.600,1.500,0.380,-1.820,-2.850,-1.145,-1.430,0.800
2007-03-08,LNN2007,LN,7,2007,130,89,77.10,79.50,77.10,78.170,3106,200707,-0.220,0.600,-0.270,-3.600,-3.920,-1.745,1.470,1.500
2007-03-09,LNN2007,LN,7,2007,129,88,77.90,78.97,77.75,78.770,2951,200707,-0.050,-0.220,-2.150,-2.950,-3.580,-1.425,1.820,0.600
2007-03-12,LNN2007,LN,7,2007,126,87,79.05,79.10,78.25,78.550,4390,200707,-2.100,-0.050,-2.150,-3.200,-3.900,-0.875,2.900,-0.220
2007-03-13,LNN2007,LN,7,2007,125,86,78.20,78.80,78.00,78.500,3866,200707,-0.050,-2.100,-1.230,-1.530,-1.550,1.175,2.630,-0.050
2007-03-14,LNN2007,LN,7,2007,124,85,77.60,77.60,75.92,76.400,4330,200707,-1.180,-0.050,-0.750,-1.030,-1.300,1.425,-0.270,-2.100
2007-03-15,LNN2007,LN,7,2007,123,84,76.55,76.95,76.20,76.350,3556,200707,0.430,-1.180,0.130,-0.320,0.080,3.680,-1.820,-0.050
2007-03-16,LNN2007,LN,7,2007,122,83,75.30,75.50,74.42,75.170,2454,200707,-0.300,0.430,-0.730,-0.630,0.050,2.725,-3.600,-1.180
2007-03-19,LNN2007,LN,7,2007,119,82,74.85,75.80,74.85,75.600,2560,200707,-0.430,-0.300,0.020,-0.700,1.025,1.825,-2.950,0.430
2007-03-20,LNN2007,LN,7,2007,118,81,75.55,75.85,75.20,75.300,2863,200707,0.450,-0.430,-0.020,-0.020,1.555,2.930,-3.200,-0.300
2007-03-21,LNN2007,LN,7,2007,117,80,74.55,74.95,74.30,74.870,2409,200707,-0.470,0.450,-0.350,-0.270,1.705,2.055,-1.530,-0.430
2007-03-22,LNN2007,LN,7,2007,116,79,75.20,75.60,74.80,75.320,3777,200707,0.120,-0.470,-0.250,0.400,2.175,2.375,-1.030,0.450
2007-03-23,LNN2007,LN,7,2007,115,78,75.20,75.25,74.55,74.850,2087,200707,-0.370,0.120,-0.120,0.680,2.155,1.030,-0.320,-0.470
2007-03-26,LNN2007,LN,7,2007,112,77,74.90,75.90,74.85,74.970,2584,200707,0.250,-0.370,0.450,1.725,3.025,1.900,-0.630,0.120
2007-03-27,LNN2007,LN,7,2007,111,76,74.95,75.05,74.50,74.600,2855,200707,0.200,0.250,0.400,1.575,2.725,0.650,-0.700,-0.370
2007-03-28,LNN2007,LN,7,2007,110,75,74.60,74.90,74.40,74.850,1877,200707,0.200,0.200,0.600,1.975,2.725,-0.150,-0.020,0.250
2007-03-29,LNN2007,LN,7,2007,109,74,74.85,75.57,74.80,75.050,2664,200707,0.400,0.200,1.075,1.775,3.600,0.100,-0.270,0.200
2007-03-30,LNN2007,LN,7,2007,108,73,74.80,75.50,73.40,75.250,3808,200707,0.675,0.400,0.775,1.475,2.675,0.275,0.400,0.200
2007-04-02,LNN2007,LN,7,2007,105,72,75.25,76.05,74.90,75.650,5006,200707,0.100,0.675,0.700,1.300,0.800,-1.575,0.680,0.400
2007-04-03,LNN2007,LN,7,2007,104,71,76.05,76.80,75.35,76.325,3979,200707,0.600,0.100,0.600,1.150,1.375,-2.250,1.725,0.675

In [95]:
logical_index =  bf_price>0.5
logical_index

settle_date
2006-04-05    False
2006-04-06    False
2006-04-07    False
2006-04-10    False
2006-04-11    False
2006-04-12    False
2006-04-13    False
2006-04-17    False
2006-04-18    False
2006-04-19    False
2006-04-20    False
2006-04-21    False
2006-04-24    False
2006-04-25    False
2006-04-26    False
2006-04-27    False
2006-04-28    False
2006-05-01    False
2006-05-02    False
2006-05-03    False
2006-05-04    False
2006-05-05    False
2006-05-08    False
2006-05-09    False
2006-05-10    False
2006-05-11    False
2006-05-12    False
2006-05-15    False
2006-05-16    False
2006-05-17    False
              ...
2007-05-04    False
2007-05-07    False
2007-05-08    False
2007-05-09     True
2007-05-10    False
2007-05-11    False
2007-05-14    False
2007-05-15    False
2007-05-16    False
2007-05-17    False
2007-05-18    False
2007-05-21    False
2007-05-22     True
2007-05-23    False
2007-05-24    False
2007-05-25    False
2007-05-29    False
2007-05-30    False
2007-05-31    False
2007-06-01    False
2007-06-04    False
2007-06-05    False
2007-06-06    False
2007-06-07    False
2007-06-08    False
2007-06-11    False
2007-06-12    False
2007-06-13    False
2007-06-14    False
2007-06-15    False
Name: close_price, dtype: bool

In [96]:

logical_index2 = logical_index.copy()

for i in range(len(logical_index)):
    
    if logical_index.iloc[i]:
        logical_index2.iloc[i-1]= True
        logical_index2.iloc[i+1]= True

In [41]:
logical_index2

settle_date
2003-02-25    False
2003-02-26    False
2003-02-27    False
2003-02-28    False
2003-03-03    False
2003-03-04    False
2003-03-05    False
2003-03-06    False
2003-03-07    False
2003-03-10    False
2003-03-11    False
2003-03-12    False
2003-03-13    False
2003-03-14    False
2003-03-17    False
2003-03-18    False
2003-03-19    False
2003-03-20    False
2003-03-21    False
2003-03-24    False
2003-03-25    False
2003-03-26    False
2003-03-27    False
2003-03-28    False
2003-03-31    False
2003-04-01    False
2003-04-02    False
2003-04-03    False
2003-04-04    False
2003-04-07    False
              ...
2007-03-09    False
2007-03-13    False
2007-03-16    False
2007-03-19    False
2007-03-21    False
2007-03-22    False
2007-03-23    False
2007-03-26    False
2007-03-28    False
2007-03-30    False
2007-04-02    False
2007-04-05    False
2007-04-09    False
2007-04-10    False
2007-04-11    False
2007-04-13    False
2007-04-16    False
2007-04-17    False
2007-04-20    False
2007-04-23    False
2007-04-24    False
2007-04-25     True
2007-04-26     True
2007-04-27     True
2007-04-30    False
2007-05-01    False
2007-05-02    False
2007-05-03    False
2007-05-04    False
2007-05-07    False
Name: close_price, dtype: bool

In [102]:
kuzu = aligned_data.loc[logical_index2,'c3'][['close_price','ticker']]
kuzu.iloc[0:3]

             close_price   ticker
settle_date
2007-04-10         68.25  CLZ2011
2007-04-11         70.00  CLZ2011
2007-04-12         68.52  CLZ2011

In [10]:
import get_price.get_futures_price as gfp
report_date = 20110126
ticker_list = ['CCK2011','CCN2011','CCU2011']

risk_per_trade = 10000
quantity_long = round(risk_per_trade/abs(selected_trade['downside']))
quantity_short = -round(risk_per_trade/abs(selected_trade['upside']))
data_list = []


for j in range(3):
    ticker_frame = gfp.get_futures_price_preloaded(ticker=ticker_list[j],
                                                   settle_date_from_exclusive=report_date)
    ticker_frame.set_index('settle_date', drop=False, inplace=True)
    data_list.append(ticker_frame)
merged_data = pd.concat(data_list, axis=1, join='inner')

spread_price = (merged_data['close_price'].iloc[:,0]-merged_data['close_price'].iloc[:,1])-selected_trade['second_spread_weight_1']*(merged_data['close_price'].iloc[:,1]-merged_data['close_price'].iloc[:,2])

long_path = quantity_long*selected_trade['multiplier']*(spread_price[1:]-spread_price[0])
short_path = quantity_short*selected_trade['multiplier']*(spread_price[1:]-spread_price[0])

In [80]:
merged_data[merged_data['tr_dte'].iloc[:,0]>=15]

,settle_date,ticker,ticker_head,ticker_month,ticker_year,cal_dte,tr_dte,open_price,high_price,low_price,...,volume,cont_indx,change1,change1_instant,change2,change5,change10,change20,change_5,change_1
settle_date,,,,,,,,,,,,,,,,,,,,,
2011-01-27,2011-01-27,CCK2011,CC,5,2011,106,74,3322,3390,3322,...,261,201109,83,-61,51,22,110,325,106,-13
2011-01-28,2011-01-28,CCK2011,CC,5,2011,105,73,3335,3342,3250,...,340,201109,-32,83,15,-86,39,196,61,-61
2011-01-31,2011-01-31,CCK2011,CC,5,2011,102,72,3260,3367,3226,...,444,201109,47,-32,58,-36,40,265,72,83
2011-02-01,2011-02-01,CCK2011,CC,5,2011,101,71,3366,3371,3283,...,410,201109,11,47,-76,-60,23,281,29,-32
2011-02-02,2011-02-02,CCK2011,CC,5,2011,100,70,3345,3376,3330,...,740,201109,-87,11,-112,3,25,197,24,47
2011-02-03,2011-02-03,CCK2011,CC,5,2011,99,69,3374,3385,3349,...,719,201109,-25,-87,-7,88,143,308,48,11
2011-02-04,2011-02-04,CCK2011,CC,5,2011,98,68,3369,3369,3250,...,683,201109,18,-25,41,125,220,304,22,-87
2011-02-07,2011-02-07,CCK2011,CC,5,2011,95,67,3280,3288,3199,...,500,201109,23,18,97,76,247,227,-86,-25
2011-02-08,2011-02-08,CCK2011,CC,5,2011,94,66,3238,3275,3220,...,574,201109,74,23,72,83,214,125,-36,18
2011-02-09,2011-02-09,CCK2011,CC,5,2011,93,65,3240,3327,3226,...,220,201109,-2,74,10,22,157,23,-60,23
2011-02-10,2011-02-10,CCK2011,CC,5,2011,92,64,3325,3431,3283,...,958,201109,12,-2,-19,55,215,-2,3,74
2011-02-11,2011-02-11,CCK2011,CC,5,2011,91,63,3373,3397,3334,...,740,201109,-31,12,-1,95,157,-110,88,-2
2011-02-14,2011-02-14,CCK2011,CC,5,2011,88,62,3403,3444,3392,...,290,201109,30,-31,43,171,225,-119,125,12
2011-02-15,2011-02-15,CCK2011,CC,5,2011,87,61,3406,3434,3346,...,456,201109,13,30,44,131,258,-82,76,-31
2011-02-16,2011-02-16,CCK2011,CC,5,2011,86,60,3404,3432,3350,...,277,201109,31,13,83,135,172,-238,83,30
2011-02-17,2011-02-17,CCK2011,CC,5,2011,85,59,3435,3455,3408,...,260,201109,52,31,97,160,165,-212,22,13
2011-02-18,2011-02-18,CCK2011,CC,5,2011,84,58,3422,3511,3422,...,879,201109,45,52,35,62,84,-195,55,31
2011-02-22,2011-02-22,CCK2011,CC,5,2011,80,57,3520,3608,3509,...,1029,201109,-10,45,7,54,-20,-249,95,52
2011-02-23,2011-02-23,CCK2011,CC,5,2011,79,56,3587,3641,3536,...,405,201109,17,-10,73,127,-89,-286,171,45
2011-02-24,2011-02-24,CCK2011,CC,5,2011,78,55,3641,3645,3562,...,349,201109,56,17,10,37,-134,-261,131,-10
2011-02-25,2011-02-25,CCK2011,CC,5,2011,77,54,3630,3669,3602,...,334,201109,-46,56,-9,5,-217,-309,135,17
2011-02-28,2011-02-28,CCK2011,CC,5,2011,74,53,3660,3704,3646,...,411,201109,37,-46,100,22,-267,-446,160,56
2011-03-01,2011-03-01,CCK2011,CC,5,2011,73,52,3695,3712,3400,...,501,201109,63,37,-10,-74,-344,-546,62,-46
2011-03-02,2011-03-02,CCK2011,CC,5,2011,72,51,3623,3690,3578,...,421,201109,-73,63,-49,-216,-340,-638,54,37
2011-03-03,2011-03-03,CCK2011,CC,5,2011,71,50,3664,3760,3663,...,467,201109,24,-73,-5,-171,-410,-501,127,63
2011-03-04,2011-03-04,CCK2011,CC,5,2011,70,49,3750,3775,3613,...,233,201109,-29,24,-88,-222,-377,-517,37,-73
2011-03-07,2011-03-07,CCK2011,CC,5,2011,67,48,3657,3699,3612,...,332,201109,-59,-29,-138,-289,-279,-529,5,24
2011-03-08,2011-03-08,CCK2011,CC,5,2011,66,47,3670,3734,3614,...,503,201109,-79,-59,-107,-270,-229,-451,22,-29
2011-03-09,2011-03-09,CCK2011,CC,5,2011,65,46,3633,3633,3508,...,646,201109,-28,-79,-55,-124,-197,-385,-74,-59
2011-03-10,2011-03-10,CCK2011,CC,5,2011,64,45,3499,3510,3328,...,1247,201109,-27,-28,-123,-239,-127,-375,-216,-79
2011-03-11,2011-03-11,CCK2011,CC,5,2011,63,44,3445,3446,3370,...,831,201109,-96,-27,-136,-155,-92,-309,-171,-28
2011-03-14,2011-03-14,CCK2011,CC,5,2011,60,43,3427,3497,3350,...,426,201109,-40,-96,27,10,-179,-181,-222,-27
2011-03-15,2011-03-15,CCK2011,CC,5,2011,59,42,3330,3346,3200,...,2030,201109,67,-40,-76,41,-202,-127,-289,-96
2011-03-16,2011-03-16,CCK2011,CC,5,2011,58,41,3262,3325,3170,...,1091,201109,-143,67,-86,-73,-298,-140,-270,-40
2011-03-17,2011-03-17,CCK2011,CC,5,2011,57,40,3225,3311,3200,...,1015,201109,57,-143,126,112,-91,33,-124,67
2011-03-18,2011-03-18,CCK2011,CC,5,2011,56,39,3315,3342,3095,...,437,201109,69,57,60,63,-140,-122,-239,-143
2011-03-21,2011-03-21,CCK2011,CC,5,2011,53,38,3120,3220,3103,...,407,201109,-9,69,-56,-189,-250,-180,-155,57
2011-03-22,2011-03-22,CCK2011,CC,5,2011,52,37,3150,3265,3150,...,704,201109,-47,-9,-5,-243,-222,-136,10,69
2011-03-23,2011-03-23,CCK2011,CC,5,2011,51,36,3255,3290,3233,...,390,201109,42,-47,50,-225,-188,-106,41,-9
2011-03-24,2011-03-24,CCK2011,CC,5,2011,50,35,3236,3240,3176,...,251,201109,8,42,-175,-203,-248,-175,-73,-47
2011-03-25,2011-03-25,CCK2011,CC,5,2011,49,34,3222,3290,3199,...,822,201109,-183,8,-246,-203,-217,-153,112,42
2011-03-28,2011-03-28,CCK2011,CC,5,2011,46,33,3201,3274,3201,...,1277,201109,-63,-183,-92,-61,-2,106,63,8
2011-03-29,2011-03-29,CCK2011,CC,5,2011,45,32,3241,3248,3030,...,2744,201109,-29,-63,35,21,75,277,-189,-183
2011-03-30,2011-03-30,CCK2011,CC,5,2011,44,31,3028,3077,2973,...,1814,201109,64,-29,72,37,158,365,-243,-63
2011-03-31,2011-03-31,CCK2011,CC,5,2011,43,30,2977,3009,2936,...,2032,201109,8,64,-33,-45,124,254,-225,-29
2011-04-01,2011-04-01,CCK2011,CC,5,2011,42,29,2938,3035,2925,...,1722,201109,-41,8,-22,-14,18,225,-203,64
2011-04-04,2011-04-04,CCK2011,CC,5,2011,39,28,3011,3099,2994,...,1119,201109,19,-41,6,59,70,201,-203,8
2011-04-05,2011-04-05,CCK2011,CC,5,2011,38,27,2992,2992,2927,...,1203,201109,-13,19,-31,54,86,32,-61,-41
2011-04-06,2011-04-06,CCK2011,CC,5,2011,37,26,2986,3040,2963,...,867,201109,-18,-13,21,121,82,73,21,19
2011-04-07,2011-04-07,CCK2011,CC,5,2011,36,25,2975,3028,2975,...,1814,201109,39,-18,71,169,73,93,37,-13
2011-04-08,2011-04-08,CCK2011,CC,5,2011,35,24,2991,3019,2941,...,2147,201109,32,39,46,32,64,78,-45,-18
2011-04-11,2011-04-11,CCK2011,CC,5,2011,32,23,3000,3073,2985,...,2586,201109,14,32,68,11,108,58,-14,39
2011-04-12,2011-04-12,CCK2011,CC,5,2011,31,22,3019,3082,3013,...,2558,201109,54,14,84,32,202,-34,59,32
2011-04-13,2011-04-13,CCK2011,CC,5,2011,30,21,3086,3095,3049,...,2029,201109,30,54,-68,-39,207,-123,54,14
2011-04-14,2011-04-14,CCK2011,CC,5,2011,29,20,3076,3241,3052,...,1091,201109,-98,30,-87,-96,130,-148,121,54
2011-04-15,2011-04-15,CCK2011,CC,5,2011,28,19,3200,3270,3177,...,1150,201109,11,-98,46,32,207,-76,169,30
2011-04-18,2011-04-18,CCK2011,CC,5,2011,25,18,3256,3259,3118,...,1084,201109,35,11,18,97,131,-70,32,-98
2011-04-19,2011-04-19,CCK2011,CC,5,2011,24,17,3085,3124,3068,...,1346,201109,-17,35,-44,170,-54,-122,11,11
2011-04-20,2011-04-20,CCK2011,CC,5,2011,23,16,3156,3185,3093,...,1192,201109,-27,-17,3,246,-9,-179,32,35
2011-04-21,2011-04-21,CCK2011,CC,5,2011,22,15,3125,3158,3106,...,835,201109,30,-27,106,226,20,-190,-39,-17

In [76]:
import matplotlib.pyplot as plt
#trade_data=big_data
plt.plot(merged_data['close_price'].iloc[:,2])
plt.grid()
plt.show()

In [4]:
# For CL filtering based on z6 makes sense. [-0.6; 0.3]



selected_data = big_data[big_data['tickerHead'] == 'CL']
#selected_data = big_data


selected_data2 = selected_data[(selected_data['z1'] <-1.2)&(selected_data['QF'] <=12)] 
print(selected_data2['hold_pnl5long'].mean())
print(len(selected_data2['hold_pnl5long']))

selected_data2 = selected_data[(selected_data['z1'] <-1.2)&(selected_data['QF'] <=12)&(selected_data['z6']<0)
                               &(selected_data['z6']>-0.6)]

print(selected_data2['hold_pnl10long'].mean())
print(len(selected_data2['hold_pnl10long']))

selected_data2 = selected_data[(selected_data['z1'] >0.6)&(selected_data['QF'] >=85)] 
print(selected_data2['hold_pnl10short'].mean())
print(len(selected_data2['hold_pnl10short']))

selected_data2 = selected_data[(selected_data['z1'] >0.6)&(selected_data['QF'] >=85)&(selected_data['z6']<0.3)] 
print(selected_data2['hold_pnl10short'].mean())
print(len(selected_data2['hold_pnl10short']))

1727.9728866624232
1634
1533.3950000002924
101
1837.6201463140467
3587
987.0799999999966
160

In [62]:
# LONG TRADES

# CL,B z6<-0.6

#selected_data = big_data[big_data['tickerHead'] == 'B']
selected_data
selected_data1 = selected_data[(selected_data['z1'] <-1.2)&(selected_data['QF'] <=12)] 
print('per contract pnl: ' + str(selected_data1['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data1['hold_pnl10_per_contract'].mean()/selected_data1['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data1['hold_pnl10_per_contract'])))

print(30*'-')
selected_data2 = selected_data[(selected_data['z1'] <-1.2)&(selected_data['QF'] <=12)&(selected_data['z5'] < -1.2)] 
print('per contract pnl: ' + str(selected_data2['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data2['hold_pnl10_per_contract'].mean()/selected_data2['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data2['hold_pnl10_per_contract'])))

print(30*'-')
selected_data3 = selected_data[(selected_data['z1'] <-1.2)&(selected_data['QF'] <=12)&(selected_data['z5'] > -0.6)] 
print('per contract pnl: ' + str(selected_data3['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data3['hold_pnl10_per_contract'].mean()/selected_data3['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data3['hold_pnl10_per_contract'])))

per contract pnl: 3.486759545411965
sharp: 0.14625693851240124
num trades: 757
------------------------------
per contract pnl: 3.372427804002262
sharp: 0.1400865464468809
num trades: 734
------------------------------
per contract pnl: nan
sharp: nan
num trades: 0

In [72]:
selected_data = big_data[big_data['tickerHead'] == 'B']
selected_data = selected_data[selected_data['second_spread_weight_1']>2]
selected_data1 = selected_data[(selected_data['z1'] <-1.2)&(selected_data['QF'] <=12)] 
print('per contract pnl: ' + str(selected_data1['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data1['hold_pnl10_per_contract'].mean()/selected_data1['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data1['hold_pnl10_per_contract'])))

per contract pnl: 0.24846375803704318
sharp: 0.031198208127495367
num trades: 17

In [56]:
# SHORT TRADES

# CL,B z6>0.3

selected_data = big_data[big_data['tickerHead'] == 'B']
selected_data1 = selected_data[(selected_data['z1'] >0.6)&(selected_data['QF'] >=85)] 
print('per contract pnl: ' + str(selected_data1['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data1['hold_pnl10_per_contract'].mean()/selected_data1['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data1['hold_pnl10_per_contract'])))

print(30*'-')
selected_data2 = selected_data[(selected_data['z1']>1.2)&(selected_data['QF'] >=85)&(selected_data['z5']<0.6)] 
print('per contract pnl: ' + str(selected_data2['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data2['hold_pnl10_per_contract'].mean()/selected_data2['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data2['hold_pnl10_per_contract'])))

per contract pnl: 5.433852598540892
sharp: 0.25593859605386765
num trades: 2199
------------------------------
per contract pnl: nan
sharp: nan
num trades: 0

In [54]:
selected_data = big_data[big_data['tickerHead'] == 'B']
selected_data = selected_data[(selected_data['trDte2']-selected_data['trDte1']>100)&
                              (selected_data['trDte3']-selected_data['trDte2']>100)]
selected_data1 = selected_data[(selected_data['z1'] >0.6)&(selected_data['QF'] >=85)] 
print('per contract pnl: ' + str(selected_data1['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data1['hold_pnl10_per_contract'].mean()/selected_data1['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data1['hold_pnl10_per_contract'])))

print(30*'-')
selected_data2 = selected_data[(selected_data['z1']>1.2)&(selected_data['QF'] >=85)&(selected_data['z5']<0.6)] 
print('per contract pnl: ' + str(selected_data2['hold_pnl10_per_contract'].mean()))
print('sharp: ' + str(selected_data2['hold_pnl10_per_contract'].mean()/selected_data2['hold_pnl10_per_contract'].std()))
print('num trades: ' + str(len(selected_data2['hold_pnl10_per_contract'])))

per contract pnl: 10.981330542200567
sharp: 0.2384929550187611
num trades: 261
------------------------------
per contract pnl: nan
sharp: nan
num trades: 0

In [57]:
import matplotlib.pyplot as plt
#trade_data=big_data
plt.plot(selected_data1['hold_pnl10_per_contract'].cumsum())
plt.grid()
plt.show()

In [32]:
selected_data2

Empty DataFrame
Columns: [ticker1, ticker2, ticker3, tickerHead, tickerClass, trDte1, trDte2, trDte3, multiplier, agg, cBack, Q, QF, z1, z2, z3, z4, z5, z6, z7, r1, r2, RC, seasonality, yield1, yield2, bf_price, bf_sell_limit, bf_buy_limit, noise_ratio, alpha1, alpha2, residual_std1, residual_std2, second_spread_weight_1, second_spread_weight_2, weight1, weight2, weight3, downside, upside, recent_5day_pnl, recent_vol_ratio, theo_pnl, theo_pnl5, theo_pnl10, theo_pnl15, theo_pnl20, theo_pnl25, ratio_target5, ratio_target10, ratio_target15, ratio_target20, ratio_target25, price1, price2, price3, mean_reversion_rsquared, mean_reversion_signif, holding_period5, holding_period10, holding_period15, holding_period20, holding_period25, path_pnl5, path_pnl10, path_pnl15, path_pnl20, path_pnl25, path_pnl5_per_contract, path_pnl10_per_contract, path_pnl15_per_contract, path_pnl20_per_contract, path_pnl25_per_contract, hold_pnl1long, hold_pnl2long, hold_pnl5long, hold_pnl10long, hold_pnl20long, hold_pnl1long_per_contract, hold_pnl2long_per_contract, hold_pnl5long_per_contract, hold_pnl10long_per_contract, hold_pnl20long_per_contract, hold_pnl1short, hold_pnl2short, hold_pnl5short, hold_pnl10short, hold_pnl20short, hold_pnl1short_per_contract, hold_pnl2short_per_contract, hold_pnl5short_per_contract, hold_pnl10short_per_contract, hold_pnl20short_per_contract, report_date, hold_pnl1, hold_pnl2, hold_pnl5, hold_pnl10, hold_pnl20, ...]
Index: []

[0 rows x 106 columns]

In [98]:
selected_data = big_data[big_data['tickerHead'] == 'CL']

selected_data2 = selected_data[(selected_data['z1'] <-1.2)] 
print('Avg Long Pnl:' + str(selected_data2['hold_pnl5long'].mean()))
print(len(selected_data2['hold_pnl5long']))

selected_data2 = selected_data[(selected_data['z1'] <-1.2)&(selected_data['z6']>-0.6)] 
print('Avg Long Pnl Filtered:' + str(selected_data2['hold_pnl5long'].mean()))
print(len(selected_data2['hold_pnl5long']))

selected_data2 = selected_data[(selected_data['z1'] >0.6)] 
print('Avg Short Pnl:' + str(selected_data2['hold_pnl5short'].mean()))
print(len(selected_data2['hold_pnl5short']))

selected_data2 = selected_data[(selected_data['z1'] >0.6)&(selected_data['z6']<0)] 
print('Avg Short Pnl Filtered:' +str(selected_data2['hold_pnl5short'].mean()))
print(len(selected_data2['hold_pnl5short']))

Avg Long Pnl:1286.8930856219624
3190
Avg Long Pnl Filtered:222.96000000014857
256
Avg Short Pnl:982.9561072988266
8073
Avg Short Pnl Filtered:414.9526315789886
76

In [37]:

# Can we use momentum?
# As a Broad Measure This is not correct

import backtesting.backtest_stats as bs

import pandas as pd
from IPython.display import display

tickerHeadList = big_data['tickerHead'].unique()

no=1
trade_data = big_data
trade_data = big_data[big_data['mean_reversion_signif']==1]
#trade_data = big_data[big_data['mom5']>0]



#trade_data = trade_data[trade_data['tickerHead']==tickerHeadList[no]]
#trade_data = trade_data[trade_data['tickerHead']=='NG']
#print(tickerHeadList[no])

#S long side and RB long side were not all that profitable

pnl_field = 'hold_pnl10'


standard_short_stats1 = bs.get_summary_stats(trade_data[(trade_data['z1']>=0.6) & 
                                                     (trade_data['z1']<1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
standard_short_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']>=1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
    

standard_long_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']<=-1.2) &
                                                      (trade_data['QF']<=12)][pnl_field].values)
    
summary_frame = pd.DataFrame.from_items([('tier', ['short1','short2','long2']), 
                         ('reward_risk', [standard_short_stats1['reward_risk'],
                                         standard_short_stats2['reward_risk'],
                                         standard_long_stats2['reward_risk']]),                
                         ('mean_pnl', [standard_short_stats1['mean_pnl'],
                                         standard_short_stats2['mean_pnl'],
                                         standard_long_stats2['mean_pnl']]),                     
                        ('total_pnl', [standard_short_stats1['total_pnl'],
                                         standard_short_stats2['total_pnl'],
                                         standard_long_stats2['total_pnl']])])
display(summary_frame)

# waiting for a month seems to provide better results although this is more true for short then longs

     tier  reward_risk     mean_pnl      total_pnl
0  short1     0.595983  1624.980363  10815869.2940
1  short2     0.674250  2124.695807  13706412.6535
2   long2     0.506919  1712.888050  10265338.0810

In [5]:
import backtesting.backtest_stats as bs

import pandas as pd
from IPython.display import display

no=20
trade_data = big_data
trade_data = big_data[big_data['tickerHead']==tickerHeadList[no]]
print(tickerHeadList[no])

#S long side and RB long side were not all that profitable

pnl_field_list = ['hold_pnl5','hold_pnl10','hold_pnl20']

for pnl_field in pnl_field_list:
    standard_short_stats1 = bs.get_summary_stats(trade_data[(trade_data['z1']>=0.6) & 
                                                     (trade_data['z1']<1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
    standard_short_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']>=1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
    
    standard_long_stats1 = bs.get_summary_stats(trade_data[(trade_data['z1']<=-0.6) & 
                                                     (trade_data['z1']>-1.2) &
                                                      (trade_data['QF']<=12)][pnl_field].values)
    
    standard_long_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']<=-1.2) &
                                                      (trade_data['QF']<=12)][pnl_field].values)
    
    summary_frame = pd.DataFrame.from_items([('tier', ['short1','short2','long1','long2']), 
                         ('reward_risk', [standard_short_stats1['reward_risk'],
                                         standard_short_stats2['reward_risk'],
                                         standard_long_stats1['reward_risk'],
                                         standard_long_stats2['reward_risk']]),                
                         ('mean_pnl', [standard_short_stats1['mean_pnl'],
                                         standard_short_stats2['mean_pnl'],
                                         standard_long_stats1['mean_pnl'],
                                         standard_long_stats2['mean_pnl']]),                     
                        ('total_pnl', [standard_short_stats1['total_pnl'],
                                         standard_short_stats2['total_pnl'],
                                         standard_long_stats1['total_pnl'],
                                         standard_long_stats2['total_pnl']])])
    display(summary_frame)

# waiting for a month seems to provide better results although this is more true for short then longs

IndexError: index 20 is out of bounds for axis 0 with size 20

In [85]:
big_data['second_spread_weight_1'].quantile([0.1, 0.25, 0.5, 0.75, 0.99])

array(['B', 'BO', 'C', 'CC', 'CL', 'CT', 'ED', 'FC', 'HO', 'KC', 'KW',
       'LC', 'LN', 'NG', 'OJ', 'RB', 'S', 'SB', 'SM', 'W'], dtype=object)

In [7]:
import backtesting.backtest_stats as bs
import pandas as pd
from IPython.display import display

#trade_data = big_data[big_data['tickerClass']=='Energy']
# can trade all the way to three times of one contract versus the other, the results does't seem
# to be effected by that all that much!

trade_data = big_data
trade_data = trade_data[trade_data['second_spread_weight_1']>2]

pnl_field_list = ['hold_pnl5_per_contract','hold_pnl10_per_contract','hold_pnl20_per_contract']

for pnl_field in pnl_field_list:
    standard_short_stats1 = bs.get_summary_stats(trade_data[(trade_data['z1']>=0.6) & 
                                                     (trade_data['z1']<1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
    standard_short_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']>=1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
    
    standard_long_stats1 = bs.get_summary_stats(trade_data[(trade_data['z1']<=-0.6) & 
                                                     (trade_data['z1']>-1.2) &
                                                      (trade_data['QF']<=12)][pnl_field].values)
    
    standard_long_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']<=-1.2) &
                                                      (trade_data['QF']<=12)][pnl_field].values)
    
    summary_frame = pd.DataFrame.from_items([('tier', ['short1','short2','long1','long2']), 
                         ('reward_risk', [standard_short_stats1['reward_risk'],
                                         standard_short_stats2['reward_risk'],
                                         standard_long_stats1['reward_risk'],
                                         standard_long_stats2['reward_risk']]),                
                         ('mean_pnl', [standard_short_stats1['mean_pnl'],
                                         standard_short_stats2['mean_pnl'],
                                         standard_long_stats1['mean_pnl'],
                                         standard_long_stats2['mean_pnl']]),                     
                        ('total_pnl', [standard_short_stats1['total_pnl'],
                                         standard_short_stats2['total_pnl'],
                                         standard_long_stats1['total_pnl'],
                                         standard_long_stats2['total_pnl']])])
    display(summary_frame)

# waiting for a month seems to provide better results although this is more true for short then longs

     tier  reward_risk   mean_pnl    total_pnl
0  short1     0.119796   1.270421   321.416565
1  short2     0.746806  11.887401  4136.815640
2   long1    -0.001211  -0.010544    -5.324736
3   long2     0.283114   3.392508  1265.405657

     tier  reward_risk  mean_pnl    total_pnl
0  short1     0.204282  2.575923   654.284497
1  short2     0.163211  5.127525  1789.506134
2   long1    -0.200893 -2.545899 -1290.770885
3   long2     0.522997  6.779586  2549.124419

     tier  reward_risk   mean_pnl    total_pnl
0  short1     0.729487   8.716445  2213.977018
1  short2     0.422679  12.239052  4295.907208
2   long1    -0.116668  -2.032356 -1030.404355
3   long2     0.896204  13.701313  5151.693737

In [22]:
# some interesting results when you compare these iwth fixed holding periods
import backtesting.backtest_stats as bs
import pandas as pd
from IPython.display import display

trade_data = big_data


pnl_field_list = ['path_pnl5_per_contract',
                  'path_pnl10_per_contract',
                  'path_pnl15_per_contract',
                  'path_pnl20_per_contract',
                  'path_pnl25_per_contract']

for pnl_field in pnl_field_list:
    standard_short_stats1 = bs.get_summary_stats(trade_data[(trade_data['z1']>=0.6) & 
                                                     (trade_data['z1']<1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
    standard_short_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']>=1.2) &
                                                      (trade_data['QF']>=85)][pnl_field].values)
    
    standard_long_stats1 = bs.get_summary_stats(trade_data[(trade_data['z1']<=-0.6) & 
                                                     (trade_data['z1']>-1.2) &
                                                      (trade_data['QF']<=12)][pnl_field].values)
    
    standard_long_stats2 = bs.get_summary_stats(trade_data[(trade_data['z1']<=-1.2) &
                                                      (trade_data['QF']<=12)][pnl_field].values)
    
    summary_frame = pd.DataFrame.from_items([('tier', ['short1','short2','long1','long2']), 
                         ('reward_risk', [standard_short_stats1['reward_risk'],
                                         standard_short_stats2['reward_risk'],
                                         standard_long_stats1['reward_risk'],
                                         standard_long_stats2['reward_risk']]),
                          ('mean_pnl', [standard_short_stats1['mean_pnl'],
                                         standard_short_stats2['mean_pnl'],
                                         standard_long_stats1['mean_pnl'],
                                         standard_long_stats2['mean_pnl']]),                                   
                        ('total_pnl', [standard_short_stats1['total_pnl'],
                                         standard_short_stats2['total_pnl'],
                                         standard_long_stats1['total_pnl'],
                                         standard_long_stats2['total_pnl']])])
    display(summary_frame)

     tier  reward_risk  mean_pnl     total_pnl
0  short1     3.460401  5.174432  36329.683649
1  short2     3.795920  9.489801  66893.606245
2   long1     0.259133  1.231704   9114.611967
3   long2     2.554748  9.449739  63747.939878

     tier  reward_risk   mean_pnl     total_pnl
0  short1     3.396150   6.080134  42664.300782
1  short2     3.215697  10.900496  76826.692738
2   long1     0.162136   1.134242   8393.390407
3   long2     1.813641   9.915478  66869.980800

     tier  reward_risk   mean_pnl     total_pnl
0  short1     2.546106   6.686132  46916.586174
1  short2     2.359706  11.699662  82447.519486
2   long1     0.142708   1.281695   9484.540121
3   long2     1.466741  10.345209  69747.400584

     tier  reward_risk   mean_pnl     total_pnl
0  short1     2.013489   7.031633  49305.810505
1  short2     2.159577  12.380557  87208.643814
2   long1     0.107109   1.093764   8091.668421
3   long2     1.189466  10.313393  69532.898312

     tier  reward_risk   mean_pnl     total_pnl
0  short1     1.710191   7.040760  49355.726502
1  short2     2.043907  12.774421  89957.470671
2   long1     0.089112   1.012456   7490.145944
3   long2     1.088333  10.527027  70962.688875

In [6]:
long_trades['second_spread_weight_1']

186    0.53
206    0.72
207    0.73
261    0.96
274    1.09
287    0.33
299    1.11
300    0.84
305    0.55
310    0.31
312    1.36
313    0.90
318    0.60
323    0.26
329    0.29
330    0.25
Name: second_spread_weight_1, dtype: float64