In [1]:
import contract_utilities.expiration as exp
date_list = exp.get_bus_day_list(date_from=20160701,date_to=20160728)
date_list

[20160701,
 20160705,
 20160706,
 20160707,
 20160708,
 20160711,
 20160712,
 20160713,
 20160714,
 20160715,
 20160718,
 20160719,
 20160720,
 20160721,
 20160722,
 20160725,
 20160726,
 20160727,
 20160728]

In [2]:
import opportunity_constructs.intraday_breakouts as ibo
result_list = []
for i in range(len(date_list)):
    print(date_list[i])
    out_frame = ibo.generate_ibo_sheet_4date(date_to=date_list[i])
    sheet_4date = out_frame['sheet_4date']
    sheet_4date['trade_date'] = date_list[i]
    result_list.append(sheet_4date)

20160701
20160705
20160706
20160707
20160708
20160711
20160712
ADU2016
BU2016
BOZ2016
BPU2016
CZ2016
CCU2016
CDU2016
CLQ2016
CTZ2016
ECU2016
EDZ2016
ESU2016
FCQ2016
FVU2016
GCQ2016
HOQ2016
JYU2016
KCU2016
KWU2016
LCQ2016
LNQ2016
NGQ2016
NQU2016
OJU2016
RBQ2016
SX2016
SBV2016
SIU2016
SMZ2016
TUU2016
TYU2016
USU2016
WU2016
20160713
20160714
20160715
20160718
20160719
20160720
20160721
20160722
20160725
20160726
20160727
20160728

In [3]:
import pandas as pd
merged_frame = pd.concat(result_list)

import matplotlib.pyplot as plt
plt.plot(merged_frame['daily_pnl'].cumsum())
plt.grid()
plt.show()

In [4]:
import pandas as pd
grouped = merged_frame.groupby('trade_date')

portfolio = pd.DataFrame()
portfolio['pnl'] = grouped['daily_pnl'].sum()

import matplotlib.pyplot as plt
plt.plot(portfolio['pnl'].cumsum())
plt.grid()
plt.show()

In [5]:
import math as m
m.sqrt(252)*portfolio['pnl'].mean()/(portfolio['pnl'].std())

6.993323384170456

In [6]:
merged_frame.sort('daily_pnl')

     ticker  daily_pnl  trade_date
14  GCQ2016  -1000.000    20160708
12  FCQ2016   -818.750    20160720
25   SX2016   -781.250    20160715
24  RBQ2016   -678.300    20160701
12  FCQ2016   -662.500    20160728
12  FCQ2016   -662.500    20160727
24  RBQ2016   -648.900    20160706
25   SX2016   -643.750    20160720
24  RBQ2016   -632.100    20160715
12  FCQ2016   -618.750    20160708
27  SIU2016   -600.000    20160707
27  SIU2016   -600.000    20160722
15  HOQ2016   -594.300    20160706
24  RBQ2016   -583.800    20160711
27  SIU2016   -575.000    20160727
17  KCU2016   -571.875    20160715
14  GCQ2016   -570.000    20160706
12  FCQ2016   -568.750    20160726
27  SIU2016   -562.500    20160719
14  GCQ2016   -560.000    20160701
15  HOQ2016   -537.600    20160714
25   SX2016   -537.500    20160706
12  FCQ2016   -531.250    20160713
14  GCQ2016   -520.000    20160707
27  SIU2016   -512.500    20160715
15  HOQ2016   -510.300    20160712
25   SX2016   -506.250    20160721
15  HOQ2016   -504.000    20160715
25   SX2016   -500.000    20160708
28  SMZ2016   -500.000    20160715
..      ...        ...         ...
28  SMZ2016    800.000    20160718
20  LNV2016    815.000    20160727
23  OJU2016    836.250    20160726
14  GCQ2016    870.000    20160712
15  HOU2016    879.900    20160728
19  LCQ2016    885.000    20160713
28  SMZ2016   1005.000    20160707
12  FCQ2016   1006.250    20160715
12  FCQ2016   1025.000    20160718
25   SX2016   1037.500    20160712
25   SX2016   1075.000    20160718
15  HOU2016   1110.900    20160720
24  RBU2016   1165.500    20160728
15  HOQ2016   1215.900    20160713
15  HOQ2016   1262.100    20160701
14  GCQ2016   1270.000    20160721
17  KCU2016   1293.750    20160718
27  SIU2016   1375.000    20160708
21  NGU2016   1445.000    20160728
25   SX2016   1687.500    20160707
12  FCQ2016   1806.250    20160721
28  SMZ2016   1845.000    20160714
27  SIU2016   2237.500    20160721
25   SX2016   2250.000    20160714
27  SIU2016   2487.500    20160701
7   CLQ2016   2730.000    20160707
1    BU2016   2920.000    20160707
15  HOQ2016   3366.300    20160707
24  RBQ2016   3672.900    20160707
23  OJU2016        NaN    20160728

[627 rows x 3 columns]

In [7]:

import futures_charts.intraday_charts as ic
ic.get_intraday_breakout_chart(ticker='RBQ2016',trade_date=20160707)

In [20]:
import signals.intraday_futures_signals as ifs
signals_output = ifs.get_intraday_trend_signals(ticker='OJU2016',date_to=20160725)
signals_output['daily_pnl']

OJU2016

-75.0

In [49]:
import datetime as dt
wuhu = dt.time(13,3,0,0,central)

print(wuhu.tzinfo)

US/Central

In [18]:
intraday_data.iloc[600:650]

                     best_bid_p best_bid_q  best_ask_p best_ask_q    mid_p
2016-07-28 10:30:00      180.25          1      180.40          4  180.325
2016-07-28 10:31:00      180.25          1      180.40          3  180.325
2016-07-28 10:32:00      180.20          1      180.30          2  180.250
2016-07-28 10:33:00      180.05          3      180.35          5  180.200
2016-07-28 10:34:00      180.05          3      180.35          9  180.200
2016-07-28 10:35:00      180.00         10      180.35          9  180.175
2016-07-28 10:36:00      180.00          4      180.20          3  180.100
2016-07-28 10:37:00      180.00          4      180.15          5  180.075
2016-07-28 10:38:00      180.00          4      180.10          6  180.050
2016-07-28 10:39:00      179.90          1      180.15          5  180.025
2016-07-28 10:40:00      179.90          1      180.15          4  180.025
2016-07-28 10:41:00         NaN        NaN      179.80         32      NaN
2016-07-28 10:42:00         NaN        NaN      179.80         29      NaN
2016-07-28 10:43:00         NaN        NaN      179.80         32      NaN
2016-07-28 10:44:00         NaN        NaN      179.80         32      NaN
2016-07-28 10:45:00         NaN        NaN      179.80         32      NaN
2016-07-28 10:46:00         NaN        NaN      179.80         32      NaN
2016-07-28 10:47:00         NaN        NaN      179.80         32      NaN
2016-07-28 10:48:00         NaN        NaN      179.80         34      NaN
2016-07-28 10:49:00         NaN        NaN      179.80         38      NaN
2016-07-28 10:50:00         NaN        NaN      179.80         39      NaN
2016-07-28 10:51:00         NaN        NaN      179.80         44      NaN
2016-07-28 10:52:00         NaN        NaN      179.80         42      NaN
2016-07-28 10:53:00         NaN        NaN      179.80         42      NaN
2016-07-28 10:54:00         NaN        NaN      179.80         42      NaN
2016-07-28 10:55:00         NaN        NaN      179.80         39      NaN
2016-07-28 10:56:00         NaN        NaN      179.80         45      NaN
2016-07-28 10:57:00         NaN        NaN      179.80         10      NaN
2016-07-28 10:58:00         NaN        NaN      179.80          6      NaN
2016-07-28 10:59:00         NaN        NaN      179.80          6      NaN
2016-07-28 11:00:00         NaN        NaN      179.80          8      NaN
2016-07-28 11:01:00         NaN        NaN      180.20          2      NaN
2016-07-28 11:02:00         NaN        NaN      180.05          3      NaN
2016-07-28 11:03:00      179.80          1      180.00          3  179.900
2016-07-28 11:04:00      179.80          2      180.00          8  179.900
2016-07-28 11:05:00      179.80          2      180.00         13  179.900
2016-07-28 11:06:00      179.80          2      179.85          2  179.825
2016-07-28 11:07:00         NaN        NaN      179.80         39      NaN
2016-07-28 11:08:00         NaN        NaN      179.80         60      NaN
2016-07-28 11:09:00         NaN        NaN      179.80         61      NaN
2016-07-28 11:10:00         NaN        NaN      179.80         61      NaN
2016-07-28 11:11:00         NaN        NaN      179.80         61      NaN
2016-07-28 11:12:00         NaN        NaN      179.80         61      NaN
2016-07-28 11:13:00         NaN        NaN      179.80         60      NaN
2016-07-28 11:14:00         NaN        NaN      179.80         60      NaN
2016-07-28 11:15:00         NaN        NaN      179.80         60      NaN
2016-07-28 11:16:00         NaN        NaN      179.80         62      NaN
2016-07-28 11:17:00         NaN        NaN      179.80         62      NaN
2016-07-28 11:18:00         NaN        NaN      179.80         62      NaN
2016-07-28 11:19:00         NaN        NaN      179.80         62      NaN

In [8]:
import contract_utilities.contract_meta_info as cmi
import datetime as dt
dt.time(13,1)>cmi.last_trade_hour_minute['LN']

False

In [17]:
import opportunity_constructs.utilities as opUtil
ticker = 'LNV2016'
date_list = 20160711
intraday_data = opUtil.get_aligned_futures_data_intraday(contract_list=[ticker],
                                       date_list=[date_list])

#intraday_data.index[0].time<cmi.last_trade_hour_minute['LN'].hour

cmi.last_trade_hour_minute['LN'].hour

intraday_data.index[0].to_datetime().time()>cmi.last_trade_hour_minute['LN']

selection_indx = [x for x in range(len(intraday_data.index)) if intraday_data.index[x].to_datetime().time()<cmi.last_trade_hour_minute['LN']]

In [18]:
intraday_data.iloc[selection_indx]

                            c1
                    best_bid_p best_bid_q best_ask_p best_ask_q
2016-07-11 04:30:00        NaN        NaN        NaN        NaN
2016-07-11 04:31:00     68.300          5     69.550          8
2016-07-11 04:32:00     68.300          5     69.550          8
2016-07-11 04:33:00     68.300          5     69.550          8
2016-07-11 04:34:00     68.300          5     69.550          8
2016-07-11 04:35:00     68.300          5     69.550          8
2016-07-11 04:36:00     68.300          5     69.550          8
2016-07-11 04:37:00     68.300          5     69.550          8
2016-07-11 04:38:00     68.300          5     69.550          8
2016-07-11 04:39:00     68.300          5     69.550          8
2016-07-11 04:40:00     68.300          5     69.550          8
2016-07-11 04:41:00     68.300          5     69.550          8
2016-07-11 04:42:00     68.300          5     69.550          8
2016-07-11 04:43:00     68.300          5     69.550          8
2016-07-11 04:44:00     68.300          5     69.550          8
2016-07-11 04:45:00     68.300          5     69.550          8
2016-07-11 04:46:00     68.300          5     69.550          8
2016-07-11 04:47:00     68.300          5     69.550          8
2016-07-11 04:48:00     68.300          5     69.550          8
2016-07-11 04:49:00     68.300          5     69.550          8
2016-07-11 04:50:00     68.300          5     69.550          8
2016-07-11 04:51:00     68.300          5     69.550          8
2016-07-11 04:52:00     68.300          5     69.550          8
2016-07-11 04:53:00     68.300          5     69.550          8
2016-07-11 04:54:00     68.300          5     69.550          8
2016-07-11 04:55:00     68.300          5     69.550          8
2016-07-11 04:56:00     68.300          5     69.550          8
2016-07-11 04:57:00     68.300          5     69.550          8
2016-07-11 04:58:00     68.300          5     69.550          8
2016-07-11 04:59:00     68.300          5     69.550          8
...                        ...        ...        ...        ...
2016-07-11 12:33:00     68.025          4     68.075         12
2016-07-11 12:34:00     68.125          5     68.175          9
2016-07-11 12:35:00     68.125          4     68.150          4
2016-07-11 12:36:00     68.100          1     68.125          4
2016-07-11 12:37:00     68.075          4     68.125          8
2016-07-11 12:38:00     68.000          4     68.050         12
2016-07-11 12:39:00     67.950          2     68.000         10
2016-07-11 12:40:00     67.925          3     67.975          7
2016-07-11 12:41:00     67.850          6     67.875          1
2016-07-11 12:42:00     67.900          8     67.950          7
2016-07-11 12:43:00     68.025          1     68.075          4
2016-07-11 12:44:00     68.025          5     68.075          3
2016-07-11 12:45:00     68.050          2     68.075          3
2016-07-11 12:46:00     68.000          5     68.050          5
2016-07-11 12:47:00     68.000          9     68.050          7
2016-07-11 12:48:00     68.000          1     68.050          7
2016-07-11 12:49:00     68.025          4     68.075          6
2016-07-11 12:50:00     67.925          1     67.975          7
2016-07-11 12:51:00     67.900          1     67.950         13
2016-07-11 12:52:00     67.900          2     67.925          1
2016-07-11 12:53:00     67.875          5     67.900          1
2016-07-11 12:54:00     67.950          2     67.975          2
2016-07-11 12:55:00     67.900          8     67.950          1
2016-07-11 12:56:00     68.025          3     68.050          7
2016-07-11 12:57:00     68.000          6     68.050          8
2016-07-11 12:58:00     68.050          1     68.075          4
2016-07-11 12:59:00     68.100          3     68.150          8
2016-07-11 13:00:00     68.100         12     68.150          6
2016-07-11 13:01:00     68.025          3     68.075          6
2016-07-11 13:02:00     68.125         10     68.150          5

[513 rows x 4 columns]